.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
}

.openmoji-1F383 {
  background-image: url('activities-00.png');
  background-position: -0px -0px;
}
.openmoji-1F384 {
  background-image: url('activities-00.png');
  background-position: -72px -0px;
}
.openmoji-1F386 {
  background-image: url('activities-00.png');
  background-position: -144px -0px;
}
.openmoji-1F387 {
  background-image: url('activities-00.png');
  background-position: -216px -0px;
}
.openmoji-1F9E8 {
  background-image: url('activities-00.png');
  background-position: -288px -0px;
}
.openmoji-2728 {
  background-image: url('activities-00.png');
  background-position: -360px -0px;
}
.openmoji-1F388 {
  background-image: url('activities-00.png');
  background-position: -432px -0px;
}
.openmoji-1F389 {
  background-image: url('activities-00.png');
  background-position: -504px -0px;
}
.openmoji-1F38A {
  background-image: url('activities-00.png');
  background-position: -576px -0px;
}
.openmoji-1F38B {
  background-image: url('activities-00.png');
  background-position: -648px -0px;
}
.openmoji-1F38D {
  background-image: url('activities-00.png');
  background-position: -720px -0px;
}
.openmoji-1F38E {
  background-image: url('activities-00.png');
  background-position: -792px -0px;
}
.openmoji-1F38F {
  background-image: url('activities-00.png');
  background-position: -864px -0px;
}
.openmoji-1F390 {
  background-image: url('activities-00.png');
  background-position: -936px -0px;
}
.openmoji-1F391 {
  background-image: url('activities-00.png');
  background-position: -1008px -0px;
}
.openmoji-1F9E7 {
  background-image: url('activities-00.png');
  background-position: -1080px -0px;
}
.openmoji-1F380 {
  background-image: url('activities-00.png');
  background-position: -0px -72px;
}
.openmoji-1F381 {
  background-image: url('activities-00.png');
  background-position: -72px -72px;
}
.openmoji-1F397 {
  background-image: url('activities-00.png');
  background-position: -144px -72px;
}
.openmoji-1F39F {
  background-image: url('activities-00.png');
  background-position: -216px -72px;
}
.openmoji-1F3AB {
  background-image: url('activities-00.png');
  background-position: -288px -72px;
}
.openmoji-1F396 {
  background-image: url('activities-00.png');
  background-position: -360px -72px;
}
.openmoji-1F3C6 {
  background-image: url('activities-00.png');
  background-position: -432px -72px;
}
.openmoji-1F3C5 {
  background-image: url('activities-00.png');
  background-position: -504px -72px;
}
.openmoji-1F947 {
  background-image: url('activities-00.png');
  background-position: -576px -72px;
}
.openmoji-1F948 {
  background-image: url('activities-00.png');
  background-position: -648px -72px;
}
.openmoji-1F949 {
  background-image: url('activities-00.png');
  background-position: -720px -72px;
}
.openmoji-26BD {
  background-image: url('activities-00.png');
  background-position: -792px -72px;
}
.openmoji-26BE {
  background-image: url('activities-00.png');
  background-position: -864px -72px;
}
.openmoji-1F94E {
  background-image: url('activities-00.png');
  background-position: -936px -72px;
}
.openmoji-1F3C0 {
  background-image: url('activities-00.png');
  background-position: -1008px -72px;
}
.openmoji-1F3D0 {
  background-image: url('activities-00.png');
  background-position: -1080px -72px;
}
.openmoji-1F3C8 {
  background-image: url('activities-00.png');
  background-position: -0px -144px;
}
.openmoji-1F3C9 {
  background-image: url('activities-00.png');
  background-position: -72px -144px;
}
.openmoji-1F3BE {
  background-image: url('activities-00.png');
  background-position: -144px -144px;
}
.openmoji-1F94F {
  background-image: url('activities-00.png');
  background-position: -216px -144px;
}
.openmoji-1F3B3 {
  background-image: url('activities-00.png');
  background-position: -288px -144px;
}
.openmoji-1F3CF {
  background-image: url('activities-00.png');
  background-position: -360px -144px;
}
.openmoji-1F3D1 {
  background-image: url('activities-00.png');
  background-position: -432px -144px;
}
.openmoji-1F3D2 {
  background-image: url('activities-00.png');
  background-position: -504px -144px;
}
.openmoji-1F94D {
  background-image: url('activities-00.png');
  background-position: -576px -144px;
}
.openmoji-1F3D3 {
  background-image: url('activities-00.png');
  background-position: -648px -144px;
}
.openmoji-1F3F8 {
  background-image: url('activities-00.png');
  background-position: -720px -144px;
}
.openmoji-1F94A {
  background-image: url('activities-00.png');
  background-position: -792px -144px;
}
.openmoji-1F94B {
  background-image: url('activities-00.png');
  background-position: -864px -144px;
}
.openmoji-1F945 {
  background-image: url('activities-00.png');
  background-position: -936px -144px;
}
.openmoji-26F3 {
  background-image: url('activities-00.png');
  background-position: -1008px -144px;
}
.openmoji-26F8 {
  background-image: url('activities-00.png');
  background-position: -1080px -144px;
}
.openmoji-1F3A3 {
  background-image: url('activities-00.png');
  background-position: -0px -216px;
}
.openmoji-1F93F {
  background-image: url('activities-00.png');
  background-position: -72px -216px;
}
.openmoji-1F3BD {
  background-image: url('activities-00.png');
  background-position: -144px -216px;
}
.openmoji-1F3BF {
  background-image: url('activities-00.png');
  background-position: -216px -216px;
}
.openmoji-1F6F7 {
  background-image: url('activities-00.png');
  background-position: -288px -216px;
}
.openmoji-1F94C {
  background-image: url('activities-00.png');
  background-position: -360px -216px;
}
.openmoji-1F3AF {
  background-image: url('activities-00.png');
  background-position: -432px -216px;
}
.openmoji-1FA80 {
  background-image: url('activities-00.png');
  background-position: -504px -216px;
}
.openmoji-1FA81 {
  background-image: url('activities-00.png');
  background-position: -576px -216px;
}
.openmoji-1F3B1 {
  background-image: url('activities-00.png');
  background-position: -648px -216px;
}
.openmoji-1F52E {
  background-image: url('activities-00.png');
  background-position: -720px -216px;
}
.openmoji-1FA84 {
  background-image: url('activities-00.png');
  background-position: -792px -216px;
}
.openmoji-1F9FF {
  background-image: url('activities-00.png');
  background-position: -864px -216px;
}
.openmoji-1F3AE {
  background-image: url('activities-00.png');
  background-position: -936px -216px;
}
.openmoji-1F579 {
  background-image: url('activities-00.png');
  background-position: -1008px -216px;
}
.openmoji-1F3B0 {
  background-image: url('activities-00.png');
  background-position: -1080px -216px;
}
.openmoji-1F3B2 {
  background-image: url('activities-00.png');
  background-position: -0px -288px;
}
.openmoji-1F9E9 {
  background-image: url('activities-00.png');
  background-position: -72px -288px;
}
.openmoji-1F9F8 {
  background-image: url('activities-00.png');
  background-position: -144px -288px;
}
.openmoji-1FA85 {
  background-image: url('activities-00.png');
  background-position: -216px -288px;
}
.openmoji-1FA86 {
  background-image: url('activities-00.png');
  background-position: -288px -288px;
}
.openmoji-2660 {
  background-image: url('activities-00.png');
  background-position: -360px -288px;
}
.openmoji-2665 {
  background-image: url('activities-00.png');
  background-position: -432px -288px;
}
.openmoji-2666 {
  background-image: url('activities-00.png');
  background-position: -504px -288px;
}
.openmoji-2663 {
  background-image: url('activities-00.png');
  background-position: -576px -288px;
}
.openmoji-265F {
  background-image: url('activities-00.png');
  background-position: -648px -288px;
}
.openmoji-1F0CF {
  background-image: url('activities-00.png');
  background-position: -720px -288px;
}
.openmoji-1F004 {
  background-image: url('activities-00.png');
  background-position: -792px -288px;
}
.openmoji-1F3B4 {
  background-image: url('activities-00.png');
  background-position: -864px -288px;
}
.openmoji-1F3AD {
  background-image: url('activities-00.png');
  background-position: -936px -288px;
}
.openmoji-1F5BC {
  background-image: url('activities-00.png');
  background-position: -1008px -288px;
}
.openmoji-1F3A8 {
  background-image: url('activities-00.png');
  background-position: -1080px -288px;
}
.openmoji-1F9F5 {
  background-image: url('activities-00.png');
  background-position: -0px -360px;
}
.openmoji-1F9F6 {
  background-image: url('activities-00.png');
  background-position: -72px -360px;
}
