.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
}

.openmoji-1F435 {
  background-image: url('animals-nature-00.png');
  background-position: -0px -0px;
}
.openmoji-1F412 {
  background-image: url('animals-nature-00.png');
  background-position: -72px -0px;
}
.openmoji-1F98D {
  background-image: url('animals-nature-00.png');
  background-position: -144px -0px;
}
.openmoji-1F9A7 {
  background-image: url('animals-nature-00.png');
  background-position: -216px -0px;
}
.openmoji-1F436 {
  background-image: url('animals-nature-00.png');
  background-position: -288px -0px;
}
.openmoji-1F415 {
  background-image: url('animals-nature-00.png');
  background-position: -360px -0px;
}
.openmoji-1F9AE {
  background-image: url('animals-nature-00.png');
  background-position: -432px -0px;
}
.openmoji-1F415-200D-1F9BA {
  background-image: url('animals-nature-00.png');
  background-position: -504px -0px;
}
.openmoji-1F429 {
  background-image: url('animals-nature-00.png');
  background-position: -576px -0px;
}
.openmoji-1F43A {
  background-image: url('animals-nature-00.png');
  background-position: -648px -0px;
}
.openmoji-1F98A {
  background-image: url('animals-nature-00.png');
  background-position: -720px -0px;
}
.openmoji-1F99D {
  background-image: url('animals-nature-00.png');
  background-position: -792px -0px;
}
.openmoji-1F431 {
  background-image: url('animals-nature-00.png');
  background-position: -864px -0px;
}
.openmoji-1F408 {
  background-image: url('animals-nature-00.png');
  background-position: -936px -0px;
}
.openmoji-1F408-200D-2B1B {
  background-image: url('animals-nature-00.png');
  background-position: -1008px -0px;
}
.openmoji-1F981 {
  background-image: url('animals-nature-00.png');
  background-position: -1080px -0px;
}
.openmoji-1F42F {
  background-image: url('animals-nature-00.png');
  background-position: -0px -72px;
}
.openmoji-1F405 {
  background-image: url('animals-nature-00.png');
  background-position: -72px -72px;
}
.openmoji-1F406 {
  background-image: url('animals-nature-00.png');
  background-position: -144px -72px;
}
.openmoji-1F434 {
  background-image: url('animals-nature-00.png');
  background-position: -216px -72px;
}
.openmoji-1F40E {
  background-image: url('animals-nature-00.png');
  background-position: -288px -72px;
}
.openmoji-1F984 {
  background-image: url('animals-nature-00.png');
  background-position: -360px -72px;
}
.openmoji-1F993 {
  background-image: url('animals-nature-00.png');
  background-position: -432px -72px;
}
.openmoji-1F98C {
  background-image: url('animals-nature-00.png');
  background-position: -504px -72px;
}
.openmoji-1F42E {
  background-image: url('animals-nature-00.png');
  background-position: -576px -72px;
}
.openmoji-1F402 {
  background-image: url('animals-nature-00.png');
  background-position: -648px -72px;
}
.openmoji-1F403 {
  background-image: url('animals-nature-00.png');
  background-position: -720px -72px;
}
.openmoji-1F404 {
  background-image: url('animals-nature-00.png');
  background-position: -792px -72px;
}
.openmoji-1F437 {
  background-image: url('animals-nature-00.png');
  background-position: -864px -72px;
}
.openmoji-1F416 {
  background-image: url('animals-nature-00.png');
  background-position: -936px -72px;
}
.openmoji-1F417 {
  background-image: url('animals-nature-00.png');
  background-position: -1008px -72px;
}
.openmoji-1F43D {
  background-image: url('animals-nature-00.png');
  background-position: -1080px -72px;
}
.openmoji-1F40F {
  background-image: url('animals-nature-00.png');
  background-position: -0px -144px;
}
.openmoji-1F411 {
  background-image: url('animals-nature-00.png');
  background-position: -72px -144px;
}
.openmoji-1F410 {
  background-image: url('animals-nature-00.png');
  background-position: -144px -144px;
}
.openmoji-1F42A {
  background-image: url('animals-nature-00.png');
  background-position: -216px -144px;
}
.openmoji-1F42B {
  background-image: url('animals-nature-00.png');
  background-position: -288px -144px;
}
.openmoji-1F999 {
  background-image: url('animals-nature-00.png');
  background-position: -360px -144px;
}
.openmoji-1F992 {
  background-image: url('animals-nature-00.png');
  background-position: -432px -144px;
}
.openmoji-1F418 {
  background-image: url('animals-nature-00.png');
  background-position: -504px -144px;
}
.openmoji-1F98F {
  background-image: url('animals-nature-00.png');
  background-position: -576px -144px;
}
.openmoji-1F99B {
  background-image: url('animals-nature-00.png');
  background-position: -648px -144px;
}
.openmoji-1F42D {
  background-image: url('animals-nature-00.png');
  background-position: -720px -144px;
}
.openmoji-1F401 {
  background-image: url('animals-nature-00.png');
  background-position: -792px -144px;
}
.openmoji-1F400 {
  background-image: url('animals-nature-00.png');
  background-position: -864px -144px;
}
.openmoji-1F439 {
  background-image: url('animals-nature-00.png');
  background-position: -936px -144px;
}
.openmoji-1F430 {
  background-image: url('animals-nature-00.png');
  background-position: -1008px -144px;
}
.openmoji-1F407 {
  background-image: url('animals-nature-00.png');
  background-position: -1080px -144px;
}
.openmoji-1F43F {
  background-image: url('animals-nature-00.png');
  background-position: -0px -216px;
}
.openmoji-1F994 {
  background-image: url('animals-nature-00.png');
  background-position: -72px -216px;
}
.openmoji-1F987 {
  background-image: url('animals-nature-00.png');
  background-position: -144px -216px;
}
.openmoji-1F43B {
  background-image: url('animals-nature-00.png');
  background-position: -216px -216px;
}
.openmoji-1F43B-200D-2744-FE0F {
  background-image: url('animals-nature-00.png');
  background-position: -288px -216px;
}
.openmoji-1F428 {
  background-image: url('animals-nature-00.png');
  background-position: -360px -216px;
}
.openmoji-1F43C {
  background-image: url('animals-nature-00.png');
  background-position: -432px -216px;
}
.openmoji-1F9A5 {
  background-image: url('animals-nature-00.png');
  background-position: -504px -216px;
}
.openmoji-1F9A6 {
  background-image: url('animals-nature-00.png');
  background-position: -576px -216px;
}
.openmoji-1F9A8 {
  background-image: url('animals-nature-00.png');
  background-position: -648px -216px;
}
.openmoji-1F998 {
  background-image: url('animals-nature-00.png');
  background-position: -720px -216px;
}
.openmoji-1F9A1 {
  background-image: url('animals-nature-00.png');
  background-position: -792px -216px;
}
.openmoji-1F43E {
  background-image: url('animals-nature-00.png');
  background-position: -864px -216px;
}
.openmoji-1F983 {
  background-image: url('animals-nature-00.png');
  background-position: -936px -216px;
}
.openmoji-1F414 {
  background-image: url('animals-nature-00.png');
  background-position: -1008px -216px;
}
.openmoji-1F413 {
  background-image: url('animals-nature-00.png');
  background-position: -1080px -216px;
}
.openmoji-1F423 {
  background-image: url('animals-nature-00.png');
  background-position: -0px -288px;
}
.openmoji-1F424 {
  background-image: url('animals-nature-00.png');
  background-position: -72px -288px;
}
.openmoji-1F425 {
  background-image: url('animals-nature-00.png');
  background-position: -144px -288px;
}
.openmoji-1F426 {
  background-image: url('animals-nature-00.png');
  background-position: -216px -288px;
}
.openmoji-1F427 {
  background-image: url('animals-nature-00.png');
  background-position: -288px -288px;
}
.openmoji-1F54A {
  background-image: url('animals-nature-00.png');
  background-position: -360px -288px;
}
.openmoji-1F985 {
  background-image: url('animals-nature-00.png');
  background-position: -432px -288px;
}
.openmoji-1F986 {
  background-image: url('animals-nature-00.png');
  background-position: -504px -288px;
}
.openmoji-1F9A2 {
  background-image: url('animals-nature-00.png');
  background-position: -576px -288px;
}
.openmoji-1F989 {
  background-image: url('animals-nature-00.png');
  background-position: -648px -288px;
}
.openmoji-1F9A9 {
  background-image: url('animals-nature-00.png');
  background-position: -720px -288px;
}
.openmoji-1F99A {
  background-image: url('animals-nature-00.png');
  background-position: -792px -288px;
}
.openmoji-1F99C {
  background-image: url('animals-nature-00.png');
  background-position: -864px -288px;
}
.openmoji-1F438 {
  background-image: url('animals-nature-00.png');
  background-position: -936px -288px;
}
.openmoji-1F40A {
  background-image: url('animals-nature-00.png');
  background-position: -1008px -288px;
}
.openmoji-1F422 {
  background-image: url('animals-nature-00.png');
  background-position: -1080px -288px;
}
.openmoji-1F98E {
  background-image: url('animals-nature-00.png');
  background-position: -0px -360px;
}
.openmoji-1F40D {
  background-image: url('animals-nature-00.png');
  background-position: -72px -360px;
}
.openmoji-1F432 {
  background-image: url('animals-nature-00.png');
  background-position: -144px -360px;
}
.openmoji-1F409 {
  background-image: url('animals-nature-00.png');
  background-position: -216px -360px;
}
.openmoji-1F995 {
  background-image: url('animals-nature-00.png');
  background-position: -288px -360px;
}
.openmoji-1F996 {
  background-image: url('animals-nature-00.png');
  background-position: -360px -360px;
}
.openmoji-1F433 {
  background-image: url('animals-nature-00.png');
  background-position: -432px -360px;
}
.openmoji-1F40B {
  background-image: url('animals-nature-00.png');
  background-position: -504px -360px;
}
.openmoji-1F42C {
  background-image: url('animals-nature-00.png');
  background-position: -576px -360px;
}
.openmoji-1F41F {
  background-image: url('animals-nature-00.png');
  background-position: -648px -360px;
}
.openmoji-1F420 {
  background-image: url('animals-nature-00.png');
  background-position: -720px -360px;
}
.openmoji-1F421 {
  background-image: url('animals-nature-00.png');
  background-position: -792px -360px;
}
.openmoji-1F988 {
  background-image: url('animals-nature-00.png');
  background-position: -864px -360px;
}
.openmoji-1F419 {
  background-image: url('animals-nature-00.png');
  background-position: -936px -360px;
}
.openmoji-1F41A {
  background-image: url('animals-nature-00.png');
  background-position: -1008px -360px;
}
.openmoji-1F40C {
  background-image: url('animals-nature-00.png');
  background-position: -1080px -360px;
}
.openmoji-1F98B {
  background-image: url('animals-nature-00.png');
  background-position: -0px -432px;
}
.openmoji-1F41B {
  background-image: url('animals-nature-00.png');
  background-position: -72px -432px;
}
.openmoji-1F41C {
  background-image: url('animals-nature-00.png');
  background-position: -144px -432px;
}
.openmoji-1F41D {
  background-image: url('animals-nature-00.png');
  background-position: -216px -432px;
}
.openmoji-1F41E {
  background-image: url('animals-nature-00.png');
  background-position: -288px -432px;
}
.openmoji-1F997 {
  background-image: url('animals-nature-00.png');
  background-position: -360px -432px;
}
.openmoji-1F577 {
  background-image: url('animals-nature-00.png');
  background-position: -432px -432px;
}
.openmoji-1F578 {
  background-image: url('animals-nature-00.png');
  background-position: -504px -432px;
}
.openmoji-1F982 {
  background-image: url('animals-nature-00.png');
  background-position: -576px -432px;
}
.openmoji-1F99F {
  background-image: url('animals-nature-00.png');
  background-position: -648px -432px;
}
.openmoji-1FAB0 {
  background-image: url('animals-nature-00.png');
  background-position: -720px -432px;
}
.openmoji-1FAB1 {
  background-image: url('animals-nature-00.png');
  background-position: -792px -432px;
}
.openmoji-1F9A0 {
  background-image: url('animals-nature-00.png');
  background-position: -864px -432px;
}
.openmoji-1F490 {
  background-image: url('animals-nature-00.png');
  background-position: -936px -432px;
}
.openmoji-1F338 {
  background-image: url('animals-nature-00.png');
  background-position: -1008px -432px;
}
.openmoji-1F4AE {
  background-image: url('animals-nature-00.png');
  background-position: -1080px -432px;
}
.openmoji-1F3F5 {
  background-image: url('animals-nature-00.png');
  background-position: -0px -504px;
}
.openmoji-1F339 {
  background-image: url('animals-nature-00.png');
  background-position: -72px -504px;
}
.openmoji-1F940 {
  background-image: url('animals-nature-00.png');
  background-position: -144px -504px;
}
.openmoji-1F33A {
  background-image: url('animals-nature-00.png');
  background-position: -216px -504px;
}
.openmoji-1F33B {
  background-image: url('animals-nature-00.png');
  background-position: -288px -504px;
}
.openmoji-1F33C {
  background-image: url('animals-nature-00.png');
  background-position: -360px -504px;
}
.openmoji-1F337 {
  background-image: url('animals-nature-00.png');
  background-position: -432px -504px;
}
.openmoji-1F331 {
  background-image: url('animals-nature-00.png');
  background-position: -504px -504px;
}
.openmoji-1F332 {
  background-image: url('animals-nature-00.png');
  background-position: -576px -504px;
}
.openmoji-1F333 {
  background-image: url('animals-nature-00.png');
  background-position: -648px -504px;
}
.openmoji-1F334 {
  background-image: url('animals-nature-00.png');
  background-position: -720px -504px;
}
.openmoji-1F335 {
  background-image: url('animals-nature-00.png');
  background-position: -792px -504px;
}
.openmoji-1F33E {
  background-image: url('animals-nature-00.png');
  background-position: -864px -504px;
}
.openmoji-1F33F {
  background-image: url('animals-nature-00.png');
  background-position: -936px -504px;
}
.openmoji-2618 {
  background-image: url('animals-nature-00.png');
  background-position: -1008px -504px;
}
.openmoji-1F340 {
  background-image: url('animals-nature-00.png');
  background-position: -1080px -504px;
}
.openmoji-1F341 {
  background-image: url('animals-nature-00.png');
  background-position: -0px -576px;
}
.openmoji-1F342 {
  background-image: url('animals-nature-00.png');
  background-position: -72px -576px;
}
.openmoji-1F343 {
  background-image: url('animals-nature-00.png');
  background-position: -144px -576px;
}
