.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-image: url('extras-unicode.png');
  background-repeat: no-repeat;
}

.openmoji-25A1 {
  background-position: -0px -0px;
}
.openmoji-2B0C {
  background-position: -72px -0px;
}
.openmoji-2B0D {
  background-position: -144px -0px;
}
.openmoji-2B8F {
  background-position: -216px -0px;
}
