.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-image: url('extras-openmoji.png');
  background-repeat: no-repeat;
}

.openmoji-E000 {
  background-position: -0px -0px;
}
.openmoji-E001 {
  background-position: -72px -0px;
}
.openmoji-E002 {
  background-position: -144px -0px;
}
.openmoji-E040 {
  background-position: -216px -0px;
}
.openmoji-E041 {
  background-position: -288px -0px;
}
.openmoji-E042 {
  background-position: -360px -0px;
}
.openmoji-E043 {
  background-position: -432px -0px;
}
.openmoji-E044 {
  background-position: -504px -0px;
}
.openmoji-E045 {
  background-position: -0px -72px;
}
.openmoji-E2C0 {
  background-position: -72px -72px;
}
.openmoji-E2C1 {
  background-position: -144px -72px;
}
.openmoji-E2C2 {
  background-position: -216px -72px;
}
.openmoji-E2C3 {
  background-position: -288px -72px;
}
.openmoji-E2C4 {
  background-position: -360px -72px;
}
.openmoji-E2C6 {
  background-position: -432px -72px;
}
.openmoji-E2C7 {
  background-position: -504px -72px;
}
.openmoji-E2C8 {
  background-position: -0px -144px;
}
.openmoji-E2C9 {
  background-position: -72px -144px;
}
.openmoji-E2CA {
  background-position: -144px -144px;
}
.openmoji-E2CB {
  background-position: -216px -144px;
}
.openmoji-E2CC {
  background-position: -288px -144px;
}
.openmoji-E2CD {
  background-position: -360px -144px;
}
.openmoji-E2CE {
  background-position: -432px -144px;
}
.openmoji-E2CF {
  background-position: -504px -144px;
}
.openmoji-E2D0 {
  background-position: -0px -216px;
}
.openmoji-E2D1 {
  background-position: -72px -216px;
}
.openmoji-E2D2 {
  background-position: -144px -216px;
}
.openmoji-E2D3 {
  background-position: -216px -216px;
}
.openmoji-E2D4 {
  background-position: -288px -216px;
}
.openmoji-E2D5 {
  background-position: -360px -216px;
}
.openmoji-E2D6 {
  background-position: -432px -216px;
}
.openmoji-E2D7 {
  background-position: -504px -216px;
}
.openmoji-E2D8 {
  background-position: -0px -288px;
}
.openmoji-E2D9 {
  background-position: -72px -288px;
}
.openmoji-E2DA {
  background-position: -144px -288px;
}
.openmoji-E080 {
  background-position: -216px -288px;
}
.openmoji-E081 {
  background-position: -288px -288px;
}
.openmoji-E082 {
  background-position: -360px -288px;
}
.openmoji-E083 {
  background-position: -432px -288px;
}
.openmoji-E084 {
  background-position: -504px -288px;
}
.openmoji-E085 {
  background-position: -0px -360px;
}
.openmoji-E086 {
  background-position: -72px -360px;
}
.openmoji-E087 {
  background-position: -144px -360px;
}
.openmoji-E088 {
  background-position: -216px -360px;
}
.openmoji-E089 {
  background-position: -288px -360px;
}
.openmoji-E08A {
  background-position: -360px -360px;
}
.openmoji-E08B {
  background-position: -432px -360px;
}
.openmoji-E08C {
  background-position: -504px -360px;
}
.openmoji-E08D {
  background-position: -0px -432px;
}
.openmoji-E08E {
  background-position: -72px -432px;
}
.openmoji-E08F {
  background-position: -144px -432px;
}
.openmoji-E090 {
  background-position: -216px -432px;
}
.openmoji-E091 {
  background-position: -288px -432px;
}
.openmoji-E092 {
  background-position: -360px -432px;
}
.openmoji-E093 {
  background-position: -432px -432px;
}
.openmoji-E094 {
  background-position: -504px -432px;
}
.openmoji-E095 {
  background-position: -0px -504px;
}
.openmoji-E096 {
  background-position: -72px -504px;
}
.openmoji-E097 {
  background-position: -144px -504px;
}
.openmoji-E098 {
  background-position: -216px -504px;
}
.openmoji-E099 {
  background-position: -288px -504px;
}
.openmoji-E09A {
  background-position: -360px -504px;
}
.openmoji-E09B {
  background-position: -432px -504px;
}
.openmoji-E09C {
  background-position: -504px -504px;
}
.openmoji-E09D {
  background-position: -0px -576px;
}
.openmoji-E09E {
  background-position: -72px -576px;
}
.openmoji-E09F {
  background-position: -144px -576px;
}
.openmoji-E0A0 {
  background-position: -216px -576px;
}
.openmoji-E0A1 {
  background-position: -288px -576px;
}
.openmoji-E0A2 {
  background-position: -360px -576px;
}
.openmoji-E0A3 {
  background-position: -432px -576px;
}
.openmoji-E0A4 {
  background-position: -504px -576px;
}
.openmoji-E0A5 {
  background-position: -0px -648px;
}
.openmoji-E0A6 {
  background-position: -72px -648px;
}
.openmoji-E0A7 {
  background-position: -144px -648px;
}
.openmoji-E0A8 {
  background-position: -216px -648px;
}
.openmoji-E0A9 {
  background-position: -288px -648px;
}
.openmoji-E0AA {
  background-position: -360px -648px;
}
.openmoji-E0AB {
  background-position: -432px -648px;
}
.openmoji-E0C0 {
  background-position: -504px -648px;
}
.openmoji-E0C1 {
  background-position: -0px -720px;
}
.openmoji-E0C2 {
  background-position: -72px -720px;
}
.openmoji-E0C3 {
  background-position: -144px -720px;
}
.openmoji-E0C4 {
  background-position: -216px -720px;
}
.openmoji-E300 {
  background-position: -288px -720px;
}
.openmoji-E301 {
  background-position: -360px -720px;
}
.openmoji-E302 {
  background-position: -432px -720px;
}
.openmoji-E303 {
  background-position: -504px -720px;
}
.openmoji-E304 {
  background-position: -0px -792px;
}
.openmoji-E305 {
  background-position: -72px -792px;
}
.openmoji-E306 {
  background-position: -144px -792px;
}
.openmoji-E307 {
  background-position: -216px -792px;
}
.openmoji-E308 {
  background-position: -288px -792px;
}
.openmoji-E309 {
  background-position: -360px -792px;
}
.openmoji-E30A {
  background-position: -432px -792px;
}
.openmoji-E30B {
  background-position: -504px -792px;
}
.openmoji-E30C {
  background-position: -0px -864px;
}
.openmoji-E30D {
  background-position: -72px -864px;
}
.openmoji-E30E {
  background-position: -144px -864px;
}
.openmoji-E30F {
  background-position: -216px -864px;
}
.openmoji-E312 {
  background-position: -288px -864px;
}
.openmoji-E313 {
  background-position: -360px -864px;
}
.openmoji-E314 {
  background-position: -432px -864px;
}
.openmoji-E315 {
  background-position: -504px -864px;
}
.openmoji-E316 {
  background-position: -0px -936px;
}
.openmoji-E318 {
  background-position: -72px -936px;
}
.openmoji-E319 {
  background-position: -144px -936px;
}
.openmoji-E31A {
  background-position: -216px -936px;
}
.openmoji-E31B {
  background-position: -288px -936px;
}
.openmoji-E31C {
  background-position: -360px -936px;
}
.openmoji-E31D {
  background-position: -432px -936px;
}
.openmoji-E31E {
  background-position: -504px -936px;
}
.openmoji-E31F {
  background-position: -0px -1008px;
}
.openmoji-E320 {
  background-position: -72px -1008px;
}
.openmoji-E321 {
  background-position: -144px -1008px;
}
.openmoji-E322 {
  background-position: -216px -1008px;
}
.openmoji-E324 {
  background-position: -288px -1008px;
}
.openmoji-E325 {
  background-position: -360px -1008px;
}
.openmoji-E326 {
  background-position: -432px -1008px;
}
.openmoji-E327 {
  background-position: -504px -1008px;
}
.openmoji-E328 {
  background-position: -0px -1080px;
}
.openmoji-E329 {
  background-position: -72px -1080px;
}
