.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
}

.openmoji-1F1E6-1F1E8 {
  background-image: url('flags-01.png');
  background-position: -0px -0px;
}
.openmoji-1F1E6-1F1E9 {
  background-image: url('flags-01.png');
  background-position: -72px -0px;
}
.openmoji-1F1E6-1F1EA {
  background-image: url('flags-01.png');
  background-position: -144px -0px;
}
.openmoji-1F1E6-1F1EB {
  background-image: url('flags-01.png');
  background-position: -216px -0px;
}
.openmoji-1F1E6-1F1EC {
  background-image: url('flags-01.png');
  background-position: -288px -0px;
}
.openmoji-1F1E6-1F1EE {
  background-image: url('flags-01.png');
  background-position: -360px -0px;
}
.openmoji-1F1E6-1F1F1 {
  background-image: url('flags-01.png');
  background-position: -432px -0px;
}
.openmoji-1F1E6-1F1F2 {
  background-image: url('flags-01.png');
  background-position: -504px -0px;
}
.openmoji-1F1E6-1F1F4 {
  background-image: url('flags-01.png');
  background-position: -576px -0px;
}
.openmoji-1F1E6-1F1F6 {
  background-image: url('flags-01.png');
  background-position: -648px -0px;
}
.openmoji-1F1E6-1F1F7 {
  background-image: url('flags-01.png');
  background-position: -720px -0px;
}
.openmoji-1F1E6-1F1F8 {
  background-image: url('flags-01.png');
  background-position: -792px -0px;
}
.openmoji-1F1E6-1F1F9 {
  background-image: url('flags-01.png');
  background-position: -864px -0px;
}
.openmoji-1F1E6-1F1FA {
  background-image: url('flags-01.png');
  background-position: -936px -0px;
}
.openmoji-1F1E6-1F1FC {
  background-image: url('flags-01.png');
  background-position: -1008px -0px;
}
.openmoji-1F1E6-1F1FD {
  background-image: url('flags-01.png');
  background-position: -1080px -0px;
}
.openmoji-1F1E6-1F1FF {
  background-image: url('flags-01.png');
  background-position: -0px -72px;
}
.openmoji-1F1E7-1F1E6 {
  background-image: url('flags-01.png');
  background-position: -72px -72px;
}
.openmoji-1F1E7-1F1E7 {
  background-image: url('flags-01.png');
  background-position: -144px -72px;
}
.openmoji-1F1E7-1F1E9 {
  background-image: url('flags-01.png');
  background-position: -216px -72px;
}
.openmoji-1F1E7-1F1EA {
  background-image: url('flags-01.png');
  background-position: -288px -72px;
}
.openmoji-1F1E7-1F1EB {
  background-image: url('flags-01.png');
  background-position: -360px -72px;
}
.openmoji-1F1E7-1F1EC {
  background-image: url('flags-01.png');
  background-position: -432px -72px;
}
.openmoji-1F1E7-1F1ED {
  background-image: url('flags-01.png');
  background-position: -504px -72px;
}
.openmoji-1F1E7-1F1EE {
  background-image: url('flags-01.png');
  background-position: -576px -72px;
}
.openmoji-1F1E7-1F1EF {
  background-image: url('flags-01.png');
  background-position: -648px -72px;
}
.openmoji-1F1E7-1F1F1 {
  background-image: url('flags-01.png');
  background-position: -720px -72px;
}
.openmoji-1F1E7-1F1F2 {
  background-image: url('flags-01.png');
  background-position: -792px -72px;
}
.openmoji-1F1E7-1F1F3 {
  background-image: url('flags-01.png');
  background-position: -864px -72px;
}
.openmoji-1F1E7-1F1F4 {
  background-image: url('flags-01.png');
  background-position: -936px -72px;
}
.openmoji-1F1E7-1F1F6 {
  background-image: url('flags-01.png');
  background-position: -1008px -72px;
}
.openmoji-1F1E7-1F1F7 {
  background-image: url('flags-01.png');
  background-position: -1080px -72px;
}
.openmoji-1F1E7-1F1F8 {
  background-image: url('flags-01.png');
  background-position: -0px -144px;
}
.openmoji-1F1E7-1F1F9 {
  background-image: url('flags-01.png');
  background-position: -72px -144px;
}
.openmoji-1F1E7-1F1FB {
  background-image: url('flags-01.png');
  background-position: -144px -144px;
}
.openmoji-1F1E7-1F1FC {
  background-image: url('flags-01.png');
  background-position: -216px -144px;
}
.openmoji-1F1E7-1F1FE {
  background-image: url('flags-01.png');
  background-position: -288px -144px;
}
.openmoji-1F1E7-1F1FF {
  background-image: url('flags-01.png');
  background-position: -360px -144px;
}
.openmoji-1F1E8-1F1E6 {
  background-image: url('flags-01.png');
  background-position: -432px -144px;
}
.openmoji-1F1E8-1F1E8 {
  background-image: url('flags-01.png');
  background-position: -504px -144px;
}
.openmoji-1F1E8-1F1E9 {
  background-image: url('flags-01.png');
  background-position: -576px -144px;
}
.openmoji-1F1E8-1F1EB {
  background-image: url('flags-01.png');
  background-position: -648px -144px;
}
.openmoji-1F1E8-1F1EC {
  background-image: url('flags-01.png');
  background-position: -720px -144px;
}
.openmoji-1F1E8-1F1ED {
  background-image: url('flags-01.png');
  background-position: -792px -144px;
}
.openmoji-1F1E8-1F1EE {
  background-image: url('flags-01.png');
  background-position: -864px -144px;
}
.openmoji-1F1E8-1F1F0 {
  background-image: url('flags-01.png');
  background-position: -936px -144px;
}
.openmoji-1F1E8-1F1F1 {
  background-image: url('flags-01.png');
  background-position: -1008px -144px;
}
.openmoji-1F1E8-1F1F2 {
  background-image: url('flags-01.png');
  background-position: -1080px -144px;
}
.openmoji-1F1E8-1F1F3 {
  background-image: url('flags-01.png');
  background-position: -0px -216px;
}
.openmoji-1F1E8-1F1F4 {
  background-image: url('flags-01.png');
  background-position: -72px -216px;
}
.openmoji-1F1E8-1F1F5 {
  background-image: url('flags-01.png');
  background-position: -144px -216px;
}
.openmoji-1F1E8-1F1F7 {
  background-image: url('flags-01.png');
  background-position: -216px -216px;
}
.openmoji-1F1E8-1F1FA {
  background-image: url('flags-01.png');
  background-position: -288px -216px;
}
.openmoji-1F1E8-1F1FB {
  background-image: url('flags-01.png');
  background-position: -360px -216px;
}
.openmoji-1F1E8-1F1FC {
  background-image: url('flags-01.png');
  background-position: -432px -216px;
}
.openmoji-1F1E8-1F1FD {
  background-image: url('flags-01.png');
  background-position: -504px -216px;
}
.openmoji-1F1E8-1F1FE {
  background-image: url('flags-01.png');
  background-position: -576px -216px;
}
.openmoji-1F1E8-1F1FF {
  background-image: url('flags-01.png');
  background-position: -648px -216px;
}
.openmoji-1F1E9-1F1EA {
  background-image: url('flags-01.png');
  background-position: -720px -216px;
}
.openmoji-1F1E9-1F1EC {
  background-image: url('flags-01.png');
  background-position: -792px -216px;
}
.openmoji-1F1E9-1F1EF {
  background-image: url('flags-01.png');
  background-position: -864px -216px;
}
.openmoji-1F1E9-1F1F0 {
  background-image: url('flags-01.png');
  background-position: -936px -216px;
}
.openmoji-1F1E9-1F1F2 {
  background-image: url('flags-01.png');
  background-position: -1008px -216px;
}
.openmoji-1F1E9-1F1F4 {
  background-image: url('flags-01.png');
  background-position: -1080px -216px;
}
.openmoji-1F1E9-1F1FF {
  background-image: url('flags-01.png');
  background-position: -0px -288px;
}
.openmoji-1F1EA-1F1E6 {
  background-image: url('flags-01.png');
  background-position: -72px -288px;
}
.openmoji-1F1EA-1F1E8 {
  background-image: url('flags-01.png');
  background-position: -144px -288px;
}
.openmoji-1F1EA-1F1EA {
  background-image: url('flags-01.png');
  background-position: -216px -288px;
}
.openmoji-1F1EA-1F1EC {
  background-image: url('flags-01.png');
  background-position: -288px -288px;
}
.openmoji-1F1EA-1F1ED {
  background-image: url('flags-01.png');
  background-position: -360px -288px;
}
.openmoji-1F1EA-1F1F7 {
  background-image: url('flags-01.png');
  background-position: -432px -288px;
}
.openmoji-1F1EA-1F1F8 {
  background-image: url('flags-01.png');
  background-position: -504px -288px;
}
.openmoji-1F1EA-1F1F9 {
  background-image: url('flags-01.png');
  background-position: -576px -288px;
}
.openmoji-1F1EA-1F1FA {
  background-image: url('flags-01.png');
  background-position: -648px -288px;
}
.openmoji-1F1EB-1F1EE {
  background-image: url('flags-01.png');
  background-position: -720px -288px;
}
.openmoji-1F1EB-1F1EF {
  background-image: url('flags-01.png');
  background-position: -792px -288px;
}
.openmoji-1F1EB-1F1F0 {
  background-image: url('flags-01.png');
  background-position: -864px -288px;
}
.openmoji-1F1EB-1F1F2 {
  background-image: url('flags-01.png');
  background-position: -936px -288px;
}
.openmoji-1F1EB-1F1F4 {
  background-image: url('flags-01.png');
  background-position: -1008px -288px;
}
.openmoji-1F1EB-1F1F7 {
  background-image: url('flags-01.png');
  background-position: -1080px -288px;
}
.openmoji-1F1EC-1F1E6 {
  background-image: url('flags-01.png');
  background-position: -0px -360px;
}
.openmoji-1F1EC-1F1E7 {
  background-image: url('flags-01.png');
  background-position: -72px -360px;
}
.openmoji-1F1EC-1F1E9 {
  background-image: url('flags-01.png');
  background-position: -144px -360px;
}
.openmoji-1F1EC-1F1EA {
  background-image: url('flags-01.png');
  background-position: -216px -360px;
}
.openmoji-1F1EC-1F1EB {
  background-image: url('flags-01.png');
  background-position: -288px -360px;
}
.openmoji-1F1EC-1F1EC {
  background-image: url('flags-01.png');
  background-position: -360px -360px;
}
.openmoji-1F1EC-1F1ED {
  background-image: url('flags-01.png');
  background-position: -432px -360px;
}
.openmoji-1F1EC-1F1EE {
  background-image: url('flags-01.png');
  background-position: -504px -360px;
}
.openmoji-1F1EC-1F1F1 {
  background-image: url('flags-01.png');
  background-position: -576px -360px;
}
.openmoji-1F1EC-1F1F2 {
  background-image: url('flags-01.png');
  background-position: -648px -360px;
}
.openmoji-1F1EC-1F1F3 {
  background-image: url('flags-01.png');
  background-position: -720px -360px;
}
.openmoji-1F1EC-1F1F5 {
  background-image: url('flags-01.png');
  background-position: -792px -360px;
}
.openmoji-1F1EC-1F1F6 {
  background-image: url('flags-01.png');
  background-position: -864px -360px;
}
.openmoji-1F1EC-1F1F7 {
  background-image: url('flags-01.png');
  background-position: -936px -360px;
}
.openmoji-1F1EC-1F1F8 {
  background-image: url('flags-01.png');
  background-position: -1008px -360px;
}
.openmoji-1F1EC-1F1F9 {
  background-image: url('flags-01.png');
  background-position: -1080px -360px;
}
.openmoji-1F1EC-1F1FA {
  background-image: url('flags-01.png');
  background-position: -0px -432px;
}
.openmoji-1F1EC-1F1FC {
  background-image: url('flags-01.png');
  background-position: -72px -432px;
}
.openmoji-1F1EC-1F1FE {
  background-image: url('flags-01.png');
  background-position: -144px -432px;
}
.openmoji-1F1ED-1F1F0 {
  background-image: url('flags-01.png');
  background-position: -216px -432px;
}
.openmoji-1F1ED-1F1F2 {
  background-image: url('flags-01.png');
  background-position: -288px -432px;
}
.openmoji-1F1ED-1F1F3 {
  background-image: url('flags-01.png');
  background-position: -360px -432px;
}
.openmoji-1F1ED-1F1F7 {
  background-image: url('flags-01.png');
  background-position: -432px -432px;
}
.openmoji-1F1ED-1F1F9 {
  background-image: url('flags-01.png');
  background-position: -504px -432px;
}
.openmoji-1F1ED-1F1FA {
  background-image: url('flags-01.png');
  background-position: -576px -432px;
}
.openmoji-1F1EE-1F1E8 {
  background-image: url('flags-01.png');
  background-position: -648px -432px;
}
.openmoji-1F1EE-1F1E9 {
  background-image: url('flags-01.png');
  background-position: -720px -432px;
}
.openmoji-1F1EE-1F1EA {
  background-image: url('flags-01.png');
  background-position: -792px -432px;
}
.openmoji-1F1EE-1F1F1 {
  background-image: url('flags-01.png');
  background-position: -864px -432px;
}
.openmoji-1F1EE-1F1F2 {
  background-image: url('flags-01.png');
  background-position: -936px -432px;
}
.openmoji-1F1EE-1F1F3 {
  background-image: url('flags-01.png');
  background-position: -1008px -432px;
}
.openmoji-1F1EE-1F1F4 {
  background-image: url('flags-01.png');
  background-position: -1080px -432px;
}
.openmoji-1F1EE-1F1F6 {
  background-image: url('flags-01.png');
  background-position: -0px -504px;
}
.openmoji-1F1EE-1F1F7 {
  background-image: url('flags-01.png');
  background-position: -72px -504px;
}
.openmoji-1F1EE-1F1F8 {
  background-image: url('flags-01.png');
  background-position: -144px -504px;
}
.openmoji-1F1EE-1F1F9 {
  background-image: url('flags-01.png');
  background-position: -216px -504px;
}
.openmoji-1F1EF-1F1EA {
  background-image: url('flags-01.png');
  background-position: -288px -504px;
}
.openmoji-1F1EF-1F1F2 {
  background-image: url('flags-01.png');
  background-position: -360px -504px;
}
.openmoji-1F1EF-1F1F4 {
  background-image: url('flags-01.png');
  background-position: -432px -504px;
}
.openmoji-1F1EF-1F1F5 {
  background-image: url('flags-01.png');
  background-position: -504px -504px;
}
