.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
}

.openmoji-1F453 {
  background-image: url('objects-00.png');
  background-position: -0px -0px;
}
.openmoji-1F576 {
  background-image: url('objects-00.png');
  background-position: -72px -0px;
}
.openmoji-1F97D {
  background-image: url('objects-00.png');
  background-position: -144px -0px;
}
.openmoji-1F97C {
  background-image: url('objects-00.png');
  background-position: -216px -0px;
}
.openmoji-1F9BA {
  background-image: url('objects-00.png');
  background-position: -288px -0px;
}
.openmoji-1F454 {
  background-image: url('objects-00.png');
  background-position: -360px -0px;
}
.openmoji-1F455 {
  background-image: url('objects-00.png');
  background-position: -432px -0px;
}
.openmoji-1F456 {
  background-image: url('objects-00.png');
  background-position: -504px -0px;
}
.openmoji-1F9E3 {
  background-image: url('objects-00.png');
  background-position: -576px -0px;
}
.openmoji-1F9E4 {
  background-image: url('objects-00.png');
  background-position: -648px -0px;
}
.openmoji-1F9E5 {
  background-image: url('objects-00.png');
  background-position: -720px -0px;
}
.openmoji-1F9E6 {
  background-image: url('objects-00.png');
  background-position: -792px -0px;
}
.openmoji-1F457 {
  background-image: url('objects-00.png');
  background-position: -864px -0px;
}
.openmoji-1F458 {
  background-image: url('objects-00.png');
  background-position: -936px -0px;
}
.openmoji-1F97B {
  background-image: url('objects-00.png');
  background-position: -1008px -0px;
}
.openmoji-1FA71 {
  background-image: url('objects-00.png');
  background-position: -1080px -0px;
}
.openmoji-1FA72 {
  background-image: url('objects-00.png');
  background-position: -0px -72px;
}
.openmoji-1FA73 {
  background-image: url('objects-00.png');
  background-position: -72px -72px;
}
.openmoji-1F459 {
  background-image: url('objects-00.png');
  background-position: -144px -72px;
}
.openmoji-1F45A {
  background-image: url('objects-00.png');
  background-position: -216px -72px;
}
.openmoji-1F45B {
  background-image: url('objects-00.png');
  background-position: -288px -72px;
}
.openmoji-1F45C {
  background-image: url('objects-00.png');
  background-position: -360px -72px;
}
.openmoji-1F45D {
  background-image: url('objects-00.png');
  background-position: -432px -72px;
}
.openmoji-1F6CD {
  background-image: url('objects-00.png');
  background-position: -504px -72px;
}
.openmoji-1F392 {
  background-image: url('objects-00.png');
  background-position: -576px -72px;
}
.openmoji-1FA74 {
  background-image: url('objects-00.png');
  background-position: -648px -72px;
}
.openmoji-1F45E {
  background-image: url('objects-00.png');
  background-position: -720px -72px;
}
.openmoji-1F45F {
  background-image: url('objects-00.png');
  background-position: -792px -72px;
}
.openmoji-1F97E {
  background-image: url('objects-00.png');
  background-position: -864px -72px;
}
.openmoji-1F97F {
  background-image: url('objects-00.png');
  background-position: -936px -72px;
}
.openmoji-1F460 {
  background-image: url('objects-00.png');
  background-position: -1008px -72px;
}
.openmoji-1F461 {
  background-image: url('objects-00.png');
  background-position: -1080px -72px;
}
.openmoji-1FA70 {
  background-image: url('objects-00.png');
  background-position: -0px -144px;
}
.openmoji-1F462 {
  background-image: url('objects-00.png');
  background-position: -72px -144px;
}
.openmoji-1F451 {
  background-image: url('objects-00.png');
  background-position: -144px -144px;
}
.openmoji-1F452 {
  background-image: url('objects-00.png');
  background-position: -216px -144px;
}
.openmoji-1F3A9 {
  background-image: url('objects-00.png');
  background-position: -288px -144px;
}
.openmoji-1F393 {
  background-image: url('objects-00.png');
  background-position: -360px -144px;
}
.openmoji-1F9E2 {
  background-image: url('objects-00.png');
  background-position: -432px -144px;
}
.openmoji-26D1 {
  background-image: url('objects-00.png');
  background-position: -504px -144px;
}
.openmoji-1F4FF {
  background-image: url('objects-00.png');
  background-position: -576px -144px;
}
.openmoji-1F484 {
  background-image: url('objects-00.png');
  background-position: -648px -144px;
}
.openmoji-1F48D {
  background-image: url('objects-00.png');
  background-position: -720px -144px;
}
.openmoji-1F48E {
  background-image: url('objects-00.png');
  background-position: -792px -144px;
}
.openmoji-1F507 {
  background-image: url('objects-00.png');
  background-position: -864px -144px;
}
.openmoji-1F508 {
  background-image: url('objects-00.png');
  background-position: -936px -144px;
}
.openmoji-1F509 {
  background-image: url('objects-00.png');
  background-position: -1008px -144px;
}
.openmoji-1F50A {
  background-image: url('objects-00.png');
  background-position: -1080px -144px;
}
.openmoji-1F4E2 {
  background-image: url('objects-00.png');
  background-position: -0px -216px;
}
.openmoji-1F4E3 {
  background-image: url('objects-00.png');
  background-position: -72px -216px;
}
.openmoji-1F4EF {
  background-image: url('objects-00.png');
  background-position: -144px -216px;
}
.openmoji-1F514 {
  background-image: url('objects-00.png');
  background-position: -216px -216px;
}
.openmoji-1F515 {
  background-image: url('objects-00.png');
  background-position: -288px -216px;
}
.openmoji-1F3BC {
  background-image: url('objects-00.png');
  background-position: -360px -216px;
}
.openmoji-1F3B5 {
  background-image: url('objects-00.png');
  background-position: -432px -216px;
}
.openmoji-1F3B6 {
  background-image: url('objects-00.png');
  background-position: -504px -216px;
}
.openmoji-1F399 {
  background-image: url('objects-00.png');
  background-position: -576px -216px;
}
.openmoji-1F39A {
  background-image: url('objects-00.png');
  background-position: -648px -216px;
}
.openmoji-1F39B {
  background-image: url('objects-00.png');
  background-position: -720px -216px;
}
.openmoji-1F3A4 {
  background-image: url('objects-00.png');
  background-position: -792px -216px;
}
.openmoji-1F3A7 {
  background-image: url('objects-00.png');
  background-position: -864px -216px;
}
.openmoji-1F4FB {
  background-image: url('objects-00.png');
  background-position: -936px -216px;
}
.openmoji-1F3B7 {
  background-image: url('objects-00.png');
  background-position: -1008px -216px;
}
.openmoji-1F3B8 {
  background-image: url('objects-00.png');
  background-position: -1080px -216px;
}
.openmoji-1F3B9 {
  background-image: url('objects-00.png');
  background-position: -0px -288px;
}
.openmoji-1F3BA {
  background-image: url('objects-00.png');
  background-position: -72px -288px;
}
.openmoji-1F3BB {
  background-image: url('objects-00.png');
  background-position: -144px -288px;
}
.openmoji-1FA95 {
  background-image: url('objects-00.png');
  background-position: -216px -288px;
}
.openmoji-1F941 {
  background-image: url('objects-00.png');
  background-position: -288px -288px;
}
.openmoji-1FA98 {
  background-image: url('objects-00.png');
  background-position: -360px -288px;
}
.openmoji-1F4F1 {
  background-image: url('objects-00.png');
  background-position: -432px -288px;
}
.openmoji-1F4F2 {
  background-image: url('objects-00.png');
  background-position: -504px -288px;
}
.openmoji-260E {
  background-image: url('objects-00.png');
  background-position: -576px -288px;
}
.openmoji-1F4DE {
  background-image: url('objects-00.png');
  background-position: -648px -288px;
}
.openmoji-1F4DF {
  background-image: url('objects-00.png');
  background-position: -720px -288px;
}
.openmoji-1F4E0 {
  background-image: url('objects-00.png');
  background-position: -792px -288px;
}
.openmoji-1F50B {
  background-image: url('objects-00.png');
  background-position: -864px -288px;
}
.openmoji-1F50C {
  background-image: url('objects-00.png');
  background-position: -936px -288px;
}
.openmoji-1F4BB {
  background-image: url('objects-00.png');
  background-position: -1008px -288px;
}
.openmoji-1F5A5 {
  background-image: url('objects-00.png');
  background-position: -1080px -288px;
}
.openmoji-1F5A8 {
  background-image: url('objects-00.png');
  background-position: -0px -360px;
}
.openmoji-2328 {
  background-image: url('objects-00.png');
  background-position: -72px -360px;
}
.openmoji-1F5B1 {
  background-image: url('objects-00.png');
  background-position: -144px -360px;
}
.openmoji-1F5B2 {
  background-image: url('objects-00.png');
  background-position: -216px -360px;
}
.openmoji-1F4BD {
  background-image: url('objects-00.png');
  background-position: -288px -360px;
}
.openmoji-1F4BE {
  background-image: url('objects-00.png');
  background-position: -360px -360px;
}
.openmoji-1F4BF {
  background-image: url('objects-00.png');
  background-position: -432px -360px;
}
.openmoji-1F4C0 {
  background-image: url('objects-00.png');
  background-position: -504px -360px;
}
.openmoji-1F9EE {
  background-image: url('objects-00.png');
  background-position: -576px -360px;
}
.openmoji-1F3A5 {
  background-image: url('objects-00.png');
  background-position: -648px -360px;
}
.openmoji-1F39E {
  background-image: url('objects-00.png');
  background-position: -720px -360px;
}
.openmoji-1F4FD {
  background-image: url('objects-00.png');
  background-position: -792px -360px;
}
.openmoji-1F3AC {
  background-image: url('objects-00.png');
  background-position: -864px -360px;
}
.openmoji-1F4FA {
  background-image: url('objects-00.png');
  background-position: -936px -360px;
}
.openmoji-1F4F7 {
  background-image: url('objects-00.png');
  background-position: -1008px -360px;
}
.openmoji-1F4F8 {
  background-image: url('objects-00.png');
  background-position: -1080px -360px;
}
.openmoji-1F4F9 {
  background-image: url('objects-00.png');
  background-position: -0px -432px;
}
.openmoji-1F4FC {
  background-image: url('objects-00.png');
  background-position: -72px -432px;
}
.openmoji-1F50D {
  background-image: url('objects-00.png');
  background-position: -144px -432px;
}
.openmoji-1F50E {
  background-image: url('objects-00.png');
  background-position: -216px -432px;
}
.openmoji-1F56F {
  background-image: url('objects-00.png');
  background-position: -288px -432px;
}
.openmoji-1F4A1 {
  background-image: url('objects-00.png');
  background-position: -360px -432px;
}
.openmoji-1F526 {
  background-image: url('objects-00.png');
  background-position: -432px -432px;
}
.openmoji-1F3EE {
  background-image: url('objects-00.png');
  background-position: -504px -432px;
}
.openmoji-1FA94 {
  background-image: url('objects-00.png');
  background-position: -576px -432px;
}
.openmoji-1F4D4 {
  background-image: url('objects-00.png');
  background-position: -648px -432px;
}
.openmoji-1F4D5 {
  background-image: url('objects-00.png');
  background-position: -720px -432px;
}
.openmoji-1F4D6 {
  background-image: url('objects-00.png');
  background-position: -792px -432px;
}
.openmoji-1F4D7 {
  background-image: url('objects-00.png');
  background-position: -864px -432px;
}
.openmoji-1F4D8 {
  background-image: url('objects-00.png');
  background-position: -936px -432px;
}
.openmoji-1F4D9 {
  background-image: url('objects-00.png');
  background-position: -1008px -432px;
}
.openmoji-1F4DA {
  background-image: url('objects-00.png');
  background-position: -1080px -432px;
}
.openmoji-1F4D3 {
  background-image: url('objects-00.png');
  background-position: -0px -504px;
}
.openmoji-1F4D2 {
  background-image: url('objects-00.png');
  background-position: -72px -504px;
}
.openmoji-1F4C3 {
  background-image: url('objects-00.png');
  background-position: -144px -504px;
}
.openmoji-1F4DC {
  background-image: url('objects-00.png');
  background-position: -216px -504px;
}
.openmoji-1F4C4 {
  background-image: url('objects-00.png');
  background-position: -288px -504px;
}
.openmoji-1F4F0 {
  background-image: url('objects-00.png');
  background-position: -360px -504px;
}
.openmoji-1F5DE {
  background-image: url('objects-00.png');
  background-position: -432px -504px;
}
.openmoji-1F4D1 {
  background-image: url('objects-00.png');
  background-position: -504px -504px;
}
.openmoji-1F516 {
  background-image: url('objects-00.png');
  background-position: -576px -504px;
}
.openmoji-1F3F7 {
  background-image: url('objects-00.png');
  background-position: -648px -504px;
}
.openmoji-1F4B0 {
  background-image: url('objects-00.png');
  background-position: -720px -504px;
}
.openmoji-1F4B4 {
  background-image: url('objects-00.png');
  background-position: -792px -504px;
}
.openmoji-1F4B5 {
  background-image: url('objects-00.png');
  background-position: -864px -504px;
}
.openmoji-1F4B6 {
  background-image: url('objects-00.png');
  background-position: -936px -504px;
}
.openmoji-1F4B7 {
  background-image: url('objects-00.png');
  background-position: -1008px -504px;
}
.openmoji-1F4B8 {
  background-image: url('objects-00.png');
  background-position: -1080px -504px;
}
.openmoji-1F4B3 {
  background-image: url('objects-00.png');
  background-position: -0px -576px;
}
.openmoji-1F9FE {
  background-image: url('objects-00.png');
  background-position: -72px -576px;
}
.openmoji-1F4B9 {
  background-image: url('objects-00.png');
  background-position: -144px -576px;
}
