.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
}

.openmoji-2709 {
  background-image: url('objects-01.png');
  background-position: -0px -0px;
}
.openmoji-1F4E7 {
  background-image: url('objects-01.png');
  background-position: -72px -0px;
}
.openmoji-1F4E8 {
  background-image: url('objects-01.png');
  background-position: -144px -0px;
}
.openmoji-1F4E9 {
  background-image: url('objects-01.png');
  background-position: -216px -0px;
}
.openmoji-1F4E4 {
  background-image: url('objects-01.png');
  background-position: -288px -0px;
}
.openmoji-1F4E5 {
  background-image: url('objects-01.png');
  background-position: -360px -0px;
}
.openmoji-1F4E6 {
  background-image: url('objects-01.png');
  background-position: -432px -0px;
}
.openmoji-1F4EB {
  background-image: url('objects-01.png');
  background-position: -504px -0px;
}
.openmoji-1F4EA {
  background-image: url('objects-01.png');
  background-position: -576px -0px;
}
.openmoji-1F4EC {
  background-image: url('objects-01.png');
  background-position: -648px -0px;
}
.openmoji-1F4ED {
  background-image: url('objects-01.png');
  background-position: -720px -0px;
}
.openmoji-1F4EE {
  background-image: url('objects-01.png');
  background-position: -792px -0px;
}
.openmoji-1F5F3 {
  background-image: url('objects-01.png');
  background-position: -864px -0px;
}
.openmoji-270F {
  background-image: url('objects-01.png');
  background-position: -936px -0px;
}
.openmoji-2712 {
  background-image: url('objects-01.png');
  background-position: -1008px -0px;
}
.openmoji-1F58B {
  background-image: url('objects-01.png');
  background-position: -1080px -0px;
}
.openmoji-1F58A {
  background-image: url('objects-01.png');
  background-position: -0px -72px;
}
.openmoji-1F58C {
  background-image: url('objects-01.png');
  background-position: -72px -72px;
}
.openmoji-1F58D {
  background-image: url('objects-01.png');
  background-position: -144px -72px;
}
.openmoji-1F4DD {
  background-image: url('objects-01.png');
  background-position: -216px -72px;
}
.openmoji-1F4BC {
  background-image: url('objects-01.png');
  background-position: -288px -72px;
}
.openmoji-1F4C1 {
  background-image: url('objects-01.png');
  background-position: -360px -72px;
}
.openmoji-1F4C2 {
  background-image: url('objects-01.png');
  background-position: -432px -72px;
}
.openmoji-1F5C2 {
  background-image: url('objects-01.png');
  background-position: -504px -72px;
}
.openmoji-1F4C5 {
  background-image: url('objects-01.png');
  background-position: -576px -72px;
}
.openmoji-1F4C6 {
  background-image: url('objects-01.png');
  background-position: -648px -72px;
}
.openmoji-1F5D2 {
  background-image: url('objects-01.png');
  background-position: -720px -72px;
}
.openmoji-1F5D3 {
  background-image: url('objects-01.png');
  background-position: -792px -72px;
}
.openmoji-1F4C7 {
  background-image: url('objects-01.png');
  background-position: -864px -72px;
}
.openmoji-1F4C8 {
  background-image: url('objects-01.png');
  background-position: -936px -72px;
}
.openmoji-1F4C9 {
  background-image: url('objects-01.png');
  background-position: -1008px -72px;
}
.openmoji-1F4CA {
  background-image: url('objects-01.png');
  background-position: -1080px -72px;
}
.openmoji-1F4CB {
  background-image: url('objects-01.png');
  background-position: -0px -144px;
}
.openmoji-1F4CC {
  background-image: url('objects-01.png');
  background-position: -72px -144px;
}
.openmoji-1F4CD {
  background-image: url('objects-01.png');
  background-position: -144px -144px;
}
.openmoji-1F4CE {
  background-image: url('objects-01.png');
  background-position: -216px -144px;
}
.openmoji-1F587 {
  background-image: url('objects-01.png');
  background-position: -288px -144px;
}
.openmoji-1F4CF {
  background-image: url('objects-01.png');
  background-position: -360px -144px;
}
.openmoji-1F4D0 {
  background-image: url('objects-01.png');
  background-position: -432px -144px;
}
.openmoji-2702 {
  background-image: url('objects-01.png');
  background-position: -504px -144px;
}
.openmoji-1F5C3 {
  background-image: url('objects-01.png');
  background-position: -576px -144px;
}
.openmoji-1F5C4 {
  background-image: url('objects-01.png');
  background-position: -648px -144px;
}
.openmoji-1F5D1 {
  background-image: url('objects-01.png');
  background-position: -720px -144px;
}
.openmoji-1F512 {
  background-image: url('objects-01.png');
  background-position: -792px -144px;
}
.openmoji-1F513 {
  background-image: url('objects-01.png');
  background-position: -864px -144px;
}
.openmoji-1F50F {
  background-image: url('objects-01.png');
  background-position: -936px -144px;
}
.openmoji-1F510 {
  background-image: url('objects-01.png');
  background-position: -1008px -144px;
}
.openmoji-1F511 {
  background-image: url('objects-01.png');
  background-position: -1080px -144px;
}
.openmoji-1F5DD {
  background-image: url('objects-01.png');
  background-position: -0px -216px;
}
.openmoji-1F528 {
  background-image: url('objects-01.png');
  background-position: -72px -216px;
}
.openmoji-1FA93 {
  background-image: url('objects-01.png');
  background-position: -144px -216px;
}
.openmoji-26CF {
  background-image: url('objects-01.png');
  background-position: -216px -216px;
}
.openmoji-2692 {
  background-image: url('objects-01.png');
  background-position: -288px -216px;
}
.openmoji-1F6E0 {
  background-image: url('objects-01.png');
  background-position: -360px -216px;
}
.openmoji-1F5E1 {
  background-image: url('objects-01.png');
  background-position: -432px -216px;
}
.openmoji-2694 {
  background-image: url('objects-01.png');
  background-position: -504px -216px;
}
.openmoji-1F52B {
  background-image: url('objects-01.png');
  background-position: -576px -216px;
}
.openmoji-1F3F9 {
  background-image: url('objects-01.png');
  background-position: -648px -216px;
}
.openmoji-1F6E1 {
  background-image: url('objects-01.png');
  background-position: -720px -216px;
}
.openmoji-1F527 {
  background-image: url('objects-01.png');
  background-position: -792px -216px;
}
.openmoji-1F529 {
  background-image: url('objects-01.png');
  background-position: -864px -216px;
}
.openmoji-2699 {
  background-image: url('objects-01.png');
  background-position: -936px -216px;
}
.openmoji-1F5DC {
  background-image: url('objects-01.png');
  background-position: -1008px -216px;
}
.openmoji-2696 {
  background-image: url('objects-01.png');
  background-position: -1080px -216px;
}
.openmoji-1F9AF {
  background-image: url('objects-01.png');
  background-position: -0px -288px;
}
.openmoji-1F517 {
  background-image: url('objects-01.png');
  background-position: -72px -288px;
}
.openmoji-26D3 {
  background-image: url('objects-01.png');
  background-position: -144px -288px;
}
.openmoji-1F9F0 {
  background-image: url('objects-01.png');
  background-position: -216px -288px;
}
.openmoji-1F9F2 {
  background-image: url('objects-01.png');
  background-position: -288px -288px;
}
.openmoji-2697 {
  background-image: url('objects-01.png');
  background-position: -360px -288px;
}
.openmoji-1F9EA {
  background-image: url('objects-01.png');
  background-position: -432px -288px;
}
.openmoji-1F9EB {
  background-image: url('objects-01.png');
  background-position: -504px -288px;
}
.openmoji-1F9EC {
  background-image: url('objects-01.png');
  background-position: -576px -288px;
}
.openmoji-1F52C {
  background-image: url('objects-01.png');
  background-position: -648px -288px;
}
.openmoji-1F52D {
  background-image: url('objects-01.png');
  background-position: -720px -288px;
}
.openmoji-1F4E1 {
  background-image: url('objects-01.png');
  background-position: -792px -288px;
}
.openmoji-1F489 {
  background-image: url('objects-01.png');
  background-position: -864px -288px;
}
.openmoji-1FA78 {
  background-image: url('objects-01.png');
  background-position: -936px -288px;
}
.openmoji-1F48A {
  background-image: url('objects-01.png');
  background-position: -1008px -288px;
}
.openmoji-1FA79 {
  background-image: url('objects-01.png');
  background-position: -1080px -288px;
}
.openmoji-1FA7A {
  background-image: url('objects-01.png');
  background-position: -0px -360px;
}
.openmoji-1F6AA {
  background-image: url('objects-01.png');
  background-position: -72px -360px;
}
.openmoji-1F6CF {
  background-image: url('objects-01.png');
  background-position: -144px -360px;
}
.openmoji-1F6CB {
  background-image: url('objects-01.png');
  background-position: -216px -360px;
}
.openmoji-1FA91 {
  background-image: url('objects-01.png');
  background-position: -288px -360px;
}
.openmoji-1F6BD {
  background-image: url('objects-01.png');
  background-position: -360px -360px;
}
.openmoji-1F6BF {
  background-image: url('objects-01.png');
  background-position: -432px -360px;
}
.openmoji-1F6C1 {
  background-image: url('objects-01.png');
  background-position: -504px -360px;
}
.openmoji-1FA92 {
  background-image: url('objects-01.png');
  background-position: -576px -360px;
}
.openmoji-1F9F4 {
  background-image: url('objects-01.png');
  background-position: -648px -360px;
}
.openmoji-1F9F7 {
  background-image: url('objects-01.png');
  background-position: -720px -360px;
}
.openmoji-1F9F9 {
  background-image: url('objects-01.png');
  background-position: -792px -360px;
}
.openmoji-1F9FA {
  background-image: url('objects-01.png');
  background-position: -864px -360px;
}
.openmoji-1F9FB {
  background-image: url('objects-01.png');
  background-position: -936px -360px;
}
.openmoji-1F9FC {
  background-image: url('objects-01.png');
  background-position: -1008px -360px;
}
.openmoji-1FAA5 {
  background-image: url('objects-01.png');
  background-position: -1080px -360px;
}
.openmoji-1F9FD {
  background-image: url('objects-01.png');
  background-position: -0px -432px;
}
.openmoji-1F9EF {
  background-image: url('objects-01.png');
  background-position: -72px -432px;
}
.openmoji-1F6D2 {
  background-image: url('objects-01.png');
  background-position: -144px -432px;
}
.openmoji-1F6AC {
  background-image: url('objects-01.png');
  background-position: -216px -432px;
}
.openmoji-26B0 {
  background-image: url('objects-01.png');
  background-position: -288px -432px;
}
.openmoji-26B1 {
  background-image: url('objects-01.png');
  background-position: -360px -432px;
}
.openmoji-1F5FF {
  background-image: url('objects-01.png');
  background-position: -432px -432px;
}
