.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-image: url('people-body-06.png');
  background-repeat: no-repeat;
}

.openmoji-1F934 {
  background-position: -0px -0px;
}
.openmoji-1F934-1F3FB {
  background-position: -72px -0px;
}
.openmoji-1F934-1F3FC {
  background-position: -144px -0px;
}
.openmoji-1F934-1F3FD {
  background-position: -216px -0px;
}
.openmoji-1F934-1F3FE {
  background-position: -288px -0px;
}
.openmoji-1F934-1F3FF {
  background-position: -360px -0px;
}
.openmoji-1F478 {
  background-position: -432px -0px;
}
.openmoji-1F478-1F3FB {
  background-position: -504px -0px;
}
.openmoji-1F478-1F3FC {
  background-position: -576px -0px;
}
.openmoji-1F478-1F3FD {
  background-position: -648px -0px;
}
.openmoji-1F478-1F3FE {
  background-position: -720px -0px;
}
.openmoji-1F478-1F3FF {
  background-position: -792px -0px;
}
.openmoji-1F473 {
  background-position: -864px -0px;
}
.openmoji-1F473-1F3FB {
  background-position: -936px -0px;
}
.openmoji-1F473-1F3FC {
  background-position: -1008px -0px;
}
.openmoji-1F473-1F3FD {
  background-position: -1080px -0px;
}
.openmoji-1F473-1F3FE {
  background-position: -0px -72px;
}
.openmoji-1F473-1F3FF {
  background-position: -72px -72px;
}
.openmoji-1F473-200D-2642-FE0F {
  background-position: -144px -72px;
}
.openmoji-1F473-1F3FB-200D-2642-FE0F {
  background-position: -216px -72px;
}
.openmoji-1F473-1F3FC-200D-2642-FE0F {
  background-position: -288px -72px;
}
.openmoji-1F473-1F3FD-200D-2642-FE0F {
  background-position: -360px -72px;
}
.openmoji-1F473-1F3FE-200D-2642-FE0F {
  background-position: -432px -72px;
}
.openmoji-1F473-1F3FF-200D-2642-FE0F {
  background-position: -504px -72px;
}
.openmoji-1F473-200D-2640-FE0F {
  background-position: -576px -72px;
}
.openmoji-1F473-1F3FB-200D-2640-FE0F {
  background-position: -648px -72px;
}
.openmoji-1F473-1F3FC-200D-2640-FE0F {
  background-position: -720px -72px;
}
.openmoji-1F473-1F3FD-200D-2640-FE0F {
  background-position: -792px -72px;
}
.openmoji-1F473-1F3FE-200D-2640-FE0F {
  background-position: -864px -72px;
}
.openmoji-1F473-1F3FF-200D-2640-FE0F {
  background-position: -936px -72px;
}
.openmoji-1F472 {
  background-position: -1008px -72px;
}
.openmoji-1F472-1F3FB {
  background-position: -1080px -72px;
}
.openmoji-1F472-1F3FC {
  background-position: -0px -144px;
}
.openmoji-1F472-1F3FD {
  background-position: -72px -144px;
}
.openmoji-1F472-1F3FE {
  background-position: -144px -144px;
}
.openmoji-1F472-1F3FF {
  background-position: -216px -144px;
}
.openmoji-1F9D5 {
  background-position: -288px -144px;
}
.openmoji-1F9D5-1F3FB {
  background-position: -360px -144px;
}
.openmoji-1F9D5-1F3FC {
  background-position: -432px -144px;
}
.openmoji-1F9D5-1F3FD {
  background-position: -504px -144px;
}
.openmoji-1F9D5-1F3FE {
  background-position: -576px -144px;
}
.openmoji-1F9D5-1F3FF {
  background-position: -648px -144px;
}
.openmoji-1F935 {
  background-position: -720px -144px;
}
.openmoji-1F935-1F3FB {
  background-position: -792px -144px;
}
.openmoji-1F935-1F3FC {
  background-position: -864px -144px;
}
.openmoji-1F935-1F3FD {
  background-position: -936px -144px;
}
.openmoji-1F935-1F3FE {
  background-position: -1008px -144px;
}
.openmoji-1F935-1F3FF {
  background-position: -1080px -144px;
}
.openmoji-1F470 {
  background-position: -0px -216px;
}
.openmoji-1F470-1F3FB {
  background-position: -72px -216px;
}
.openmoji-1F470-1F3FC {
  background-position: -144px -216px;
}
.openmoji-1F470-1F3FD {
  background-position: -216px -216px;
}
.openmoji-1F470-1F3FE {
  background-position: -288px -216px;
}
.openmoji-1F470-1F3FF {
  background-position: -360px -216px;
}
.openmoji-1F930 {
  background-position: -432px -216px;
}
.openmoji-1F930-1F3FB {
  background-position: -504px -216px;
}
.openmoji-1F930-1F3FC {
  background-position: -576px -216px;
}
.openmoji-1F930-1F3FD {
  background-position: -648px -216px;
}
.openmoji-1F930-1F3FE {
  background-position: -720px -216px;
}
.openmoji-1F930-1F3FF {
  background-position: -792px -216px;
}
.openmoji-1F931 {
  background-position: -864px -216px;
}
.openmoji-1F931-1F3FB {
  background-position: -936px -216px;
}
.openmoji-1F931-1F3FC {
  background-position: -1008px -216px;
}
.openmoji-1F931-1F3FD {
  background-position: -1080px -216px;
}
.openmoji-1F931-1F3FE {
  background-position: -0px -288px;
}
.openmoji-1F931-1F3FF {
  background-position: -72px -288px;
}
