.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
}

.openmoji-1F44F {
  background-image: url('people-body-01.png');
  background-position: -0px -0px;
}
.openmoji-1F44F-1F3FB {
  background-image: url('people-body-01.png');
  background-position: -72px -0px;
}
.openmoji-1F44F-1F3FC {
  background-image: url('people-body-01.png');
  background-position: -144px -0px;
}
.openmoji-1F44F-1F3FD {
  background-image: url('people-body-01.png');
  background-position: -216px -0px;
}
.openmoji-1F44F-1F3FE {
  background-image: url('people-body-01.png');
  background-position: -288px -0px;
}
.openmoji-1F44F-1F3FF {
  background-image: url('people-body-01.png');
  background-position: -360px -0px;
}
.openmoji-1F64C {
  background-image: url('people-body-01.png');
  background-position: -432px -0px;
}
.openmoji-1F64C-1F3FB {
  background-image: url('people-body-01.png');
  background-position: -504px -0px;
}
.openmoji-1F64C-1F3FC {
  background-image: url('people-body-01.png');
  background-position: -576px -0px;
}
.openmoji-1F64C-1F3FD {
  background-image: url('people-body-01.png');
  background-position: -648px -0px;
}
.openmoji-1F64C-1F3FE {
  background-image: url('people-body-01.png');
  background-position: -720px -0px;
}
.openmoji-1F64C-1F3FF {
  background-image: url('people-body-01.png');
  background-position: -792px -0px;
}
.openmoji-1F450 {
  background-image: url('people-body-01.png');
  background-position: -864px -0px;
}
.openmoji-1F450-1F3FB {
  background-image: url('people-body-01.png');
  background-position: -936px -0px;
}
.openmoji-1F450-1F3FC {
  background-image: url('people-body-01.png');
  background-position: -1008px -0px;
}
.openmoji-1F450-1F3FD {
  background-image: url('people-body-01.png');
  background-position: -1080px -0px;
}
.openmoji-1F450-1F3FE {
  background-image: url('people-body-01.png');
  background-position: -0px -72px;
}
.openmoji-1F450-1F3FF {
  background-image: url('people-body-01.png');
  background-position: -72px -72px;
}
.openmoji-1F932 {
  background-image: url('people-body-01.png');
  background-position: -144px -72px;
}
.openmoji-1F932-1F3FB {
  background-image: url('people-body-01.png');
  background-position: -216px -72px;
}
.openmoji-1F932-1F3FC {
  background-image: url('people-body-01.png');
  background-position: -288px -72px;
}
.openmoji-1F932-1F3FD {
  background-image: url('people-body-01.png');
  background-position: -360px -72px;
}
.openmoji-1F932-1F3FE {
  background-image: url('people-body-01.png');
  background-position: -432px -72px;
}
.openmoji-1F932-1F3FF {
  background-image: url('people-body-01.png');
  background-position: -504px -72px;
}
.openmoji-1F91D {
  background-image: url('people-body-01.png');
  background-position: -576px -72px;
}
.openmoji-1F64F {
  background-image: url('people-body-01.png');
  background-position: -648px -72px;
}
.openmoji-1F64F-1F3FB {
  background-image: url('people-body-01.png');
  background-position: -720px -72px;
}
.openmoji-1F64F-1F3FC {
  background-image: url('people-body-01.png');
  background-position: -792px -72px;
}
.openmoji-1F64F-1F3FD {
  background-image: url('people-body-01.png');
  background-position: -864px -72px;
}
.openmoji-1F64F-1F3FE {
  background-image: url('people-body-01.png');
  background-position: -936px -72px;
}
.openmoji-1F64F-1F3FF {
  background-image: url('people-body-01.png');
  background-position: -1008px -72px;
}
.openmoji-270D {
  background-image: url('people-body-01.png');
  background-position: -1080px -72px;
}
.openmoji-270D-1F3FB {
  background-image: url('people-body-01.png');
  background-position: -0px -144px;
}
.openmoji-270D-1F3FC {
  background-image: url('people-body-01.png');
  background-position: -72px -144px;
}
.openmoji-270D-1F3FD {
  background-image: url('people-body-01.png');
  background-position: -144px -144px;
}
.openmoji-270D-1F3FE {
  background-image: url('people-body-01.png');
  background-position: -216px -144px;
}
.openmoji-270D-1F3FF {
  background-image: url('people-body-01.png');
  background-position: -288px -144px;
}
.openmoji-1F485 {
  background-image: url('people-body-01.png');
  background-position: -360px -144px;
}
.openmoji-1F485-1F3FB {
  background-image: url('people-body-01.png');
  background-position: -432px -144px;
}
.openmoji-1F485-1F3FC {
  background-image: url('people-body-01.png');
  background-position: -504px -144px;
}
.openmoji-1F485-1F3FD {
  background-image: url('people-body-01.png');
  background-position: -576px -144px;
}
.openmoji-1F485-1F3FE {
  background-image: url('people-body-01.png');
  background-position: -648px -144px;
}
.openmoji-1F485-1F3FF {
  background-image: url('people-body-01.png');
  background-position: -720px -144px;
}
.openmoji-1F933 {
  background-image: url('people-body-01.png');
  background-position: -792px -144px;
}
.openmoji-1F933-1F3FB {
  background-image: url('people-body-01.png');
  background-position: -864px -144px;
}
.openmoji-1F933-1F3FC {
  background-image: url('people-body-01.png');
  background-position: -936px -144px;
}
.openmoji-1F933-1F3FD {
  background-image: url('people-body-01.png');
  background-position: -1008px -144px;
}
.openmoji-1F933-1F3FE {
  background-image: url('people-body-01.png');
  background-position: -1080px -144px;
}
.openmoji-1F933-1F3FF {
  background-image: url('people-body-01.png');
  background-position: -0px -216px;
}
.openmoji-1F4AA {
  background-image: url('people-body-01.png');
  background-position: -72px -216px;
}
.openmoji-1F4AA-1F3FB {
  background-image: url('people-body-01.png');
  background-position: -144px -216px;
}
.openmoji-1F4AA-1F3FC {
  background-image: url('people-body-01.png');
  background-position: -216px -216px;
}
.openmoji-1F4AA-1F3FD {
  background-image: url('people-body-01.png');
  background-position: -288px -216px;
}
.openmoji-1F4AA-1F3FE {
  background-image: url('people-body-01.png');
  background-position: -360px -216px;
}
.openmoji-1F4AA-1F3FF {
  background-image: url('people-body-01.png');
  background-position: -432px -216px;
}
.openmoji-1F9BE {
  background-image: url('people-body-01.png');
  background-position: -504px -216px;
}
.openmoji-1F9BF {
  background-image: url('people-body-01.png');
  background-position: -576px -216px;
}
.openmoji-1F9B5 {
  background-image: url('people-body-01.png');
  background-position: -648px -216px;
}
.openmoji-1F9B5-1F3FB {
  background-image: url('people-body-01.png');
  background-position: -720px -216px;
}
.openmoji-1F9B5-1F3FC {
  background-image: url('people-body-01.png');
  background-position: -792px -216px;
}
.openmoji-1F9B5-1F3FD {
  background-image: url('people-body-01.png');
  background-position: -864px -216px;
}
.openmoji-1F9B5-1F3FE {
  background-image: url('people-body-01.png');
  background-position: -936px -216px;
}
.openmoji-1F9B5-1F3FF {
  background-image: url('people-body-01.png');
  background-position: -1008px -216px;
}
.openmoji-1F9B6 {
  background-image: url('people-body-01.png');
  background-position: -1080px -216px;
}
.openmoji-1F9B6-1F3FB {
  background-image: url('people-body-01.png');
  background-position: -0px -288px;
}
.openmoji-1F9B6-1F3FC {
  background-image: url('people-body-01.png');
  background-position: -72px -288px;
}
.openmoji-1F9B6-1F3FD {
  background-image: url('people-body-01.png');
  background-position: -144px -288px;
}
.openmoji-1F9B6-1F3FE {
  background-image: url('people-body-01.png');
  background-position: -216px -288px;
}
.openmoji-1F9B6-1F3FF {
  background-image: url('people-body-01.png');
  background-position: -288px -288px;
}
.openmoji-1F442 {
  background-image: url('people-body-01.png');
  background-position: -360px -288px;
}
.openmoji-1F442-1F3FB {
  background-image: url('people-body-01.png');
  background-position: -432px -288px;
}
.openmoji-1F442-1F3FC {
  background-image: url('people-body-01.png');
  background-position: -504px -288px;
}
.openmoji-1F442-1F3FD {
  background-image: url('people-body-01.png');
  background-position: -576px -288px;
}
.openmoji-1F442-1F3FE {
  background-image: url('people-body-01.png');
  background-position: -648px -288px;
}
.openmoji-1F442-1F3FF {
  background-image: url('people-body-01.png');
  background-position: -720px -288px;
}
.openmoji-1F9BB {
  background-image: url('people-body-01.png');
  background-position: -792px -288px;
}
.openmoji-1F9BB-1F3FB {
  background-image: url('people-body-01.png');
  background-position: -864px -288px;
}
.openmoji-1F9BB-1F3FC {
  background-image: url('people-body-01.png');
  background-position: -936px -288px;
}
.openmoji-1F9BB-1F3FD {
  background-image: url('people-body-01.png');
  background-position: -1008px -288px;
}
.openmoji-1F9BB-1F3FE {
  background-image: url('people-body-01.png');
  background-position: -1080px -288px;
}
.openmoji-1F9BB-1F3FF {
  background-image: url('people-body-01.png');
  background-position: -0px -360px;
}
.openmoji-1F443 {
  background-image: url('people-body-01.png');
  background-position: -72px -360px;
}
.openmoji-1F443-1F3FB {
  background-image: url('people-body-01.png');
  background-position: -144px -360px;
}
.openmoji-1F443-1F3FC {
  background-image: url('people-body-01.png');
  background-position: -216px -360px;
}
.openmoji-1F443-1F3FD {
  background-image: url('people-body-01.png');
  background-position: -288px -360px;
}
.openmoji-1F443-1F3FE {
  background-image: url('people-body-01.png');
  background-position: -360px -360px;
}
.openmoji-1F443-1F3FF {
  background-image: url('people-body-01.png');
  background-position: -432px -360px;
}
.openmoji-1F9E0 {
  background-image: url('people-body-01.png');
  background-position: -504px -360px;
}
.openmoji-1FAC0 {
  background-image: url('people-body-01.png');
  background-position: -576px -360px;
}
.openmoji-1FAC1 {
  background-image: url('people-body-01.png');
  background-position: -648px -360px;
}
.openmoji-1F9B7 {
  background-image: url('people-body-01.png');
  background-position: -720px -360px;
}
.openmoji-1F9B4 {
  background-image: url('people-body-01.png');
  background-position: -792px -360px;
}
.openmoji-1F440 {
  background-image: url('people-body-01.png');
  background-position: -864px -360px;
}
.openmoji-1F441 {
  background-image: url('people-body-01.png');
  background-position: -936px -360px;
}
.openmoji-1F445 {
  background-image: url('people-body-01.png');
  background-position: -1008px -360px;
}
.openmoji-1F444 {
  background-image: url('people-body-01.png');
  background-position: -1080px -360px;
}
