.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-image: url('people-body-12.png');
  background-repeat: no-repeat;
}

.openmoji-1F9D8 {
  background-position: -0px -0px;
}
.openmoji-1F9D8-1F3FB {
  background-position: -72px -0px;
}
.openmoji-1F9D8-1F3FC {
  background-position: -144px -0px;
}
.openmoji-1F9D8-1F3FD {
  background-position: -216px -0px;
}
.openmoji-1F9D8-1F3FE {
  background-position: -288px -0px;
}
.openmoji-1F9D8-1F3FF {
  background-position: -360px -0px;
}
.openmoji-1F9D8-200D-2642-FE0F {
  background-position: -432px -0px;
}
.openmoji-1F9D8-1F3FB-200D-2642-FE0F {
  background-position: -504px -0px;
}
.openmoji-1F9D8-1F3FC-200D-2642-FE0F {
  background-position: -576px -0px;
}
.openmoji-1F9D8-1F3FD-200D-2642-FE0F {
  background-position: -648px -0px;
}
.openmoji-1F9D8-1F3FE-200D-2642-FE0F {
  background-position: -720px -0px;
}
.openmoji-1F9D8-1F3FF-200D-2642-FE0F {
  background-position: -792px -0px;
}
.openmoji-1F9D8-200D-2640-FE0F {
  background-position: -864px -0px;
}
.openmoji-1F9D8-1F3FB-200D-2640-FE0F {
  background-position: -936px -0px;
}
.openmoji-1F9D8-1F3FC-200D-2640-FE0F {
  background-position: -1008px -0px;
}
.openmoji-1F9D8-1F3FD-200D-2640-FE0F {
  background-position: -1080px -0px;
}
.openmoji-1F9D8-1F3FE-200D-2640-FE0F {
  background-position: -0px -72px;
}
.openmoji-1F9D8-1F3FF-200D-2640-FE0F {
  background-position: -72px -72px;
}
.openmoji-1F6C0 {
  background-position: -144px -72px;
}
.openmoji-1F6C0-1F3FB {
  background-position: -216px -72px;
}
.openmoji-1F6C0-1F3FC {
  background-position: -288px -72px;
}
.openmoji-1F6C0-1F3FD {
  background-position: -360px -72px;
}
.openmoji-1F6C0-1F3FE {
  background-position: -432px -72px;
}
.openmoji-1F6C0-1F3FF {
  background-position: -504px -72px;
}
.openmoji-1F6CC {
  background-position: -576px -72px;
}
.openmoji-1F6CC-1F3FB {
  background-position: -648px -72px;
}
.openmoji-1F6CC-1F3FC {
  background-position: -720px -72px;
}
.openmoji-1F6CC-1F3FD {
  background-position: -792px -72px;
}
.openmoji-1F6CC-1F3FE {
  background-position: -864px -72px;
}
.openmoji-1F6CC-1F3FF {
  background-position: -936px -72px;
}
