.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
}

.openmoji-1F93A {
  background-image: url('people-body-10.png');
  background-position: -0px -0px;
}
.openmoji-1F3C7 {
  background-image: url('people-body-10.png');
  background-position: -72px -0px;
}
.openmoji-1F3C7-1F3FB {
  background-image: url('people-body-10.png');
  background-position: -144px -0px;
}
.openmoji-1F3C7-1F3FC {
  background-image: url('people-body-10.png');
  background-position: -216px -0px;
}
.openmoji-1F3C7-1F3FD {
  background-image: url('people-body-10.png');
  background-position: -288px -0px;
}
.openmoji-1F3C7-1F3FE {
  background-image: url('people-body-10.png');
  background-position: -360px -0px;
}
.openmoji-1F3C7-1F3FF {
  background-image: url('people-body-10.png');
  background-position: -432px -0px;
}
.openmoji-26F7 {
  background-image: url('people-body-10.png');
  background-position: -504px -0px;
}
.openmoji-1F3C2 {
  background-image: url('people-body-10.png');
  background-position: -576px -0px;
}
.openmoji-1F3C2-1F3FB {
  background-image: url('people-body-10.png');
  background-position: -648px -0px;
}
.openmoji-1F3C2-1F3FC {
  background-image: url('people-body-10.png');
  background-position: -720px -0px;
}
.openmoji-1F3C2-1F3FD {
  background-image: url('people-body-10.png');
  background-position: -792px -0px;
}
.openmoji-1F3C2-1F3FE {
  background-image: url('people-body-10.png');
  background-position: -864px -0px;
}
.openmoji-1F3C2-1F3FF {
  background-image: url('people-body-10.png');
  background-position: -936px -0px;
}
.openmoji-1F3CC {
  background-image: url('people-body-10.png');
  background-position: -1008px -0px;
}
.openmoji-1F3CC-1F3FB {
  background-image: url('people-body-10.png');
  background-position: -1080px -0px;
}
.openmoji-1F3CC-1F3FC {
  background-image: url('people-body-10.png');
  background-position: -0px -72px;
}
.openmoji-1F3CC-1F3FD {
  background-image: url('people-body-10.png');
  background-position: -72px -72px;
}
.openmoji-1F3CC-1F3FE {
  background-image: url('people-body-10.png');
  background-position: -144px -72px;
}
.openmoji-1F3CC-1F3FF {
  background-image: url('people-body-10.png');
  background-position: -216px -72px;
}
.openmoji-1F3CC-FE0F-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -288px -72px;
}
.openmoji-1F3CC-1F3FB-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -360px -72px;
}
.openmoji-1F3CC-1F3FC-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -432px -72px;
}
.openmoji-1F3CC-1F3FD-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -504px -72px;
}
.openmoji-1F3CC-1F3FE-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -576px -72px;
}
.openmoji-1F3CC-1F3FF-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -648px -72px;
}
.openmoji-1F3CC-FE0F-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -720px -72px;
}
.openmoji-1F3CC-1F3FB-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -792px -72px;
}
.openmoji-1F3CC-1F3FC-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -864px -72px;
}
.openmoji-1F3CC-1F3FD-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -936px -72px;
}
.openmoji-1F3CC-1F3FE-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -1008px -72px;
}
.openmoji-1F3CC-1F3FF-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -1080px -72px;
}
.openmoji-1F3C4 {
  background-image: url('people-body-10.png');
  background-position: -0px -144px;
}
.openmoji-1F3C4-1F3FB {
  background-image: url('people-body-10.png');
  background-position: -72px -144px;
}
.openmoji-1F3C4-1F3FC {
  background-image: url('people-body-10.png');
  background-position: -144px -144px;
}
.openmoji-1F3C4-1F3FD {
  background-image: url('people-body-10.png');
  background-position: -216px -144px;
}
.openmoji-1F3C4-1F3FE {
  background-image: url('people-body-10.png');
  background-position: -288px -144px;
}
.openmoji-1F3C4-1F3FF {
  background-image: url('people-body-10.png');
  background-position: -360px -144px;
}
.openmoji-1F3C4-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -432px -144px;
}
.openmoji-1F3C4-1F3FB-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -504px -144px;
}
.openmoji-1F3C4-1F3FC-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -576px -144px;
}
.openmoji-1F3C4-1F3FD-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -648px -144px;
}
.openmoji-1F3C4-1F3FE-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -720px -144px;
}
.openmoji-1F3C4-1F3FF-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -792px -144px;
}
.openmoji-1F3C4-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -864px -144px;
}
.openmoji-1F3C4-1F3FB-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -936px -144px;
}
.openmoji-1F3C4-1F3FC-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -1008px -144px;
}
.openmoji-1F3C4-1F3FD-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -1080px -144px;
}
.openmoji-1F3C4-1F3FE-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -0px -216px;
}
.openmoji-1F3C4-1F3FF-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -72px -216px;
}
.openmoji-1F6A3 {
  background-image: url('people-body-10.png');
  background-position: -144px -216px;
}
.openmoji-1F6A3-1F3FB {
  background-image: url('people-body-10.png');
  background-position: -216px -216px;
}
.openmoji-1F6A3-1F3FC {
  background-image: url('people-body-10.png');
  background-position: -288px -216px;
}
.openmoji-1F6A3-1F3FD {
  background-image: url('people-body-10.png');
  background-position: -360px -216px;
}
.openmoji-1F6A3-1F3FE {
  background-image: url('people-body-10.png');
  background-position: -432px -216px;
}
.openmoji-1F6A3-1F3FF {
  background-image: url('people-body-10.png');
  background-position: -504px -216px;
}
.openmoji-1F6A3-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -576px -216px;
}
.openmoji-1F6A3-1F3FB-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -648px -216px;
}
.openmoji-1F6A3-1F3FC-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -720px -216px;
}
.openmoji-1F6A3-1F3FD-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -792px -216px;
}
.openmoji-1F6A3-1F3FE-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -864px -216px;
}
.openmoji-1F6A3-1F3FF-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -936px -216px;
}
.openmoji-1F6A3-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -1008px -216px;
}
.openmoji-1F6A3-1F3FB-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -1080px -216px;
}
.openmoji-1F6A3-1F3FC-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -0px -288px;
}
.openmoji-1F6A3-1F3FD-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -72px -288px;
}
.openmoji-1F6A3-1F3FE-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -144px -288px;
}
.openmoji-1F6A3-1F3FF-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -216px -288px;
}
.openmoji-1F3CA {
  background-image: url('people-body-10.png');
  background-position: -288px -288px;
}
.openmoji-1F3CA-1F3FB {
  background-image: url('people-body-10.png');
  background-position: -360px -288px;
}
.openmoji-1F3CA-1F3FC {
  background-image: url('people-body-10.png');
  background-position: -432px -288px;
}
.openmoji-1F3CA-1F3FD {
  background-image: url('people-body-10.png');
  background-position: -504px -288px;
}
.openmoji-1F3CA-1F3FE {
  background-image: url('people-body-10.png');
  background-position: -576px -288px;
}
.openmoji-1F3CA-1F3FF {
  background-image: url('people-body-10.png');
  background-position: -648px -288px;
}
.openmoji-1F3CA-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -720px -288px;
}
.openmoji-1F3CA-1F3FB-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -792px -288px;
}
.openmoji-1F3CA-1F3FC-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -864px -288px;
}
.openmoji-1F3CA-1F3FD-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -936px -288px;
}
.openmoji-1F3CA-1F3FE-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -1008px -288px;
}
.openmoji-1F3CA-1F3FF-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -1080px -288px;
}
.openmoji-1F3CA-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -0px -360px;
}
.openmoji-1F3CA-1F3FB-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -72px -360px;
}
.openmoji-1F3CA-1F3FC-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -144px -360px;
}
.openmoji-1F3CA-1F3FD-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -216px -360px;
}
.openmoji-1F3CA-1F3FE-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -288px -360px;
}
.openmoji-1F3CA-1F3FF-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -360px -360px;
}
.openmoji-26F9 {
  background-image: url('people-body-10.png');
  background-position: -432px -360px;
}
.openmoji-26F9-1F3FB {
  background-image: url('people-body-10.png');
  background-position: -504px -360px;
}
.openmoji-26F9-1F3FC {
  background-image: url('people-body-10.png');
  background-position: -576px -360px;
}
.openmoji-26F9-1F3FD {
  background-image: url('people-body-10.png');
  background-position: -648px -360px;
}
.openmoji-26F9-1F3FE {
  background-image: url('people-body-10.png');
  background-position: -720px -360px;
}
.openmoji-26F9-1F3FF {
  background-image: url('people-body-10.png');
  background-position: -792px -360px;
}
.openmoji-26F9-FE0F-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -864px -360px;
}
.openmoji-26F9-1F3FB-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -936px -360px;
}
.openmoji-26F9-1F3FC-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -1008px -360px;
}
.openmoji-26F9-1F3FD-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -1080px -360px;
}
.openmoji-26F9-1F3FE-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -0px -432px;
}
.openmoji-26F9-1F3FF-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -72px -432px;
}
.openmoji-26F9-FE0F-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -144px -432px;
}
.openmoji-26F9-1F3FB-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -216px -432px;
}
.openmoji-26F9-1F3FC-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -288px -432px;
}
.openmoji-26F9-1F3FD-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -360px -432px;
}
.openmoji-26F9-1F3FE-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -432px -432px;
}
.openmoji-26F9-1F3FF-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -504px -432px;
}
.openmoji-1F3CB {
  background-image: url('people-body-10.png');
  background-position: -576px -432px;
}
.openmoji-1F3CB-1F3FB {
  background-image: url('people-body-10.png');
  background-position: -648px -432px;
}
.openmoji-1F3CB-1F3FC {
  background-image: url('people-body-10.png');
  background-position: -720px -432px;
}
.openmoji-1F3CB-1F3FD {
  background-image: url('people-body-10.png');
  background-position: -792px -432px;
}
.openmoji-1F3CB-1F3FE {
  background-image: url('people-body-10.png');
  background-position: -864px -432px;
}
.openmoji-1F3CB-1F3FF {
  background-image: url('people-body-10.png');
  background-position: -936px -432px;
}
.openmoji-1F3CB-FE0F-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -1008px -432px;
}
.openmoji-1F3CB-1F3FB-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -1080px -432px;
}
.openmoji-1F3CB-1F3FC-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -0px -504px;
}
.openmoji-1F3CB-1F3FD-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -72px -504px;
}
.openmoji-1F3CB-1F3FE-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -144px -504px;
}
.openmoji-1F3CB-1F3FF-200D-2642-FE0F {
  background-image: url('people-body-10.png');
  background-position: -216px -504px;
}
.openmoji-1F3CB-FE0F-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -288px -504px;
}
.openmoji-1F3CB-1F3FB-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -360px -504px;
}
.openmoji-1F3CB-1F3FC-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -432px -504px;
}
.openmoji-1F3CB-1F3FD-200D-2640-FE0F {
  background-image: url('people-body-10.png');
  background-position: -504px -504px;
}
