.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
}

.openmoji-1F9D1-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -0px -0px;
}
.openmoji-1F9D1-1F3FB-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -72px -0px;
}
.openmoji-1F9D1-1F3FC-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -144px -0px;
}
.openmoji-1F9D1-1F3FD-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -216px -0px;
}
.openmoji-1F9D1-1F3FE-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -288px -0px;
}
.openmoji-1F9D1-1F3FF-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -360px -0px;
}
.openmoji-1F468-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -432px -0px;
}
.openmoji-1F468-1F3FB-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -504px -0px;
}
.openmoji-1F468-1F3FC-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -576px -0px;
}
.openmoji-1F468-1F3FD-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -648px -0px;
}
.openmoji-1F468-1F3FE-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -720px -0px;
}
.openmoji-1F468-1F3FF-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -792px -0px;
}
.openmoji-1F469-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -864px -0px;
}
.openmoji-1F469-1F3FB-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -936px -0px;
}
.openmoji-1F469-1F3FC-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -1008px -0px;
}
.openmoji-1F469-1F3FD-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -1080px -0px;
}
.openmoji-1F469-1F3FE-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -0px -72px;
}
.openmoji-1F469-1F3FF-200D-1F4BB {
  background-image: url('people-body-05.png');
  background-position: -72px -72px;
}
.openmoji-1F9D1-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -144px -72px;
}
.openmoji-1F9D1-1F3FB-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -216px -72px;
}
.openmoji-1F9D1-1F3FC-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -288px -72px;
}
.openmoji-1F9D1-1F3FD-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -360px -72px;
}
.openmoji-1F9D1-1F3FE-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -432px -72px;
}
.openmoji-1F9D1-1F3FF-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -504px -72px;
}
.openmoji-1F468-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -576px -72px;
}
.openmoji-1F468-1F3FB-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -648px -72px;
}
.openmoji-1F468-1F3FC-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -720px -72px;
}
.openmoji-1F468-1F3FD-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -792px -72px;
}
.openmoji-1F468-1F3FE-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -864px -72px;
}
.openmoji-1F468-1F3FF-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -936px -72px;
}
.openmoji-1F469-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -1008px -72px;
}
.openmoji-1F469-1F3FB-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -1080px -72px;
}
.openmoji-1F469-1F3FC-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -0px -144px;
}
.openmoji-1F469-1F3FD-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -72px -144px;
}
.openmoji-1F469-1F3FE-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -144px -144px;
}
.openmoji-1F469-1F3FF-200D-1F3A4 {
  background-image: url('people-body-05.png');
  background-position: -216px -144px;
}
.openmoji-1F9D1-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -288px -144px;
}
.openmoji-1F9D1-1F3FB-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -360px -144px;
}
.openmoji-1F9D1-1F3FC-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -432px -144px;
}
.openmoji-1F9D1-1F3FD-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -504px -144px;
}
.openmoji-1F9D1-1F3FE-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -576px -144px;
}
.openmoji-1F9D1-1F3FF-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -648px -144px;
}
.openmoji-1F468-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -720px -144px;
}
.openmoji-1F468-1F3FB-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -792px -144px;
}
.openmoji-1F468-1F3FC-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -864px -144px;
}
.openmoji-1F468-1F3FD-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -936px -144px;
}
.openmoji-1F468-1F3FE-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -1008px -144px;
}
.openmoji-1F468-1F3FF-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -1080px -144px;
}
.openmoji-1F469-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -0px -216px;
}
.openmoji-1F469-1F3FB-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -72px -216px;
}
.openmoji-1F469-1F3FC-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -144px -216px;
}
.openmoji-1F469-1F3FD-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -216px -216px;
}
.openmoji-1F469-1F3FE-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -288px -216px;
}
.openmoji-1F469-1F3FF-200D-1F3A8 {
  background-image: url('people-body-05.png');
  background-position: -360px -216px;
}
.openmoji-1F9D1-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -432px -216px;
}
.openmoji-1F9D1-1F3FB-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -504px -216px;
}
.openmoji-1F9D1-1F3FC-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -576px -216px;
}
.openmoji-1F9D1-1F3FD-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -648px -216px;
}
.openmoji-1F9D1-1F3FE-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -720px -216px;
}
.openmoji-1F9D1-1F3FF-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -792px -216px;
}
.openmoji-1F468-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -864px -216px;
}
.openmoji-1F468-1F3FB-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -936px -216px;
}
.openmoji-1F468-1F3FC-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -1008px -216px;
}
.openmoji-1F468-1F3FD-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -1080px -216px;
}
.openmoji-1F468-1F3FE-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -0px -288px;
}
.openmoji-1F468-1F3FF-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -72px -288px;
}
.openmoji-1F469-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -144px -288px;
}
.openmoji-1F469-1F3FB-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -216px -288px;
}
.openmoji-1F469-1F3FC-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -288px -288px;
}
.openmoji-1F469-1F3FD-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -360px -288px;
}
.openmoji-1F469-1F3FE-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -432px -288px;
}
.openmoji-1F469-1F3FF-200D-2708-FE0F {
  background-image: url('people-body-05.png');
  background-position: -504px -288px;
}
.openmoji-1F9D1-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -576px -288px;
}
.openmoji-1F9D1-1F3FB-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -648px -288px;
}
.openmoji-1F9D1-1F3FC-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -720px -288px;
}
.openmoji-1F9D1-1F3FD-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -792px -288px;
}
.openmoji-1F9D1-1F3FE-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -864px -288px;
}
.openmoji-1F9D1-1F3FF-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -936px -288px;
}
.openmoji-1F468-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -1008px -288px;
}
.openmoji-1F468-1F3FB-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -1080px -288px;
}
.openmoji-1F468-1F3FC-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -0px -360px;
}
.openmoji-1F468-1F3FD-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -72px -360px;
}
.openmoji-1F468-1F3FE-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -144px -360px;
}
.openmoji-1F468-1F3FF-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -216px -360px;
}
.openmoji-1F469-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -288px -360px;
}
.openmoji-1F469-1F3FB-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -360px -360px;
}
.openmoji-1F469-1F3FC-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -432px -360px;
}
.openmoji-1F469-1F3FD-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -504px -360px;
}
.openmoji-1F469-1F3FE-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -576px -360px;
}
.openmoji-1F469-1F3FF-200D-1F680 {
  background-image: url('people-body-05.png');
  background-position: -648px -360px;
}
.openmoji-1F9D1-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -720px -360px;
}
.openmoji-1F9D1-1F3FB-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -792px -360px;
}
.openmoji-1F9D1-1F3FC-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -864px -360px;
}
.openmoji-1F9D1-1F3FD-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -936px -360px;
}
.openmoji-1F9D1-1F3FE-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -1008px -360px;
}
.openmoji-1F9D1-1F3FF-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -1080px -360px;
}
.openmoji-1F468-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -0px -432px;
}
.openmoji-1F468-1F3FB-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -72px -432px;
}
.openmoji-1F468-1F3FC-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -144px -432px;
}
.openmoji-1F468-1F3FD-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -216px -432px;
}
.openmoji-1F468-1F3FE-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -288px -432px;
}
.openmoji-1F468-1F3FF-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -360px -432px;
}
.openmoji-1F469-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -432px -432px;
}
.openmoji-1F469-1F3FB-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -504px -432px;
}
.openmoji-1F469-1F3FC-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -576px -432px;
}
.openmoji-1F469-1F3FD-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -648px -432px;
}
.openmoji-1F469-1F3FE-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -720px -432px;
}
.openmoji-1F469-1F3FF-200D-1F692 {
  background-image: url('people-body-05.png');
  background-position: -792px -432px;
}
.openmoji-1F46E {
  background-image: url('people-body-05.png');
  background-position: -864px -432px;
}
.openmoji-1F46E-1F3FB {
  background-image: url('people-body-05.png');
  background-position: -936px -432px;
}
.openmoji-1F46E-1F3FC {
  background-image: url('people-body-05.png');
  background-position: -1008px -432px;
}
.openmoji-1F46E-1F3FD {
  background-image: url('people-body-05.png');
  background-position: -1080px -432px;
}
.openmoji-1F46E-1F3FE {
  background-image: url('people-body-05.png');
  background-position: -0px -504px;
}
.openmoji-1F46E-1F3FF {
  background-image: url('people-body-05.png');
  background-position: -72px -504px;
}
.openmoji-1F46E-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -144px -504px;
}
.openmoji-1F46E-1F3FB-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -216px -504px;
}
.openmoji-1F46E-1F3FC-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -288px -504px;
}
.openmoji-1F46E-1F3FD-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -360px -504px;
}
.openmoji-1F46E-1F3FE-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -432px -504px;
}
.openmoji-1F46E-1F3FF-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -504px -504px;
}
.openmoji-1F46E-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -576px -504px;
}
.openmoji-1F46E-1F3FB-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -648px -504px;
}
.openmoji-1F46E-1F3FC-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -720px -504px;
}
.openmoji-1F46E-1F3FD-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -792px -504px;
}
.openmoji-1F46E-1F3FE-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -864px -504px;
}
.openmoji-1F46E-1F3FF-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -936px -504px;
}
.openmoji-1F575 {
  background-image: url('people-body-05.png');
  background-position: -1008px -504px;
}
.openmoji-1F575-1F3FB {
  background-image: url('people-body-05.png');
  background-position: -1080px -504px;
}
.openmoji-1F575-1F3FC {
  background-image: url('people-body-05.png');
  background-position: -0px -576px;
}
.openmoji-1F575-1F3FD {
  background-image: url('people-body-05.png');
  background-position: -72px -576px;
}
.openmoji-1F575-1F3FE {
  background-image: url('people-body-05.png');
  background-position: -144px -576px;
}
.openmoji-1F575-1F3FF {
  background-image: url('people-body-05.png');
  background-position: -216px -576px;
}
.openmoji-1F575-FE0F-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -288px -576px;
}
.openmoji-1F575-1F3FB-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -360px -576px;
}
.openmoji-1F575-1F3FC-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -432px -576px;
}
.openmoji-1F575-1F3FD-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -504px -576px;
}
.openmoji-1F575-1F3FE-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -576px -576px;
}
.openmoji-1F575-1F3FF-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -648px -576px;
}
.openmoji-1F575-FE0F-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -720px -576px;
}
.openmoji-1F575-1F3FB-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -792px -576px;
}
.openmoji-1F575-1F3FC-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -864px -576px;
}
.openmoji-1F575-1F3FD-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -936px -576px;
}
.openmoji-1F575-1F3FE-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -1008px -576px;
}
.openmoji-1F575-1F3FF-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -1080px -576px;
}
.openmoji-1F482 {
  background-image: url('people-body-05.png');
  background-position: -0px -648px;
}
.openmoji-1F482-1F3FB {
  background-image: url('people-body-05.png');
  background-position: -72px -648px;
}
.openmoji-1F482-1F3FC {
  background-image: url('people-body-05.png');
  background-position: -144px -648px;
}
.openmoji-1F482-1F3FD {
  background-image: url('people-body-05.png');
  background-position: -216px -648px;
}
.openmoji-1F482-1F3FE {
  background-image: url('people-body-05.png');
  background-position: -288px -648px;
}
.openmoji-1F482-1F3FF {
  background-image: url('people-body-05.png');
  background-position: -360px -648px;
}
.openmoji-1F482-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -432px -648px;
}
.openmoji-1F482-1F3FB-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -504px -648px;
}
.openmoji-1F482-1F3FC-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -576px -648px;
}
.openmoji-1F482-1F3FD-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -648px -648px;
}
.openmoji-1F482-1F3FE-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -720px -648px;
}
.openmoji-1F482-1F3FF-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -792px -648px;
}
.openmoji-1F482-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -864px -648px;
}
.openmoji-1F482-1F3FB-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -936px -648px;
}
.openmoji-1F482-1F3FC-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -1008px -648px;
}
.openmoji-1F482-1F3FD-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -1080px -648px;
}
.openmoji-1F482-1F3FE-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -0px -720px;
}
.openmoji-1F482-1F3FF-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -72px -720px;
}
.openmoji-1F477 {
  background-image: url('people-body-05.png');
  background-position: -144px -720px;
}
.openmoji-1F477-1F3FB {
  background-image: url('people-body-05.png');
  background-position: -216px -720px;
}
.openmoji-1F477-1F3FC {
  background-image: url('people-body-05.png');
  background-position: -288px -720px;
}
.openmoji-1F477-1F3FD {
  background-image: url('people-body-05.png');
  background-position: -360px -720px;
}
.openmoji-1F477-1F3FE {
  background-image: url('people-body-05.png');
  background-position: -432px -720px;
}
.openmoji-1F477-1F3FF {
  background-image: url('people-body-05.png');
  background-position: -504px -720px;
}
.openmoji-1F477-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -576px -720px;
}
.openmoji-1F477-1F3FB-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -648px -720px;
}
.openmoji-1F477-1F3FC-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -720px -720px;
}
.openmoji-1F477-1F3FD-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -792px -720px;
}
.openmoji-1F477-1F3FE-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -864px -720px;
}
.openmoji-1F477-1F3FF-200D-2642-FE0F {
  background-image: url('people-body-05.png');
  background-position: -936px -720px;
}
.openmoji-1F477-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -1008px -720px;
}
.openmoji-1F477-1F3FB-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -1080px -720px;
}
.openmoji-1F477-1F3FC-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -0px -792px;
}
.openmoji-1F477-1F3FD-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -72px -792px;
}
.openmoji-1F477-1F3FE-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -144px -792px;
}
.openmoji-1F477-1F3FF-200D-2640-FE0F {
  background-image: url('people-body-05.png');
  background-position: -216px -792px;
}
