.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-image: url('smileys-emotion-1.png');
  background-repeat: no-repeat;
}

.openmoji-2764 {
  background-position: -0px -0px;
}
.openmoji-1F9E1 {
  background-position: -72px -0px;
}
.openmoji-1F49B {
  background-position: -144px -0px;
}
.openmoji-1F49A {
  background-position: -216px -0px;
}
.openmoji-1F499 {
  background-position: -288px -0px;
}
.openmoji-1F49C {
  background-position: -360px -0px;
}
.openmoji-1F90E {
  background-position: -432px -0px;
}
.openmoji-1F5A4 {
  background-position: -504px -0px;
}
.openmoji-1F90D {
  background-position: -0px -72px;
}
.openmoji-1F4AF {
  background-position: -72px -72px;
}
.openmoji-1F4A2 {
  background-position: -144px -72px;
}
.openmoji-1F4A5 {
  background-position: -216px -72px;
}
.openmoji-1F4AB {
  background-position: -288px -72px;
}
.openmoji-1F4A6 {
  background-position: -360px -72px;
}
.openmoji-1F4A8 {
  background-position: -432px -72px;
}
.openmoji-1F573 {
  background-position: -504px -72px;
}
.openmoji-1F4A3 {
  background-position: -0px -144px;
}
.openmoji-1F4AC {
  background-position: -72px -144px;
}
.openmoji-1F5E8 {
  background-position: -144px -144px;
}
.openmoji-1F5EF {
  background-position: -216px -144px;
}
.openmoji-1F4AD {
  background-position: -288px -144px;
}
.openmoji-1F4A4 {
  background-position: -360px -144px;
}
