.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
}

.openmoji-1F3E7 {
  background-image: url('symbols-00.png');
  background-position: -0px -0px;
}
.openmoji-1F6AE {
  background-image: url('symbols-00.png');
  background-position: -72px -0px;
}
.openmoji-1F6B0 {
  background-image: url('symbols-00.png');
  background-position: -144px -0px;
}
.openmoji-267F {
  background-image: url('symbols-00.png');
  background-position: -216px -0px;
}
.openmoji-1F6B9 {
  background-image: url('symbols-00.png');
  background-position: -288px -0px;
}
.openmoji-1F6BA {
  background-image: url('symbols-00.png');
  background-position: -360px -0px;
}
.openmoji-1F6BB {
  background-image: url('symbols-00.png');
  background-position: -432px -0px;
}
.openmoji-1F6BC {
  background-image: url('symbols-00.png');
  background-position: -504px -0px;
}
.openmoji-1F6BE {
  background-image: url('symbols-00.png');
  background-position: -576px -0px;
}
.openmoji-1F6C2 {
  background-image: url('symbols-00.png');
  background-position: -648px -0px;
}
.openmoji-1F6C3 {
  background-image: url('symbols-00.png');
  background-position: -720px -0px;
}
.openmoji-1F6C4 {
  background-image: url('symbols-00.png');
  background-position: -792px -0px;
}
.openmoji-1F6C5 {
  background-image: url('symbols-00.png');
  background-position: -864px -0px;
}
.openmoji-26A0 {
  background-image: url('symbols-00.png');
  background-position: -936px -0px;
}
.openmoji-1F6B8 {
  background-image: url('symbols-00.png');
  background-position: -1008px -0px;
}
.openmoji-26D4 {
  background-image: url('symbols-00.png');
  background-position: -1080px -0px;
}
.openmoji-1F6AB {
  background-image: url('symbols-00.png');
  background-position: -0px -72px;
}
.openmoji-1F6B3 {
  background-image: url('symbols-00.png');
  background-position: -72px -72px;
}
.openmoji-1F6AD {
  background-image: url('symbols-00.png');
  background-position: -144px -72px;
}
.openmoji-1F6AF {
  background-image: url('symbols-00.png');
  background-position: -216px -72px;
}
.openmoji-1F6B1 {
  background-image: url('symbols-00.png');
  background-position: -288px -72px;
}
.openmoji-1F6B7 {
  background-image: url('symbols-00.png');
  background-position: -360px -72px;
}
.openmoji-1F4F5 {
  background-image: url('symbols-00.png');
  background-position: -432px -72px;
}
.openmoji-1F51E {
  background-image: url('symbols-00.png');
  background-position: -504px -72px;
}
.openmoji-2622 {
  background-image: url('symbols-00.png');
  background-position: -576px -72px;
}
.openmoji-2623 {
  background-image: url('symbols-00.png');
  background-position: -648px -72px;
}
.openmoji-2B06 {
  background-image: url('symbols-00.png');
  background-position: -720px -72px;
}
.openmoji-2197 {
  background-image: url('symbols-00.png');
  background-position: -792px -72px;
}
.openmoji-27A1 {
  background-image: url('symbols-00.png');
  background-position: -864px -72px;
}
.openmoji-2198 {
  background-image: url('symbols-00.png');
  background-position: -936px -72px;
}
.openmoji-2B07 {
  background-image: url('symbols-00.png');
  background-position: -1008px -72px;
}
.openmoji-2199 {
  background-image: url('symbols-00.png');
  background-position: -1080px -72px;
}
.openmoji-2B05 {
  background-image: url('symbols-00.png');
  background-position: -0px -144px;
}
.openmoji-2196 {
  background-image: url('symbols-00.png');
  background-position: -72px -144px;
}
.openmoji-2195 {
  background-image: url('symbols-00.png');
  background-position: -144px -144px;
}
.openmoji-2194 {
  background-image: url('symbols-00.png');
  background-position: -216px -144px;
}
.openmoji-21A9 {
  background-image: url('symbols-00.png');
  background-position: -288px -144px;
}
.openmoji-21AA {
  background-image: url('symbols-00.png');
  background-position: -360px -144px;
}
.openmoji-2934 {
  background-image: url('symbols-00.png');
  background-position: -432px -144px;
}
.openmoji-2935 {
  background-image: url('symbols-00.png');
  background-position: -504px -144px;
}
.openmoji-1F503 {
  background-image: url('symbols-00.png');
  background-position: -576px -144px;
}
.openmoji-1F504 {
  background-image: url('symbols-00.png');
  background-position: -648px -144px;
}
.openmoji-1F519 {
  background-image: url('symbols-00.png');
  background-position: -720px -144px;
}
.openmoji-1F51A {
  background-image: url('symbols-00.png');
  background-position: -792px -144px;
}
.openmoji-1F51B {
  background-image: url('symbols-00.png');
  background-position: -864px -144px;
}
.openmoji-1F51C {
  background-image: url('symbols-00.png');
  background-position: -936px -144px;
}
.openmoji-1F51D {
  background-image: url('symbols-00.png');
  background-position: -1008px -144px;
}
.openmoji-1F6D0 {
  background-image: url('symbols-00.png');
  background-position: -1080px -144px;
}
.openmoji-269B {
  background-image: url('symbols-00.png');
  background-position: -0px -216px;
}
.openmoji-1F549 {
  background-image: url('symbols-00.png');
  background-position: -72px -216px;
}
.openmoji-2721 {
  background-image: url('symbols-00.png');
  background-position: -144px -216px;
}
.openmoji-2638 {
  background-image: url('symbols-00.png');
  background-position: -216px -216px;
}
.openmoji-262F {
  background-image: url('symbols-00.png');
  background-position: -288px -216px;
}
.openmoji-271D {
  background-image: url('symbols-00.png');
  background-position: -360px -216px;
}
.openmoji-2626 {
  background-image: url('symbols-00.png');
  background-position: -432px -216px;
}
.openmoji-262A {
  background-image: url('symbols-00.png');
  background-position: -504px -216px;
}
.openmoji-262E {
  background-image: url('symbols-00.png');
  background-position: -576px -216px;
}
.openmoji-1F54E {
  background-image: url('symbols-00.png');
  background-position: -648px -216px;
}
.openmoji-1F52F {
  background-image: url('symbols-00.png');
  background-position: -720px -216px;
}
.openmoji-2648 {
  background-image: url('symbols-00.png');
  background-position: -792px -216px;
}
.openmoji-2649 {
  background-image: url('symbols-00.png');
  background-position: -864px -216px;
}
.openmoji-264A {
  background-image: url('symbols-00.png');
  background-position: -936px -216px;
}
.openmoji-264B {
  background-image: url('symbols-00.png');
  background-position: -1008px -216px;
}
.openmoji-264C {
  background-image: url('symbols-00.png');
  background-position: -1080px -216px;
}
.openmoji-264D {
  background-image: url('symbols-00.png');
  background-position: -0px -288px;
}
.openmoji-264E {
  background-image: url('symbols-00.png');
  background-position: -72px -288px;
}
.openmoji-264F {
  background-image: url('symbols-00.png');
  background-position: -144px -288px;
}
.openmoji-2650 {
  background-image: url('symbols-00.png');
  background-position: -216px -288px;
}
.openmoji-2651 {
  background-image: url('symbols-00.png');
  background-position: -288px -288px;
}
.openmoji-2652 {
  background-image: url('symbols-00.png');
  background-position: -360px -288px;
}
.openmoji-2653 {
  background-image: url('symbols-00.png');
  background-position: -432px -288px;
}
.openmoji-26CE {
  background-image: url('symbols-00.png');
  background-position: -504px -288px;
}
.openmoji-1F500 {
  background-image: url('symbols-00.png');
  background-position: -576px -288px;
}
.openmoji-1F501 {
  background-image: url('symbols-00.png');
  background-position: -648px -288px;
}
.openmoji-1F502 {
  background-image: url('symbols-00.png');
  background-position: -720px -288px;
}
.openmoji-25B6 {
  background-image: url('symbols-00.png');
  background-position: -792px -288px;
}
.openmoji-23E9 {
  background-image: url('symbols-00.png');
  background-position: -864px -288px;
}
.openmoji-23ED {
  background-image: url('symbols-00.png');
  background-position: -936px -288px;
}
.openmoji-23EF {
  background-image: url('symbols-00.png');
  background-position: -1008px -288px;
}
.openmoji-25C0 {
  background-image: url('symbols-00.png');
  background-position: -1080px -288px;
}
.openmoji-23EA {
  background-image: url('symbols-00.png');
  background-position: -0px -360px;
}
.openmoji-23EE {
  background-image: url('symbols-00.png');
  background-position: -72px -360px;
}
.openmoji-1F53C {
  background-image: url('symbols-00.png');
  background-position: -144px -360px;
}
.openmoji-23EB {
  background-image: url('symbols-00.png');
  background-position: -216px -360px;
}
.openmoji-1F53D {
  background-image: url('symbols-00.png');
  background-position: -288px -360px;
}
.openmoji-23EC {
  background-image: url('symbols-00.png');
  background-position: -360px -360px;
}
.openmoji-23F8 {
  background-image: url('symbols-00.png');
  background-position: -432px -360px;
}
.openmoji-23F9 {
  background-image: url('symbols-00.png');
  background-position: -504px -360px;
}
.openmoji-23FA {
  background-image: url('symbols-00.png');
  background-position: -576px -360px;
}
.openmoji-23CF {
  background-image: url('symbols-00.png');
  background-position: -648px -360px;
}
.openmoji-1F3A6 {
  background-image: url('symbols-00.png');
  background-position: -720px -360px;
}
.openmoji-1F505 {
  background-image: url('symbols-00.png');
  background-position: -792px -360px;
}
.openmoji-1F506 {
  background-image: url('symbols-00.png');
  background-position: -864px -360px;
}
.openmoji-1F4F6 {
  background-image: url('symbols-00.png');
  background-position: -936px -360px;
}
.openmoji-1F4F3 {
  background-image: url('symbols-00.png');
  background-position: -1008px -360px;
}
.openmoji-1F4F4 {
  background-image: url('symbols-00.png');
  background-position: -1080px -360px;
}
.openmoji-2640 {
  background-image: url('symbols-00.png');
  background-position: -0px -432px;
}
.openmoji-2642 {
  background-image: url('symbols-00.png');
  background-position: -72px -432px;
}
.openmoji-26A7 {
  background-image: url('symbols-00.png');
  background-position: -144px -432px;
}
