.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-image: url('symbols-01.png');
  background-repeat: no-repeat;
}

.openmoji-2716 {
  background-position: -0px -0px;
}
.openmoji-2795 {
  background-position: -72px -0px;
}
.openmoji-2796 {
  background-position: -144px -0px;
}
.openmoji-2797 {
  background-position: -216px -0px;
}
.openmoji-267E {
  background-position: -288px -0px;
}
.openmoji-203C {
  background-position: -360px -0px;
}
.openmoji-2049 {
  background-position: -432px -0px;
}
.openmoji-2753 {
  background-position: -504px -0px;
}
.openmoji-2754 {
  background-position: -576px -0px;
}
.openmoji-2755 {
  background-position: -648px -0px;
}
.openmoji-2757 {
  background-position: -720px -0px;
}
.openmoji-3030 {
  background-position: -792px -0px;
}
.openmoji-1F4B1 {
  background-position: -864px -0px;
}
.openmoji-1F4B2 {
  background-position: -936px -0px;
}
.openmoji-2695 {
  background-position: -1008px -0px;
}
.openmoji-267B {
  background-position: -1080px -0px;
}
.openmoji-269C {
  background-position: -0px -72px;
}
.openmoji-1F531 {
  background-position: -72px -72px;
}
.openmoji-1F4DB {
  background-position: -144px -72px;
}
.openmoji-1F530 {
  background-position: -216px -72px;
}
.openmoji-2B55 {
  background-position: -288px -72px;
}
.openmoji-2705 {
  background-position: -360px -72px;
}
.openmoji-2611 {
  background-position: -432px -72px;
}
.openmoji-2714 {
  background-position: -504px -72px;
}
.openmoji-274C {
  background-position: -576px -72px;
}
.openmoji-274E {
  background-position: -648px -72px;
}
.openmoji-27B0 {
  background-position: -720px -72px;
}
.openmoji-27BF {
  background-position: -792px -72px;
}
.openmoji-303D {
  background-position: -864px -72px;
}
.openmoji-2733 {
  background-position: -936px -72px;
}
.openmoji-2734 {
  background-position: -1008px -72px;
}
.openmoji-2747 {
  background-position: -1080px -72px;
}
.openmoji-00A9 {
  background-position: -0px -144px;
}
.openmoji-00AE {
  background-position: -72px -144px;
}
.openmoji-2122 {
  background-position: -144px -144px;
}
.openmoji-0023-FE0F-20E3 {
  background-position: -216px -144px;
}
.openmoji-002A-FE0F-20E3 {
  background-position: -288px -144px;
}
.openmoji-0030-FE0F-20E3 {
  background-position: -360px -144px;
}
.openmoji-0031-FE0F-20E3 {
  background-position: -432px -144px;
}
.openmoji-0032-FE0F-20E3 {
  background-position: -504px -144px;
}
.openmoji-0033-FE0F-20E3 {
  background-position: -576px -144px;
}
.openmoji-0034-FE0F-20E3 {
  background-position: -648px -144px;
}
.openmoji-0035-FE0F-20E3 {
  background-position: -720px -144px;
}
.openmoji-0036-FE0F-20E3 {
  background-position: -792px -144px;
}
.openmoji-0037-FE0F-20E3 {
  background-position: -864px -144px;
}
.openmoji-0038-FE0F-20E3 {
  background-position: -936px -144px;
}
.openmoji-0039-FE0F-20E3 {
  background-position: -1008px -144px;
}
.openmoji-1F51F {
  background-position: -1080px -144px;
}
.openmoji-1F520 {
  background-position: -0px -216px;
}
.openmoji-1F521 {
  background-position: -72px -216px;
}
.openmoji-1F522 {
  background-position: -144px -216px;
}
.openmoji-1F523 {
  background-position: -216px -216px;
}
.openmoji-1F524 {
  background-position: -288px -216px;
}
.openmoji-1F170 {
  background-position: -360px -216px;
}
.openmoji-1F18E {
  background-position: -432px -216px;
}
.openmoji-1F171 {
  background-position: -504px -216px;
}
.openmoji-1F191 {
  background-position: -576px -216px;
}
.openmoji-1F192 {
  background-position: -648px -216px;
}
.openmoji-1F193 {
  background-position: -720px -216px;
}
.openmoji-2139 {
  background-position: -792px -216px;
}
.openmoji-1F194 {
  background-position: -864px -216px;
}
.openmoji-24C2 {
  background-position: -936px -216px;
}
.openmoji-1F195 {
  background-position: -1008px -216px;
}
.openmoji-1F196 {
  background-position: -1080px -216px;
}
.openmoji-1F17E {
  background-position: -0px -288px;
}
.openmoji-1F197 {
  background-position: -72px -288px;
}
.openmoji-1F17F {
  background-position: -144px -288px;
}
.openmoji-1F198 {
  background-position: -216px -288px;
}
.openmoji-1F199 {
  background-position: -288px -288px;
}
.openmoji-1F19A {
  background-position: -360px -288px;
}
.openmoji-1F201 {
  background-position: -432px -288px;
}
.openmoji-1F202 {
  background-position: -504px -288px;
}
.openmoji-1F237 {
  background-position: -576px -288px;
}
.openmoji-1F236 {
  background-position: -648px -288px;
}
.openmoji-1F22F {
  background-position: -720px -288px;
}
.openmoji-1F250 {
  background-position: -792px -288px;
}
.openmoji-1F239 {
  background-position: -864px -288px;
}
.openmoji-1F21A {
  background-position: -936px -288px;
}
.openmoji-1F232 {
  background-position: -1008px -288px;
}
.openmoji-1F251 {
  background-position: -1080px -288px;
}
.openmoji-1F238 {
  background-position: -0px -360px;
}
.openmoji-1F234 {
  background-position: -72px -360px;
}
.openmoji-1F233 {
  background-position: -144px -360px;
}
.openmoji-3297 {
  background-position: -216px -360px;
}
.openmoji-3299 {
  background-position: -288px -360px;
}
.openmoji-1F23A {
  background-position: -360px -360px;
}
.openmoji-1F235 {
  background-position: -432px -360px;
}
.openmoji-1F534 {
  background-position: -504px -360px;
}
.openmoji-1F7E0 {
  background-position: -576px -360px;
}
.openmoji-1F7E1 {
  background-position: -648px -360px;
}
.openmoji-1F7E2 {
  background-position: -720px -360px;
}
.openmoji-1F535 {
  background-position: -792px -360px;
}
.openmoji-1F7E3 {
  background-position: -864px -360px;
}
.openmoji-1F7E4 {
  background-position: -936px -360px;
}
.openmoji-26AB {
  background-position: -1008px -360px;
}
.openmoji-26AA {
  background-position: -1080px -360px;
}
.openmoji-1F7E5 {
  background-position: -0px -432px;
}
.openmoji-1F7E7 {
  background-position: -72px -432px;
}
.openmoji-1F7E8 {
  background-position: -144px -432px;
}
.openmoji-1F7E9 {
  background-position: -216px -432px;
}
.openmoji-1F7E6 {
  background-position: -288px -432px;
}
.openmoji-1F7EA {
  background-position: -360px -432px;
}
.openmoji-1F7EB {
  background-position: -432px -432px;
}
.openmoji-2B1B {
  background-position: -504px -432px;
}
.openmoji-2B1C {
  background-position: -576px -432px;
}
.openmoji-25FC {
  background-position: -648px -432px;
}
.openmoji-25FB {
  background-position: -720px -432px;
}
.openmoji-25FE {
  background-position: -792px -432px;
}
.openmoji-25FD {
  background-position: -864px -432px;
}
.openmoji-25AA {
  background-position: -936px -432px;
}
.openmoji-25AB {
  background-position: -1008px -432px;
}
.openmoji-1F536 {
  background-position: -1080px -432px;
}
.openmoji-1F537 {
  background-position: -0px -504px;
}
.openmoji-1F538 {
  background-position: -72px -504px;
}
.openmoji-1F539 {
  background-position: -144px -504px;
}
.openmoji-1F53A {
  background-position: -216px -504px;
}
.openmoji-1F53B {
  background-position: -288px -504px;
}
.openmoji-1F4A0 {
  background-position: -360px -504px;
}
.openmoji-1F518 {
  background-position: -432px -504px;
}
.openmoji-1F533 {
  background-position: -504px -504px;
}
.openmoji-1F532 {
  background-position: -576px -504px;
}
