.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
}

.openmoji-1F30D {
  background-image: url('travel-places-00.png');
  background-position: -0px -0px;
}
.openmoji-1F30E {
  background-image: url('travel-places-00.png');
  background-position: -72px -0px;
}
.openmoji-1F30F {
  background-image: url('travel-places-00.png');
  background-position: -144px -0px;
}
.openmoji-1F310 {
  background-image: url('travel-places-00.png');
  background-position: -216px -0px;
}
.openmoji-1F5FA {
  background-image: url('travel-places-00.png');
  background-position: -288px -0px;
}
.openmoji-1F5FE {
  background-image: url('travel-places-00.png');
  background-position: -360px -0px;
}
.openmoji-1F9ED {
  background-image: url('travel-places-00.png');
  background-position: -432px -0px;
}
.openmoji-1F3D4 {
  background-image: url('travel-places-00.png');
  background-position: -504px -0px;
}
.openmoji-26F0 {
  background-image: url('travel-places-00.png');
  background-position: -576px -0px;
}
.openmoji-1F30B {
  background-image: url('travel-places-00.png');
  background-position: -648px -0px;
}
.openmoji-1F5FB {
  background-image: url('travel-places-00.png');
  background-position: -720px -0px;
}
.openmoji-1F3D5 {
  background-image: url('travel-places-00.png');
  background-position: -792px -0px;
}
.openmoji-1F3D6 {
  background-image: url('travel-places-00.png');
  background-position: -864px -0px;
}
.openmoji-1F3DC {
  background-image: url('travel-places-00.png');
  background-position: -936px -0px;
}
.openmoji-1F3DD {
  background-image: url('travel-places-00.png');
  background-position: -1008px -0px;
}
.openmoji-1F3DE {
  background-image: url('travel-places-00.png');
  background-position: -1080px -0px;
}
.openmoji-1F3DF {
  background-image: url('travel-places-00.png');
  background-position: -0px -72px;
}
.openmoji-1F3DB {
  background-image: url('travel-places-00.png');
  background-position: -72px -72px;
}
.openmoji-1F3D7 {
  background-image: url('travel-places-00.png');
  background-position: -144px -72px;
}
.openmoji-1F9F1 {
  background-image: url('travel-places-00.png');
  background-position: -216px -72px;
}
.openmoji-1F3D8 {
  background-image: url('travel-places-00.png');
  background-position: -288px -72px;
}
.openmoji-1F3DA {
  background-image: url('travel-places-00.png');
  background-position: -360px -72px;
}
.openmoji-1F3E0 {
  background-image: url('travel-places-00.png');
  background-position: -432px -72px;
}
.openmoji-1F3E1 {
  background-image: url('travel-places-00.png');
  background-position: -504px -72px;
}
.openmoji-1F3E2 {
  background-image: url('travel-places-00.png');
  background-position: -576px -72px;
}
.openmoji-1F3E3 {
  background-image: url('travel-places-00.png');
  background-position: -648px -72px;
}
.openmoji-1F3E4 {
  background-image: url('travel-places-00.png');
  background-position: -720px -72px;
}
.openmoji-1F3E5 {
  background-image: url('travel-places-00.png');
  background-position: -792px -72px;
}
.openmoji-1F3E6 {
  background-image: url('travel-places-00.png');
  background-position: -864px -72px;
}
.openmoji-1F3E8 {
  background-image: url('travel-places-00.png');
  background-position: -936px -72px;
}
.openmoji-1F3E9 {
  background-image: url('travel-places-00.png');
  background-position: -1008px -72px;
}
.openmoji-1F3EA {
  background-image: url('travel-places-00.png');
  background-position: -1080px -72px;
}
.openmoji-1F3EB {
  background-image: url('travel-places-00.png');
  background-position: -0px -144px;
}
.openmoji-1F3EC {
  background-image: url('travel-places-00.png');
  background-position: -72px -144px;
}
.openmoji-1F3ED {
  background-image: url('travel-places-00.png');
  background-position: -144px -144px;
}
.openmoji-1F3EF {
  background-image: url('travel-places-00.png');
  background-position: -216px -144px;
}
.openmoji-1F3F0 {
  background-image: url('travel-places-00.png');
  background-position: -288px -144px;
}
.openmoji-1F492 {
  background-image: url('travel-places-00.png');
  background-position: -360px -144px;
}
.openmoji-1F5FC {
  background-image: url('travel-places-00.png');
  background-position: -432px -144px;
}
.openmoji-1F5FD {
  background-image: url('travel-places-00.png');
  background-position: -504px -144px;
}
.openmoji-26EA {
  background-image: url('travel-places-00.png');
  background-position: -576px -144px;
}
.openmoji-1F54C {
  background-image: url('travel-places-00.png');
  background-position: -648px -144px;
}
.openmoji-1F6D5 {
  background-image: url('travel-places-00.png');
  background-position: -720px -144px;
}
.openmoji-1F54D {
  background-image: url('travel-places-00.png');
  background-position: -792px -144px;
}
.openmoji-26E9 {
  background-image: url('travel-places-00.png');
  background-position: -864px -144px;
}
.openmoji-1F54B {
  background-image: url('travel-places-00.png');
  background-position: -936px -144px;
}
.openmoji-26F2 {
  background-image: url('travel-places-00.png');
  background-position: -1008px -144px;
}
.openmoji-26FA {
  background-image: url('travel-places-00.png');
  background-position: -1080px -144px;
}
.openmoji-1F301 {
  background-image: url('travel-places-00.png');
  background-position: -0px -216px;
}
.openmoji-1F303 {
  background-image: url('travel-places-00.png');
  background-position: -72px -216px;
}
.openmoji-1F3D9 {
  background-image: url('travel-places-00.png');
  background-position: -144px -216px;
}
.openmoji-1F304 {
  background-image: url('travel-places-00.png');
  background-position: -216px -216px;
}
.openmoji-1F305 {
  background-image: url('travel-places-00.png');
  background-position: -288px -216px;
}
.openmoji-1F306 {
  background-image: url('travel-places-00.png');
  background-position: -360px -216px;
}
.openmoji-1F307 {
  background-image: url('travel-places-00.png');
  background-position: -432px -216px;
}
.openmoji-1F309 {
  background-image: url('travel-places-00.png');
  background-position: -504px -216px;
}
.openmoji-2668 {
  background-image: url('travel-places-00.png');
  background-position: -576px -216px;
}
.openmoji-1F3A0 {
  background-image: url('travel-places-00.png');
  background-position: -648px -216px;
}
.openmoji-1F3A1 {
  background-image: url('travel-places-00.png');
  background-position: -720px -216px;
}
.openmoji-1F3A2 {
  background-image: url('travel-places-00.png');
  background-position: -792px -216px;
}
.openmoji-1F488 {
  background-image: url('travel-places-00.png');
  background-position: -864px -216px;
}
.openmoji-1F3AA {
  background-image: url('travel-places-00.png');
  background-position: -936px -216px;
}
