.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
}

.openmoji-1F682 {
  background-image: url('travel-places-01.png');
  background-position: -0px -0px;
}
.openmoji-1F683 {
  background-image: url('travel-places-01.png');
  background-position: -72px -0px;
}
.openmoji-1F684 {
  background-image: url('travel-places-01.png');
  background-position: -144px -0px;
}
.openmoji-1F685 {
  background-image: url('travel-places-01.png');
  background-position: -216px -0px;
}
.openmoji-1F686 {
  background-image: url('travel-places-01.png');
  background-position: -288px -0px;
}
.openmoji-1F687 {
  background-image: url('travel-places-01.png');
  background-position: -360px -0px;
}
.openmoji-1F688 {
  background-image: url('travel-places-01.png');
  background-position: -432px -0px;
}
.openmoji-1F689 {
  background-image: url('travel-places-01.png');
  background-position: -504px -0px;
}
.openmoji-1F68A {
  background-image: url('travel-places-01.png');
  background-position: -576px -0px;
}
.openmoji-1F69D {
  background-image: url('travel-places-01.png');
  background-position: -648px -0px;
}
.openmoji-1F69E {
  background-image: url('travel-places-01.png');
  background-position: -720px -0px;
}
.openmoji-1F68B {
  background-image: url('travel-places-01.png');
  background-position: -792px -0px;
}
.openmoji-1F68C {
  background-image: url('travel-places-01.png');
  background-position: -864px -0px;
}
.openmoji-1F68D {
  background-image: url('travel-places-01.png');
  background-position: -936px -0px;
}
.openmoji-1F68E {
  background-image: url('travel-places-01.png');
  background-position: -1008px -0px;
}
.openmoji-1F690 {
  background-image: url('travel-places-01.png');
  background-position: -1080px -0px;
}
.openmoji-1F691 {
  background-image: url('travel-places-01.png');
  background-position: -0px -72px;
}
.openmoji-1F692 {
  background-image: url('travel-places-01.png');
  background-position: -72px -72px;
}
.openmoji-1F693 {
  background-image: url('travel-places-01.png');
  background-position: -144px -72px;
}
.openmoji-1F694 {
  background-image: url('travel-places-01.png');
  background-position: -216px -72px;
}
.openmoji-1F695 {
  background-image: url('travel-places-01.png');
  background-position: -288px -72px;
}
.openmoji-1F696 {
  background-image: url('travel-places-01.png');
  background-position: -360px -72px;
}
.openmoji-1F697 {
  background-image: url('travel-places-01.png');
  background-position: -432px -72px;
}
.openmoji-1F698 {
  background-image: url('travel-places-01.png');
  background-position: -504px -72px;
}
.openmoji-1F699 {
  background-image: url('travel-places-01.png');
  background-position: -576px -72px;
}
.openmoji-1F6FB {
  background-image: url('travel-places-01.png');
  background-position: -648px -72px;
}
.openmoji-1F69A {
  background-image: url('travel-places-01.png');
  background-position: -720px -72px;
}
.openmoji-1F69B {
  background-image: url('travel-places-01.png');
  background-position: -792px -72px;
}
.openmoji-1F69C {
  background-image: url('travel-places-01.png');
  background-position: -864px -72px;
}
.openmoji-1F3CE {
  background-image: url('travel-places-01.png');
  background-position: -936px -72px;
}
.openmoji-1F3CD {
  background-image: url('travel-places-01.png');
  background-position: -1008px -72px;
}
.openmoji-1F6F5 {
  background-image: url('travel-places-01.png');
  background-position: -1080px -72px;
}
.openmoji-1F9BD {
  background-image: url('travel-places-01.png');
  background-position: -0px -144px;
}
.openmoji-1F9BC {
  background-image: url('travel-places-01.png');
  background-position: -72px -144px;
}
.openmoji-1F6FA {
  background-image: url('travel-places-01.png');
  background-position: -144px -144px;
}
.openmoji-1F6B2 {
  background-image: url('travel-places-01.png');
  background-position: -216px -144px;
}
.openmoji-1F6F4 {
  background-image: url('travel-places-01.png');
  background-position: -288px -144px;
}
.openmoji-1F6F9 {
  background-image: url('travel-places-01.png');
  background-position: -360px -144px;
}
.openmoji-1F6FC {
  background-image: url('travel-places-01.png');
  background-position: -432px -144px;
}
.openmoji-1F68F {
  background-image: url('travel-places-01.png');
  background-position: -504px -144px;
}
.openmoji-1F6E3 {
  background-image: url('travel-places-01.png');
  background-position: -576px -144px;
}
.openmoji-1F6E4 {
  background-image: url('travel-places-01.png');
  background-position: -648px -144px;
}
.openmoji-1F6E2 {
  background-image: url('travel-places-01.png');
  background-position: -720px -144px;
}
.openmoji-26FD {
  background-image: url('travel-places-01.png');
  background-position: -792px -144px;
}
.openmoji-1F6A8 {
  background-image: url('travel-places-01.png');
  background-position: -864px -144px;
}
.openmoji-1F6A5 {
  background-image: url('travel-places-01.png');
  background-position: -936px -144px;
}
.openmoji-1F6A6 {
  background-image: url('travel-places-01.png');
  background-position: -1008px -144px;
}
.openmoji-1F6D1 {
  background-image: url('travel-places-01.png');
  background-position: -1080px -144px;
}
.openmoji-1F6A7 {
  background-image: url('travel-places-01.png');
  background-position: -0px -216px;
}
.openmoji-2693 {
  background-image: url('travel-places-01.png');
  background-position: -72px -216px;
}
.openmoji-26F5 {
  background-image: url('travel-places-01.png');
  background-position: -144px -216px;
}
.openmoji-1F6F6 {
  background-image: url('travel-places-01.png');
  background-position: -216px -216px;
}
.openmoji-1F6A4 {
  background-image: url('travel-places-01.png');
  background-position: -288px -216px;
}
.openmoji-1F6F3 {
  background-image: url('travel-places-01.png');
  background-position: -360px -216px;
}
.openmoji-26F4 {
  background-image: url('travel-places-01.png');
  background-position: -432px -216px;
}
.openmoji-1F6E5 {
  background-image: url('travel-places-01.png');
  background-position: -504px -216px;
}
.openmoji-1F6A2 {
  background-image: url('travel-places-01.png');
  background-position: -576px -216px;
}
.openmoji-2708 {
  background-image: url('travel-places-01.png');
  background-position: -648px -216px;
}
.openmoji-1F6E9 {
  background-image: url('travel-places-01.png');
  background-position: -720px -216px;
}
.openmoji-1F6EB {
  background-image: url('travel-places-01.png');
  background-position: -792px -216px;
}
.openmoji-1F6EC {
  background-image: url('travel-places-01.png');
  background-position: -864px -216px;
}
.openmoji-1FA82 {
  background-image: url('travel-places-01.png');
  background-position: -936px -216px;
}
.openmoji-1F4BA {
  background-image: url('travel-places-01.png');
  background-position: -1008px -216px;
}
.openmoji-1F681 {
  background-image: url('travel-places-01.png');
  background-position: -1080px -216px;
}
.openmoji-1F69F {
  background-image: url('travel-places-01.png');
  background-position: -0px -288px;
}
.openmoji-1F6A0 {
  background-image: url('travel-places-01.png');
  background-position: -72px -288px;
}
.openmoji-1F6A1 {
  background-image: url('travel-places-01.png');
  background-position: -144px -288px;
}
.openmoji-1F6F0 {
  background-image: url('travel-places-01.png');
  background-position: -216px -288px;
}
.openmoji-1F680 {
  background-image: url('travel-places-01.png');
  background-position: -288px -288px;
}
.openmoji-1F6F8 {
  background-image: url('travel-places-01.png');
  background-position: -360px -288px;
}
.openmoji-1F6CE {
  background-image: url('travel-places-01.png');
  background-position: -432px -288px;
}
.openmoji-1F9F3 {
  background-image: url('travel-places-01.png');
  background-position: -504px -288px;
}
.openmoji-231B {
  background-image: url('travel-places-01.png');
  background-position: -576px -288px;
}
.openmoji-23F3 {
  background-image: url('travel-places-01.png');
  background-position: -648px -288px;
}
.openmoji-231A {
  background-image: url('travel-places-01.png');
  background-position: -720px -288px;
}
.openmoji-23F0 {
  background-image: url('travel-places-01.png');
  background-position: -792px -288px;
}
.openmoji-23F1 {
  background-image: url('travel-places-01.png');
  background-position: -864px -288px;
}
.openmoji-23F2 {
  background-image: url('travel-places-01.png');
  background-position: -936px -288px;
}
.openmoji-1F570 {
  background-image: url('travel-places-01.png');
  background-position: -1008px -288px;
}
.openmoji-1F55B {
  background-image: url('travel-places-01.png');
  background-position: -1080px -288px;
}
.openmoji-1F567 {
  background-image: url('travel-places-01.png');
  background-position: -0px -360px;
}
.openmoji-1F550 {
  background-image: url('travel-places-01.png');
  background-position: -72px -360px;
}
.openmoji-1F55C {
  background-image: url('travel-places-01.png');
  background-position: -144px -360px;
}
.openmoji-1F551 {
  background-image: url('travel-places-01.png');
  background-position: -216px -360px;
}
.openmoji-1F55D {
  background-image: url('travel-places-01.png');
  background-position: -288px -360px;
}
.openmoji-1F552 {
  background-image: url('travel-places-01.png');
  background-position: -360px -360px;
}
.openmoji-1F55E {
  background-image: url('travel-places-01.png');
  background-position: -432px -360px;
}
.openmoji-1F553 {
  background-image: url('travel-places-01.png');
  background-position: -504px -360px;
}
.openmoji-1F55F {
  background-image: url('travel-places-01.png');
  background-position: -576px -360px;
}
.openmoji-1F554 {
  background-image: url('travel-places-01.png');
  background-position: -648px -360px;
}
.openmoji-1F560 {
  background-image: url('travel-places-01.png');
  background-position: -720px -360px;
}
.openmoji-1F555 {
  background-image: url('travel-places-01.png');
  background-position: -792px -360px;
}
.openmoji-1F561 {
  background-image: url('travel-places-01.png');
  background-position: -864px -360px;
}
.openmoji-1F556 {
  background-image: url('travel-places-01.png');
  background-position: -936px -360px;
}
.openmoji-1F562 {
  background-image: url('travel-places-01.png');
  background-position: -1008px -360px;
}
.openmoji-1F557 {
  background-image: url('travel-places-01.png');
  background-position: -1080px -360px;
}
.openmoji-1F563 {
  background-image: url('travel-places-01.png');
  background-position: -0px -432px;
}
.openmoji-1F558 {
  background-image: url('travel-places-01.png');
  background-position: -72px -432px;
}
.openmoji-1F564 {
  background-image: url('travel-places-01.png');
  background-position: -144px -432px;
}
.openmoji-1F559 {
  background-image: url('travel-places-01.png');
  background-position: -216px -432px;
}
.openmoji-1F565 {
  background-image: url('travel-places-01.png');
  background-position: -288px -432px;
}
.openmoji-1F55A {
  background-image: url('travel-places-01.png');
  background-position: -360px -432px;
}
.openmoji-1F566 {
  background-image: url('travel-places-01.png');
  background-position: -432px -432px;
}
.openmoji-1F311 {
  background-image: url('travel-places-01.png');
  background-position: -504px -432px;
}
.openmoji-1F312 {
  background-image: url('travel-places-01.png');
  background-position: -576px -432px;
}
.openmoji-1F313 {
  background-image: url('travel-places-01.png');
  background-position: -648px -432px;
}
.openmoji-1F314 {
  background-image: url('travel-places-01.png');
  background-position: -720px -432px;
}
.openmoji-1F315 {
  background-image: url('travel-places-01.png');
  background-position: -792px -432px;
}
.openmoji-1F316 {
  background-image: url('travel-places-01.png');
  background-position: -864px -432px;
}
.openmoji-1F317 {
  background-image: url('travel-places-01.png');
  background-position: -936px -432px;
}
.openmoji-1F318 {
  background-image: url('travel-places-01.png');
  background-position: -1008px -432px;
}
.openmoji-1F319 {
  background-image: url('travel-places-01.png');
  background-position: -1080px -432px;
}
.openmoji-1F31A {
  background-image: url('travel-places-01.png');
  background-position: -0px -504px;
}
.openmoji-1F31B {
  background-image: url('travel-places-01.png');
  background-position: -72px -504px;
}
.openmoji-1F31C {
  background-image: url('travel-places-01.png');
  background-position: -144px -504px;
}
.openmoji-1F321 {
  background-image: url('travel-places-01.png');
  background-position: -216px -504px;
}
.openmoji-2600 {
  background-image: url('travel-places-01.png');
  background-position: -288px -504px;
}
.openmoji-1F31D {
  background-image: url('travel-places-01.png');
  background-position: -360px -504px;
}
.openmoji-1F31E {
  background-image: url('travel-places-01.png');
  background-position: -432px -504px;
}
.openmoji-1FA90 {
  background-image: url('travel-places-01.png');
  background-position: -504px -504px;
}
.openmoji-2B50 {
  background-image: url('travel-places-01.png');
  background-position: -576px -504px;
}
.openmoji-1F31F {
  background-image: url('travel-places-01.png');
  background-position: -648px -504px;
}
.openmoji-1F320 {
  background-image: url('travel-places-01.png');
  background-position: -720px -504px;
}
.openmoji-1F30C {
  background-image: url('travel-places-01.png');
  background-position: -792px -504px;
}
.openmoji-2601 {
  background-image: url('travel-places-01.png');
  background-position: -864px -504px;
}
.openmoji-26C5 {
  background-image: url('travel-places-01.png');
  background-position: -936px -504px;
}
.openmoji-26C8 {
  background-image: url('travel-places-01.png');
  background-position: -1008px -504px;
}
.openmoji-1F324 {
  background-image: url('travel-places-01.png');
  background-position: -1080px -504px;
}
.openmoji-1F325 {
  background-image: url('travel-places-01.png');
  background-position: -0px -576px;
}
.openmoji-1F326 {
  background-image: url('travel-places-01.png');
  background-position: -72px -576px;
}
.openmoji-1F327 {
  background-image: url('travel-places-01.png');
  background-position: -144px -576px;
}
.openmoji-1F328 {
  background-image: url('travel-places-01.png');
  background-position: -216px -576px;
}
.openmoji-1F329 {
  background-image: url('travel-places-01.png');
  background-position: -288px -576px;
}
.openmoji-1F32A {
  background-image: url('travel-places-01.png');
  background-position: -360px -576px;
}
.openmoji-1F32B {
  background-image: url('travel-places-01.png');
  background-position: -432px -576px;
}
.openmoji-1F32C {
  background-image: url('travel-places-01.png');
  background-position: -504px -576px;
}
.openmoji-1F300 {
  background-image: url('travel-places-01.png');
  background-position: -576px -576px;
}
.openmoji-1F308 {
  background-image: url('travel-places-01.png');
  background-position: -648px -576px;
}
.openmoji-1F302 {
  background-image: url('travel-places-01.png');
  background-position: -720px -576px;
}
.openmoji-2602 {
  background-image: url('travel-places-01.png');
  background-position: -792px -576px;
}
.openmoji-2614 {
  background-image: url('travel-places-01.png');
  background-position: -864px -576px;
}
.openmoji-26F1 {
  background-image: url('travel-places-01.png');
  background-position: -936px -576px;
}
.openmoji-26A1 {
  background-image: url('travel-places-01.png');
  background-position: -1008px -576px;
}
.openmoji-2744 {
  background-image: url('travel-places-01.png');
  background-position: -1080px -576px;
}
.openmoji-2603 {
  background-image: url('travel-places-01.png');
  background-position: -0px -648px;
}
.openmoji-26C4 {
  background-image: url('travel-places-01.png');
  background-position: -72px -648px;
}
.openmoji-2604 {
  background-image: url('travel-places-01.png');
  background-position: -144px -648px;
}
.openmoji-1F525 {
  background-image: url('travel-places-01.png');
  background-position: -216px -648px;
}
.openmoji-1F4A7 {
  background-image: url('travel-places-01.png');
  background-position: -288px -648px;
}
.openmoji-1F30A {
  background-image: url('travel-places-01.png');
  background-position: -360px -648px;
}
