.openmoji {
	background: url("activities.svg") no-repeat;
}

.openmoji-1F9F6 {
	background-position: 11.11111111111111% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9F5 {
	background-position: 66.66666666666667% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3A8 {
	background-position: 0 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5BC {
	background-position: 11.11111111111111% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3AD {
	background-position: 22.22222222222222% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F3B4 {
	background-position: 22.22222222222222% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F004 {
	background-position: 0 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F0CF {
	background-position: 11.11111111111111% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-265F {
	background-position: 22.22222222222222% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-2663 {
	background-position: 33.333333333333336% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2666 {
	background-position: 33.333333333333336% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-2665 {
	background-position: 33.333333333333336% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-2660 {
	background-position: 0 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1FA86 {
	background-position: 11.11111111111111% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1FA85 {
	background-position: 22.22222222222222% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9F8 {
	background-position: 33.333333333333336% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9E9 {
	background-position: 44.44444444444444% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F3B2 {
	background-position: 44.44444444444444% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3B0 {
	background-position: 44.44444444444444% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F579 {
	background-position: 44.44444444444444% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3AE {
	background-position: 0 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9FF {
	background-position: 11.11111111111111% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1FA84 {
	background-position: 22.22222222222222% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F52E {
	background-position: 33.333333333333336% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3B1 {
	background-position: 44.44444444444444% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1FA81 {
	background-position: 55.55555555555556% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1FA80 {
	background-position: 55.55555555555556% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3AF {
	background-position: 55.55555555555556% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F94C {
	background-position: 55.55555555555556% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F7 {
	background-position: 55.55555555555556% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3BF {
	background-position: 0 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3BD {
	background-position: 11.11111111111111% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F93F {
	background-position: 22.22222222222222% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3A3 {
	background-position: 33.333333333333336% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-26F8 {
	background-position: 44.44444444444444% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-26F3 {
	background-position: 55.55555555555556% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F945 {
	background-position: 66.66666666666667% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F94B {
	background-position: 66.66666666666667% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F94A {
	background-position: 66.66666666666667% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3F8 {
	background-position: 66.66666666666667% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D3 {
	background-position: 66.66666666666667% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F94D {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D2 {
	background-position: 0 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D1 {
	background-position: 11.11111111111111% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3CF {
	background-position: 22.22222222222222% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3B3 {
	background-position: 33.333333333333336% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F94F {
	background-position: 44.44444444444444% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3BE {
	background-position: 55.55555555555556% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C9 {
	background-position: 66.66666666666667% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C8 {
	background-position: 77.77777777777777% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D0 {
	background-position: 77.77777777777777% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C0 {
	background-position: 77.77777777777777% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F94E {
	background-position: 77.77777777777777% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-26BE {
	background-position: 77.77777777777777% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-26BD {
	background-position: 77.77777777777777% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F949 {
	background-position: 77.77777777777777% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F948 {
	background-position: 0 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F947 {
	background-position: 11.11111111111111% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C5 {
	background-position: 22.22222222222222% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C6 {
	background-position: 33.333333333333336% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F396 {
	background-position: 44.44444444444444% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3AB {
	background-position: 55.55555555555556% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F39F {
	background-position: 66.66666666666667% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F397 {
	background-position: 77.77777777777777% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F381 {
	background-position: 88.88888888888889% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F380 {
	background-position: 88.88888888888889% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9E7 {
	background-position: 88.88888888888889% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F391 {
	background-position: 88.88888888888889% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F390 {
	background-position: 88.88888888888889% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F38F {
	background-position: 88.88888888888889% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F38E {
	background-position: 88.88888888888889% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F38D {
	background-position: 88.88888888888889% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F38B {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F38A {
	background-position: 11.11111111111111% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F389 {
	background-position: 22.22222222222222% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F388 {
	background-position: 33.333333333333336% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-2728 {
	background-position: 44.44444444444444% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9E8 {
	background-position: 55.55555555555556% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F387 {
	background-position: 66.66666666666667% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F386 {
	background-position: 77.77777777777777% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F384 {
	background-position: 88.88888888888889% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F383 {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

