.openmoji {
	background: url("animals-nature-1.svg") no-repeat;
}

.openmoji-1F343 {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F342 {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

