.openmoji {
	display: inline-block;
background: url("animals-nature-00.svg") no-repeat;
}

.openmoji-1F343 {
	background-position: 9.090909090909092% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F342 {
	background-position: 72.72727272727273% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F341 {
	background-position: 0 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F340 {
	background-position: 9.090909090909092% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-2618 {
	background-position: 18.181818181818183% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F33F {
	background-position: 18.181818181818183% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F33E {
	background-position: 0 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F335 {
	background-position: 9.090909090909092% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F334 {
	background-position: 18.181818181818183% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F333 {
	background-position: 27.272727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F332 {
	background-position: 27.272727272727273% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F331 {
	background-position: 27.272727272727273% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F337 {
	background-position: 0 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F33C {
	background-position: 9.090909090909092% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F33B {
	background-position: 18.181818181818183% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F33A {
	background-position: 27.272727272727273% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F940 {
	background-position: 36.36363636363637% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F339 {
	background-position: 36.36363636363637% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3F5 {
	background-position: 36.36363636363637% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4AE {
	background-position: 36.36363636363637% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F338 {
	background-position: 0 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F490 {
	background-position: 9.090909090909092% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9A0 {
	background-position: 18.181818181818183% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1FAB1 {
	background-position: 27.272727272727273% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1FAB0 {
	background-position: 36.36363636363637% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F99F {
	background-position: 45.45454545454545% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F982 {
	background-position: 45.45454545454545% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F578 {
	background-position: 45.45454545454545% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F577 {
	background-position: 45.45454545454545% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F997 {
	background-position: 45.45454545454545% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F41E {
	background-position: 0 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F41D {
	background-position: 9.090909090909092% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F41C {
	background-position: 18.181818181818183% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F41B {
	background-position: 27.272727272727273% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F98B {
	background-position: 36.36363636363637% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F40C {
	background-position: 45.45454545454545% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F41A {
	background-position: 54.54545454545455% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F419 {
	background-position: 54.54545454545455% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F988 {
	background-position: 54.54545454545455% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F421 {
	background-position: 54.54545454545455% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F420 {
	background-position: 54.54545454545455% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F41F {
	background-position: 54.54545454545455% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F42C {
	background-position: 0 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F40B {
	background-position: 9.090909090909092% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F433 {
	background-position: 18.181818181818183% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F996 {
	background-position: 27.272727272727273% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F995 {
	background-position: 36.36363636363637% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F409 {
	background-position: 45.45454545454545% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F432 {
	background-position: 54.54545454545455% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F40D {
	background-position: 63.63636363636363% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F98E {
	background-position: 63.63636363636363% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F422 {
	background-position: 63.63636363636363% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F40A {
	background-position: 63.63636363636363% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F438 {
	background-position: 63.63636363636363% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F99C {
	background-position: 63.63636363636363% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F99A {
	background-position: 63.63636363636363% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9A9 {
	background-position: 0 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F989 {
	background-position: 9.090909090909092% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9A2 {
	background-position: 18.181818181818183% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F986 {
	background-position: 27.272727272727273% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F985 {
	background-position: 36.36363636363637% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F54A {
	background-position: 45.45454545454545% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F427 {
	background-position: 54.54545454545455% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F426 {
	background-position: 63.63636363636363% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F425 {
	background-position: 72.72727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F424 {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F423 {
	background-position: 72.72727272727273% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F413 {
	background-position: 72.72727272727273% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F414 {
	background-position: 72.72727272727273% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F983 {
	background-position: 72.72727272727273% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F43E {
	background-position: 72.72727272727273% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9A1 {
	background-position: 72.72727272727273% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F998 {
	background-position: 0 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9A8 {
	background-position: 9.090909090909092% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9A6 {
	background-position: 18.181818181818183% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9A5 {
	background-position: 27.272727272727273% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F43C {
	background-position: 36.36363636363637% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F428 {
	background-position: 45.45454545454545% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F43B-200D-2744-FE0F {
	background-position: 54.54545454545455% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F43B {
	background-position: 63.63636363636363% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F987 {
	background-position: 72.72727272727273% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F994 {
	background-position: 81.81818181818181% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F43F {
	background-position: 81.81818181818181% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F407 {
	background-position: 81.81818181818181% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F430 {
	background-position: 81.81818181818181% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F439 {
	background-position: 81.81818181818181% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F400 {
	background-position: 81.81818181818181% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F401 {
	background-position: 81.81818181818181% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F42D {
	background-position: 81.81818181818181% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F99B {
	background-position: 81.81818181818181% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F98F {
	background-position: 0 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F418 {
	background-position: 9.090909090909092% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F992 {
	background-position: 18.181818181818183% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F999 {
	background-position: 27.272727272727273% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F42B {
	background-position: 36.36363636363637% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F42A {
	background-position: 45.45454545454545% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F410 {
	background-position: 54.54545454545455% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F411 {
	background-position: 63.63636363636363% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F40F {
	background-position: 72.72727272727273% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F43D {
	background-position: 81.81818181818181% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F417 {
	background-position: 90.9090909090909% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F416 {
	background-position: 90.9090909090909% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F437 {
	background-position: 90.9090909090909% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F404 {
	background-position: 90.9090909090909% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F403 {
	background-position: 90.9090909090909% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F402 {
	background-position: 90.9090909090909% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F42E {
	background-position: 90.9090909090909% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F98C {
	background-position: 90.9090909090909% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F993 {
	background-position: 90.9090909090909% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F984 {
	background-position: 90.9090909090909% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F40E {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F434 {
	background-position: 9.090909090909092% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F406 {
	background-position: 18.181818181818183% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F405 {
	background-position: 27.272727272727273% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F42F {
	background-position: 36.36363636363637% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F981 {
	background-position: 45.45454545454545% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F408-200D-2B1B {
	background-position: 54.54545454545455% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F408 {
	background-position: 63.63636363636363% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F431 {
	background-position: 72.72727272727273% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F99D {
	background-position: 81.81818181818181% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F98A {
	background-position: 90.9090909090909% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F43A {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F429 {
	background-position: 100% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F415-200D-1F9BA {
	background-position: 100% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9AE {
	background-position: 100% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F415 {
	background-position: 100% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F436 {
	background-position: 100% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9A7 {
	background-position: 100% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F98D {
	background-position: 100% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F412 {
	background-position: 100% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F435 {
	background-position: 100% 90%;
	width: 72px;
	height: 72px;
}

