.openmoji {
	background: url("component.svg") no-repeat;
}

.openmoji-1F9B2 {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9B3 {
	background-position: 50% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9B1 {
	background-position: 0 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9B0 {
	background-position: 50% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3FF {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F3FE {
	background-position: 100% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3FD {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3FC {
	background-position: 50% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3FB {
	background-position: 100% 100%;
	width: 72px;
	height: 72px;
}

