.openmoji {
	background: url("extras-openmoji-01.svg") no-repeat;
}

.openmoji-E269 {
	background-position: 11.11111111111111% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E268 {
	background-position: 44.44444444444444% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-E267 {
	background-position: 0 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-E266 {
	background-position: 11.11111111111111% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-E265 {
	background-position: 22.22222222222222% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E264 {
	background-position: 22.22222222222222% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-E263 {
	background-position: 0 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-E262 {
	background-position: 11.11111111111111% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-E261 {
	background-position: 22.22222222222222% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-E260 {
	background-position: 33.333333333333336% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E25F {
	background-position: 33.333333333333336% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-E25E {
	background-position: 33.333333333333336% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-E25D {
	background-position: 0 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-E25C {
	background-position: 11.11111111111111% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-E25B {
	background-position: 22.22222222222222% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-E25A {
	background-position: 33.333333333333336% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-E259 {
	background-position: 44.44444444444444% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E258 {
	background-position: 44.44444444444444% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-E257 {
	background-position: 44.44444444444444% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-E256 {
	background-position: 44.44444444444444% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-E255 {
	background-position: 0 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-E254 {
	background-position: 11.11111111111111% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-E253 {
	background-position: 22.22222222222222% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-E252 {
	background-position: 33.333333333333336% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-E251 {
	background-position: 44.44444444444444% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-E250 {
	background-position: 55.55555555555556% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E24F {
	background-position: 55.55555555555556% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-E24E {
	background-position: 55.55555555555556% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-E24D {
	background-position: 55.55555555555556% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-E24C {
	background-position: 55.55555555555556% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-E24B {
	background-position: 0 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-E24A {
	background-position: 11.11111111111111% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-E249 {
	background-position: 22.22222222222222% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-E248 {
	background-position: 33.333333333333336% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-E247 {
	background-position: 44.44444444444444% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-E246 {
	background-position: 55.55555555555556% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-E245 {
	background-position: 66.66666666666667% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E244 {
	background-position: 66.66666666666667% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-E243 {
	background-position: 66.66666666666667% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-E242 {
	background-position: 66.66666666666667% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-E241 {
	background-position: 66.66666666666667% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-E240 {
	background-position: 66.66666666666667% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-E20B {
	background-position: 0 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-E20A {
	background-position: 11.11111111111111% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-E209 {
	background-position: 22.22222222222222% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-E208 {
	background-position: 33.333333333333336% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-E207 {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-E206 {
	background-position: 55.55555555555556% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-E205 {
	background-position: 66.66666666666667% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-E204 {
	background-position: 77.77777777777777% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E203 {
	background-position: 77.77777777777777% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-E202 {
	background-position: 77.77777777777777% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-E201 {
	background-position: 77.77777777777777% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-E200 {
	background-position: 77.77777777777777% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-E1D7 {
	background-position: 77.77777777777777% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-E1D6 {
	background-position: 77.77777777777777% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-E1D5 {
	background-position: 0 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-E1D4 {
	background-position: 11.11111111111111% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-E1D3 {
	background-position: 22.22222222222222% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-E1D2 {
	background-position: 33.333333333333336% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-E1D1 {
	background-position: 44.44444444444444% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-E1D0 {
	background-position: 55.55555555555556% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-E1CF {
	background-position: 66.66666666666667% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-E1CE {
	background-position: 77.77777777777777% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-E1CD {
	background-position: 88.88888888888889% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E1CC {
	background-position: 88.88888888888889% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-E1CB {
	background-position: 88.88888888888889% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-E1CA {
	background-position: 88.88888888888889% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-E1C9 {
	background-position: 88.88888888888889% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-E1C8 {
	background-position: 88.88888888888889% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-E1C7 {
	background-position: 88.88888888888889% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-E1C6 {
	background-position: 88.88888888888889% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-E1C5 {
	background-position: 0 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-E1C4 {
	background-position: 11.11111111111111% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-E1C3 {
	background-position: 22.22222222222222% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-E1C2 {
	background-position: 33.333333333333336% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-E1C1 {
	background-position: 44.44444444444444% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-E1C0 {
	background-position: 55.55555555555556% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-E281 {
	background-position: 66.66666666666667% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-E280 {
	background-position: 77.77777777777777% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-E184 {
	background-position: 88.88888888888889% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-E183 {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E182 {
	background-position: 100% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-E181 {
	background-position: 100% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-E148 {
	background-position: 100% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-E147 {
	background-position: 100% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-E146 {
	background-position: 100% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-E144 {
	background-position: 100% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-E143 {
	background-position: 100% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-E142 {
	background-position: 100% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-E141 {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-E140 {
	background-position: 11.11111111111111% 100%;
	width: 72px;
	height: 72px;
}

