.openmoji {
	background: url("extras-unicode.svg") no-repeat;
}

.openmoji-2B8F {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-2B0D {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2B0C {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-25A1 {
	background-position: 100% 100%;
	width: 72px;
	height: 72px;
}

