.openmoji {
	display: inline-block;
background: url("extras-openmoji-00.svg") no-repeat;
}

.openmoji-E10D {
	background-position: 9.090909090909092% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E10C {
	background-position: 72.72727272727273% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-E10B {
	background-position: 0 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-E10A {
	background-position: 9.090909090909092% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-E109 {
	background-position: 18.181818181818183% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E108 {
	background-position: 18.181818181818183% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-E107 {
	background-position: 0 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-E106 {
	background-position: 9.090909090909092% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-E105 {
	background-position: 18.181818181818183% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-E104 {
	background-position: 27.272727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E103 {
	background-position: 27.272727272727273% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-E102 {
	background-position: 27.272727272727273% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-E101 {
	background-position: 0 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E100 {
	background-position: 9.090909090909092% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E32B {
	background-position: 18.181818181818183% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E329 {
	background-position: 27.272727272727273% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E328 {
	background-position: 36.36363636363637% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E327 {
	background-position: 36.36363636363637% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-E326 {
	background-position: 36.36363636363637% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-E325 {
	background-position: 36.36363636363637% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E324 {
	background-position: 0 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-E322 {
	background-position: 9.090909090909092% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-E321 {
	background-position: 18.181818181818183% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-E320 {
	background-position: 27.272727272727273% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-E31F {
	background-position: 36.36363636363637% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-E31E {
	background-position: 45.45454545454545% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E31D {
	background-position: 45.45454545454545% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-E31C {
	background-position: 45.45454545454545% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-E31B {
	background-position: 45.45454545454545% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E31A {
	background-position: 45.45454545454545% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-E319 {
	background-position: 0 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-E318 {
	background-position: 9.090909090909092% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-E316 {
	background-position: 18.181818181818183% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-E315 {
	background-position: 27.272727272727273% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-E314 {
	background-position: 36.36363636363637% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-E313 {
	background-position: 45.45454545454545% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-E312 {
	background-position: 54.54545454545455% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E30F {
	background-position: 54.54545454545455% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-E30E {
	background-position: 54.54545454545455% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-E30D {
	background-position: 54.54545454545455% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E30C {
	background-position: 54.54545454545455% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-E30B {
	background-position: 54.54545454545455% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-E30A {
	background-position: 0 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-E309 {
	background-position: 9.090909090909092% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-E308 {
	background-position: 18.181818181818183% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-E307 {
	background-position: 27.272727272727273% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-E306 {
	background-position: 36.36363636363637% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-E305 {
	background-position: 45.45454545454545% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-E304 {
	background-position: 54.54545454545455% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-E303 {
	background-position: 63.63636363636363% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E302 {
	background-position: 63.63636363636363% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-E301 {
	background-position: 63.63636363636363% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-E300 {
	background-position: 63.63636363636363% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E0C4 {
	background-position: 63.63636363636363% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-E0C3 {
	background-position: 63.63636363636363% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-E0C2 {
	background-position: 63.63636363636363% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-E0C1 {
	background-position: 0 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-E0C0 {
	background-position: 9.090909090909092% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-E0AB {
	background-position: 18.181818181818183% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-E0AA {
	background-position: 27.272727272727273% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-E0A9 {
	background-position: 36.36363636363637% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-E0A8 {
	background-position: 45.45454545454545% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-E0A7 {
	background-position: 54.54545454545455% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-E0A6 {
	background-position: 63.63636363636363% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-E0A5 {
	background-position: 72.72727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E0A4 {
	background-position: 72.72727272727273% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-E0A3 {
	background-position: 72.72727272727273% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-E0A2 {
	background-position: 72.72727272727273% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E0A1 {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-E0A0 {
	background-position: 72.72727272727273% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-E09F {
	background-position: 72.72727272727273% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-E09E {
	background-position: 72.72727272727273% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-E09D {
	background-position: 0 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E09C {
	background-position: 9.090909090909092% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E09B {
	background-position: 18.181818181818183% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E09A {
	background-position: 27.272727272727273% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E099 {
	background-position: 36.36363636363637% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E098 {
	background-position: 45.45454545454545% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E097 {
	background-position: 54.54545454545455% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E096 {
	background-position: 63.63636363636363% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E095 {
	background-position: 72.72727272727273% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E094 {
	background-position: 81.81818181818181% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E093 {
	background-position: 81.81818181818181% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-E092 {
	background-position: 81.81818181818181% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-E091 {
	background-position: 81.81818181818181% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E090 {
	background-position: 81.81818181818181% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-E08F {
	background-position: 81.81818181818181% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-E08E {
	background-position: 81.81818181818181% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-E08D {
	background-position: 81.81818181818181% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-E08C {
	background-position: 81.81818181818181% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E08B {
	background-position: 0 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-E08A {
	background-position: 9.090909090909092% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-E089 {
	background-position: 18.181818181818183% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-E088 {
	background-position: 27.272727272727273% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-E087 {
	background-position: 36.36363636363637% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-E086 {
	background-position: 45.45454545454545% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-E085 {
	background-position: 54.54545454545455% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-E084 {
	background-position: 63.63636363636363% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-E083 {
	background-position: 72.72727272727273% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-E082 {
	background-position: 81.81818181818181% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-E081 {
	background-position: 90.9090909090909% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E080 {
	background-position: 90.9090909090909% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-E2DA {
	background-position: 90.9090909090909% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-E2D9 {
	background-position: 90.9090909090909% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E2D8 {
	background-position: 90.9090909090909% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-E2D7 {
	background-position: 90.9090909090909% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-E2D6 {
	background-position: 90.9090909090909% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-E2D5 {
	background-position: 90.9090909090909% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-E2D4 {
	background-position: 90.9090909090909% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E2D3 {
	background-position: 90.9090909090909% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-E2D2 {
	background-position: 0 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-E2D1 {
	background-position: 9.090909090909092% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-E2D0 {
	background-position: 18.181818181818183% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-E2CF {
	background-position: 27.272727272727273% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-E2CE {
	background-position: 36.36363636363637% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-E2CD {
	background-position: 45.45454545454545% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-E2CC {
	background-position: 54.54545454545455% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-E2CB {
	background-position: 63.63636363636363% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-E2CA {
	background-position: 72.72727272727273% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-E2C9 {
	background-position: 81.81818181818181% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-E2C8 {
	background-position: 90.9090909090909% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-E2C7 {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-E2C6 {
	background-position: 100% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-E2C4 {
	background-position: 100% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-E2C3 {
	background-position: 100% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E2C2 {
	background-position: 100% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-E2C1 {
	background-position: 100% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-E2C0 {
	background-position: 100% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-E045 {
	background-position: 100% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-E044 {
	background-position: 100% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-E043 {
	background-position: 100% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-E042 {
	background-position: 100% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-E041 {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-E040 {
	background-position: 9.090909090909092% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-E002 {
	background-position: 18.181818181818183% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-E001 {
	background-position: 27.272727272727273% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-E000 {
	background-position: 36.36363636363637% 100%;
	width: 72px;
	height: 72px;
}

