.openmoji {
	display: inline-block;
background: url("flags-02.svg") no-repeat;
}

.openmoji-1F1FF-1F1FC {
	background-position: 9.090909090909092% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FF-1F1F2 {
	background-position: 72.72727272727273% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FF-1F1E6 {
	background-position: 0 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FE-1F1F9 {
	background-position: 9.090909090909092% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FE-1F1EA {
	background-position: 18.181818181818183% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FD-1F1F0 {
	background-position: 18.181818181818183% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FC-1F1F8 {
	background-position: 0 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FC-1F1EB {
	background-position: 9.090909090909092% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FB-1F1FA {
	background-position: 18.181818181818183% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FB-1F1F3 {
	background-position: 27.272727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FB-1F1EE {
	background-position: 27.272727272727273% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FB-1F1EC {
	background-position: 27.272727272727273% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FB-1F1EA {
	background-position: 0 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FB-1F1E8 {
	background-position: 9.090909090909092% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FB-1F1E6 {
	background-position: 18.181818181818183% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FA-1F1FF {
	background-position: 27.272727272727273% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FA-1F1FE {
	background-position: 36.36363636363637% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FA-1F1F8 {
	background-position: 36.36363636363637% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FA-1F1F3 {
	background-position: 36.36363636363637% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FA-1F1F2 {
	background-position: 36.36363636363637% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FA-1F1EC {
	background-position: 0 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1FA-1F1E6 {
	background-position: 9.090909090909092% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1FF {
	background-position: 18.181818181818183% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1FC {
	background-position: 27.272727272727273% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1FB {
	background-position: 36.36363636363637% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1F9 {
	background-position: 45.45454545454545% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1F7 {
	background-position: 45.45454545454545% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1F4 {
	background-position: 45.45454545454545% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1F3 {
	background-position: 45.45454545454545% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1F2 {
	background-position: 45.45454545454545% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1F1 {
	background-position: 0 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1F0 {
	background-position: 9.090909090909092% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1EF {
	background-position: 18.181818181818183% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1ED {
	background-position: 27.272727272727273% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1EC {
	background-position: 36.36363636363637% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1EB {
	background-position: 45.45454545454545% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1E9 {
	background-position: 54.54545454545455% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1E8 {
	background-position: 54.54545454545455% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F9-1F1E6 {
	background-position: 54.54545454545455% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1FF {
	background-position: 54.54545454545455% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1FE {
	background-position: 54.54545454545455% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1FD {
	background-position: 54.54545454545455% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1FB {
	background-position: 0 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1F9 {
	background-position: 9.090909090909092% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1F8 {
	background-position: 18.181818181818183% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1F7 {
	background-position: 27.272727272727273% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1F4 {
	background-position: 36.36363636363637% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1F3 {
	background-position: 45.45454545454545% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1F2 {
	background-position: 54.54545454545455% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1F1 {
	background-position: 63.63636363636363% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1F0 {
	background-position: 63.63636363636363% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1EF {
	background-position: 63.63636363636363% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1EE {
	background-position: 63.63636363636363% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1ED {
	background-position: 63.63636363636363% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1EC {
	background-position: 63.63636363636363% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1EA {
	background-position: 63.63636363636363% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1E9 {
	background-position: 0 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1E8 {
	background-position: 9.090909090909092% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1E7 {
	background-position: 18.181818181818183% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F8-1F1E6 {
	background-position: 27.272727272727273% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F7-1F1FC {
	background-position: 36.36363636363637% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F7-1F1FA {
	background-position: 45.45454545454545% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F7-1F1F8 {
	background-position: 54.54545454545455% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F7-1F1F4 {
	background-position: 63.63636363636363% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F7-1F1EA {
	background-position: 72.72727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F6-1F1E6 {
	background-position: 72.72727272727273% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F5-1F1FE {
	background-position: 72.72727272727273% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F5-1F1FC {
	background-position: 72.72727272727273% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F5-1F1F9 {
	background-position: 72.72727272727273% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F5-1F1F8 {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F5-1F1F7 {
	background-position: 72.72727272727273% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F5-1F1F3 {
	background-position: 72.72727272727273% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F5-1F1F2 {
	background-position: 0 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F5-1F1F1 {
	background-position: 9.090909090909092% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F5-1F1F0 {
	background-position: 18.181818181818183% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F5-1F1ED {
	background-position: 27.272727272727273% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F5-1F1EC {
	background-position: 36.36363636363637% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F5-1F1EB {
	background-position: 45.45454545454545% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F5-1F1EA {
	background-position: 54.54545454545455% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F5-1F1E6 {
	background-position: 63.63636363636363% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F4-1F1F2 {
	background-position: 72.72727272727273% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F3-1F1FF {
	background-position: 81.81818181818181% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F3-1F1FA {
	background-position: 81.81818181818181% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F3-1F1F7 {
	background-position: 81.81818181818181% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F3-1F1F5 {
	background-position: 81.81818181818181% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F3-1F1F4 {
	background-position: 81.81818181818181% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F3-1F1F1 {
	background-position: 81.81818181818181% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F3-1F1EE {
	background-position: 81.81818181818181% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F3-1F1EC {
	background-position: 81.81818181818181% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F3-1F1EB {
	background-position: 81.81818181818181% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F3-1F1EA {
	background-position: 0 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F3-1F1E8 {
	background-position: 9.090909090909092% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F3-1F1E6 {
	background-position: 18.181818181818183% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1FF {
	background-position: 27.272727272727273% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1FE {
	background-position: 36.36363636363637% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1FD {
	background-position: 45.45454545454545% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1FC {
	background-position: 54.54545454545455% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1FB {
	background-position: 63.63636363636363% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1FA {
	background-position: 72.72727272727273% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1F9 {
	background-position: 81.81818181818181% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1F8 {
	background-position: 90.9090909090909% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1F7 {
	background-position: 90.9090909090909% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1F6 {
	background-position: 90.9090909090909% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1F5 {
	background-position: 90.9090909090909% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1F4 {
	background-position: 90.9090909090909% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1F3 {
	background-position: 90.9090909090909% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1F2 {
	background-position: 90.9090909090909% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1F1 {
	background-position: 90.9090909090909% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1F0 {
	background-position: 90.9090909090909% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1ED {
	background-position: 90.9090909090909% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1EC {
	background-position: 0 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1EB {
	background-position: 9.090909090909092% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1EA {
	background-position: 18.181818181818183% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1E9 {
	background-position: 27.272727272727273% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1E8 {
	background-position: 36.36363636363637% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F2-1F1E6 {
	background-position: 45.45454545454545% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F1-1F1FE {
	background-position: 54.54545454545455% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F1-1F1FB {
	background-position: 63.63636363636363% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F1-1F1FA {
	background-position: 72.72727272727273% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F1-1F1F9 {
	background-position: 81.81818181818181% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F1-1F1F8 {
	background-position: 90.9090909090909% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F1-1F1F7 {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F1-1F1F0 {
	background-position: 100% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F1-1F1EE {
	background-position: 100% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F1-1F1E8 {
	background-position: 100% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F1-1F1E7 {
	background-position: 100% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F1-1F1E6 {
	background-position: 100% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F0-1F1FF {
	background-position: 100% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F0-1F1FE {
	background-position: 100% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F0-1F1FC {
	background-position: 100% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F0-1F1F7 {
	background-position: 100% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F0-1F1F5 {
	background-position: 100% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F0-1F1F3 {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F0-1F1F2 {
	background-position: 9.090909090909092% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F0-1F1EE {
	background-position: 18.181818181818183% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F0-1F1ED {
	background-position: 27.272727272727273% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F0-1F1EC {
	background-position: 36.36363636363637% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F1F0-1F1EA {
	background-position: 45.45454545454545% 100%;
	width: 72px;
	height: 72px;
}

