.openmoji {
	background: url("flags-00.svg") no-repeat;
}

.openmoji-1F3F4-200D-2620-FE0F {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F3F3-FE0F-200D-26A7-FE0F {
	background-position: 50% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F3F3-FE0F-200D-1F308 {
	background-position: 0 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3F3 {
	background-position: 50% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3F4 {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F38C {
	background-position: 100% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A9 {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C1 {
	background-position: 50% 100%;
	width: 72px;
	height: 72px;
}

