.openmoji {
	background: url("food-drink.svg") no-repeat;
}

.openmoji-1F3FA {
	background-position: 9.090909090909092% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F52A {
	background-position: 54.54545454545455% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F944 {
	background-position: 0 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F374 {
	background-position: 9.090909090909092% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F37D {
	background-position: 18.181818181818183% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F962 {
	background-position: 18.181818181818183% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CA {
	background-position: 0 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9C9 {
	background-position: 9.090909090909092% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9C3 {
	background-position: 18.181818181818183% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F964 {
	background-position: 27.272727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F943 {
	background-position: 27.272727272727273% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F942 {
	background-position: 27.272727272727273% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F37B {
	background-position: 0 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F37A {
	background-position: 9.090909090909092% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F379 {
	background-position: 18.181818181818183% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F378 {
	background-position: 27.272727272727273% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F377 {
	background-position: 36.36363636363637% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F37E {
	background-position: 36.36363636363637% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F376 {
	background-position: 36.36363636363637% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F375 {
	background-position: 36.36363636363637% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-2615 {
	background-position: 0 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F95B {
	background-position: 9.090909090909092% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F37C {
	background-position: 18.181818181818183% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F36F {
	background-position: 27.272727272727273% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F36E {
	background-position: 36.36363636363637% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F36D {
	background-position: 45.45454545454545% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F36C {
	background-position: 45.45454545454545% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F36B {
	background-position: 45.45454545454545% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F967 {
	background-position: 45.45454545454545% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9C1 {
	background-position: 45.45454545454545% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F370 {
	background-position: 0 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F382 {
	background-position: 9.090909090909092% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F36A {
	background-position: 18.181818181818183% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F369 {
	background-position: 27.272727272727273% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F368 {
	background-position: 36.36363636363637% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F367 {
	background-position: 45.45454545454545% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F366 {
	background-position: 54.54545454545455% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9AA {
	background-position: 54.54545454545455% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F991 {
	background-position: 54.54545454545455% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F990 {
	background-position: 54.54545454545455% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F99E {
	background-position: 54.54545454545455% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F980 {
	background-position: 54.54545454545455% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F961 {
	background-position: 0 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F960 {
	background-position: 9.090909090909092% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F95F {
	background-position: 18.181818181818183% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F361 {
	background-position: 27.272727272727273% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F96E {
	background-position: 36.36363636363637% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F365 {
	background-position: 45.45454545454545% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F364 {
	background-position: 54.54545454545455% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F363 {
	background-position: 63.63636363636363% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F362 {
	background-position: 63.63636363636363% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F360 {
	background-position: 63.63636363636363% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F35D {
	background-position: 63.63636363636363% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F35C {
	background-position: 63.63636363636363% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F35B {
	background-position: 63.63636363636363% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F35A {
	background-position: 63.63636363636363% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F359 {
	background-position: 0 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F358 {
	background-position: 9.090909090909092% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F371 {
	background-position: 18.181818181818183% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F96B {
	background-position: 27.272727272727273% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9C2 {
	background-position: 36.36363636363637% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9C8 {
	background-position: 45.45454545454545% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F37F {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F957 {
	background-position: 63.63636363636363% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F963 {
	background-position: 72.72727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F372 {
	background-position: 72.72727272727273% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F958 {
	background-position: 72.72727272727273% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F373 {
	background-position: 72.72727272727273% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F95A {
	background-position: 72.72727272727273% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9C6 {
	background-position: 72.72727272727273% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F959 {
	background-position: 72.72727272727273% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1FAD4 {
	background-position: 72.72727272727273% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F32F {
	background-position: 0 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F32E {
	background-position: 9.090909090909092% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F96A {
	background-position: 18.181818181818183% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F32D {
	background-position: 27.272727272727273% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F355 {
	background-position: 36.36363636363637% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F35F {
	background-position: 45.45454545454545% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F354 {
	background-position: 54.54545454545455% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F953 {
	background-position: 63.63636363636363% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F969 {
	background-position: 72.72727272727273% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F357 {
	background-position: 81.81818181818181% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F356 {
	background-position: 81.81818181818181% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9C0 {
	background-position: 81.81818181818181% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9C7 {
	background-position: 81.81818181818181% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F95E {
	background-position: 81.81818181818181% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F96F {
	background-position: 81.81818181818181% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F968 {
	background-position: 81.81818181818181% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1FAD3 {
	background-position: 81.81818181818181% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F956 {
	background-position: 81.81818181818181% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F950 {
	background-position: 0 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F35E {
	background-position: 9.090909090909092% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F330 {
	background-position: 18.181818181818183% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F95C {
	background-position: 27.272727272727273% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F344 {
	background-position: 36.36363636363637% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9C5 {
	background-position: 45.45454545454545% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9C4 {
	background-position: 54.54545454545455% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F966 {
	background-position: 63.63636363636363% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F96C {
	background-position: 72.72727272727273% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F952 {
	background-position: 81.81818181818181% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F336 {
	background-position: 90.9090909090909% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F33D {
	background-position: 90.9090909090909% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F955 {
	background-position: 90.9090909090909% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F954 {
	background-position: 90.9090909090909% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F346 {
	background-position: 90.9090909090909% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F951 {
	background-position: 90.9090909090909% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F965 {
	background-position: 90.9090909090909% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1FAD2 {
	background-position: 90.9090909090909% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F345 {
	background-position: 90.9090909090909% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F95D {
	background-position: 90.9090909090909% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1FAD0 {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F353 {
	background-position: 9.090909090909092% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F352 {
	background-position: 18.181818181818183% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F351 {
	background-position: 27.272727272727273% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F350 {
	background-position: 36.36363636363637% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F34F {
	background-position: 45.45454545454545% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F34E {
	background-position: 54.54545454545455% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F96D {
	background-position: 63.63636363636363% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F34D {
	background-position: 72.72727272727273% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F34C {
	background-position: 81.81818181818181% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F34B {
	background-position: 90.9090909090909% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F34A {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F349 {
	background-position: 100% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F348 {
	background-position: 100% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F347 {
	background-position: 100% 30%;
	width: 72px;
	height: 72px;
}

