.openmoji {
	display: inline-block;
background: url("objects-01.svg") no-repeat;
}

.openmoji-1F5FF {
	background-position: 10% 0;
	width: 72px;
	height: 72px;
}

.openmoji-26B1 {
	background-position: 70% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-26B0 {
	background-position: 0 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6AC {
	background-position: 10% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6D2 {
	background-position: 20% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9EF {
	background-position: 20% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9FD {
	background-position: 0 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1FAA5 {
	background-position: 10% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9FC {
	background-position: 20% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9FB {
	background-position: 30% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9FA {
	background-position: 30% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9F9 {
	background-position: 30% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9F7 {
	background-position: 0 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9F4 {
	background-position: 10% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1FA92 {
	background-position: 20% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C1 {
	background-position: 30% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6BF {
	background-position: 40% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F6BD {
	background-position: 40% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1FA91 {
	background-position: 40% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6CB {
	background-position: 40% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6CF {
	background-position: 0 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6AA {
	background-position: 10% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1FA7A {
	background-position: 20% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1FA79 {
	background-position: 30% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F48A {
	background-position: 40% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1FA78 {
	background-position: 50% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F489 {
	background-position: 50% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4E1 {
	background-position: 50% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F52D {
	background-position: 50% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F52C {
	background-position: 50% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9EC {
	background-position: 0 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9EB {
	background-position: 10% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9EA {
	background-position: 20% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-2697 {
	background-position: 30% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9F2 {
	background-position: 40% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9F0 {
	background-position: 50% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-26D3 {
	background-position: 60% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F517 {
	background-position: 60% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9AF {
	background-position: 60% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-2696 {
	background-position: 60% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5DC {
	background-position: 60% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-2699 {
	background-position: 60% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F529 {
	background-position: 0 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F527 {
	background-position: 10% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6E1 {
	background-position: 20% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3F9 {
	background-position: 30% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F52B {
	background-position: 40% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-2694 {
	background-position: 50% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5E1 {
	background-position: 60% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6E0 {
	background-position: 70% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2692 {
	background-position: 70% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-26CF {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1FA93 {
	background-position: 70% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F528 {
	background-position: 70% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5DD {
	background-position: 70% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F511 {
	background-position: 70% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F510 {
	background-position: 0 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F50F {
	background-position: 10% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F513 {
	background-position: 20% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F512 {
	background-position: 30% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5D1 {
	background-position: 40% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5C4 {
	background-position: 50% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5C3 {
	background-position: 60% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-2702 {
	background-position: 70% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4D0 {
	background-position: 80% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F4CF {
	background-position: 80% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F587 {
	background-position: 80% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4CE {
	background-position: 80% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4CD {
	background-position: 80% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4CC {
	background-position: 80% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4CB {
	background-position: 80% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4CA {
	background-position: 80% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4C9 {
	background-position: 0 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4C8 {
	background-position: 10% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4C7 {
	background-position: 20% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5D3 {
	background-position: 30% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5D2 {
	background-position: 40% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4C6 {
	background-position: 50% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4C5 {
	background-position: 60% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5C2 {
	background-position: 70% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4C2 {
	background-position: 80% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4C1 {
	background-position: 90% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F4BC {
	background-position: 90% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4DD {
	background-position: 90% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F58D {
	background-position: 90% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F58C {
	background-position: 90% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F58A {
	background-position: 90% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F58B {
	background-position: 90% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-2712 {
	background-position: 90% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-270F {
	background-position: 90% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5F3 {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4EE {
	background-position: 10% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4ED {
	background-position: 20% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4EC {
	background-position: 30% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4EA {
	background-position: 40% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4EB {
	background-position: 50% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4E6 {
	background-position: 60% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4E5 {
	background-position: 70% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4E4 {
	background-position: 80% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4E9 {
	background-position: 90% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4E8 {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F4E7 {
	background-position: 100% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-2709 {
	background-position: 100% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

