.openmoji {
	display: inline-block;
background: url("people-body-03.svg") no-repeat;
}

.openmoji-1F937-1F3FF-200D-2640-FE0F {
	background-position: 7.6923076923076925% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-1F3FE-200D-2640-FE0F {
	background-position: 0 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-1F3FD-200D-2640-FE0F {
	background-position: 0 8.333333333333334%;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-1F3FC-200D-2640-FE0F {
	background-position: 7.6923076923076925% 8.333333333333334%;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-1F3FB-200D-2640-FE0F {
	background-position: 15.384615384615385% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-200D-2640-FE0F {
	background-position: 15.384615384615385% 8.333333333333334%;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-1F3FF-200D-2642-FE0F {
	background-position: 0 16.666666666666668%;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-1F3FE-200D-2642-FE0F {
	background-position: 7.6923076923076925% 16.666666666666668%;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-1F3FD-200D-2642-FE0F {
	background-position: 15.384615384615385% 16.666666666666668%;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-1F3FC-200D-2642-FE0F {
	background-position: 23.076923076923077% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-1F3FB-200D-2642-FE0F {
	background-position: 23.076923076923077% 8.333333333333334%;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-200D-2642-FE0F {
	background-position: 23.076923076923077% 16.666666666666668%;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-1F3FF {
	background-position: 0 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-1F3FE {
	background-position: 7.6923076923076925% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-1F3FD {
	background-position: 15.384615384615385% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-1F3FC {
	background-position: 23.076923076923077% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F937-1F3FB {
	background-position: 30.76923076923077% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F937 {
	background-position: 30.76923076923077% 8.333333333333334%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FF-200D-2640-FE0F {
	background-position: 30.76923076923077% 16.666666666666668%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FE-200D-2640-FE0F {
	background-position: 30.76923076923077% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FD-200D-2640-FE0F {
	background-position: 0 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FC-200D-2640-FE0F {
	background-position: 7.6923076923076925% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FB-200D-2640-FE0F {
	background-position: 15.384615384615385% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-200D-2640-FE0F {
	background-position: 23.076923076923077% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FF-200D-2642-FE0F {
	background-position: 30.76923076923077% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FE-200D-2642-FE0F {
	background-position: 38.46153846153846% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FD-200D-2642-FE0F {
	background-position: 38.46153846153846% 8.333333333333334%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FC-200D-2642-FE0F {
	background-position: 38.46153846153846% 16.666666666666668%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FB-200D-2642-FE0F {
	background-position: 38.46153846153846% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-200D-2642-FE0F {
	background-position: 38.46153846153846% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FF {
	background-position: 0 41.666666666666664%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FE {
	background-position: 7.6923076923076925% 41.666666666666664%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FD {
	background-position: 15.384615384615385% 41.666666666666664%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FC {
	background-position: 23.076923076923077% 41.666666666666664%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926-1F3FB {
	background-position: 30.76923076923077% 41.666666666666664%;
	width: 72px;
	height: 72px;
}

.openmoji-1F926 {
	background-position: 38.46153846153846% 41.666666666666664%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FF-200D-2640-FE0F {
	background-position: 46.15384615384615% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FE-200D-2640-FE0F {
	background-position: 46.15384615384615% 8.333333333333334%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FD-200D-2640-FE0F {
	background-position: 46.15384615384615% 16.666666666666668%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FC-200D-2640-FE0F {
	background-position: 46.15384615384615% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FB-200D-2640-FE0F {
	background-position: 46.15384615384615% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-200D-2640-FE0F {
	background-position: 46.15384615384615% 41.666666666666664%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FF-200D-2642-FE0F {
	background-position: 0 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FE-200D-2642-FE0F {
	background-position: 7.6923076923076925% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FD-200D-2642-FE0F {
	background-position: 15.384615384615385% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FC-200D-2642-FE0F {
	background-position: 23.076923076923077% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FB-200D-2642-FE0F {
	background-position: 30.76923076923077% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-200D-2642-FE0F {
	background-position: 38.46153846153846% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FF {
	background-position: 46.15384615384615% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FE {
	background-position: 53.84615384615385% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FD {
	background-position: 53.84615384615385% 8.333333333333334%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FC {
	background-position: 53.84615384615385% 16.666666666666668%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647-1F3FB {
	background-position: 53.84615384615385% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F647 {
	background-position: 53.84615384615385% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FF-200D-2640-FE0F {
	background-position: 53.84615384615385% 41.666666666666664%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FE-200D-2640-FE0F {
	background-position: 53.84615384615385% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FD-200D-2640-FE0F {
	background-position: 0 58.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FC-200D-2640-FE0F {
	background-position: 7.6923076923076925% 58.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FB-200D-2640-FE0F {
	background-position: 15.384615384615385% 58.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-200D-2640-FE0F {
	background-position: 23.076923076923077% 58.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FF-200D-2642-FE0F {
	background-position: 30.76923076923077% 58.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FE-200D-2642-FE0F {
	background-position: 38.46153846153846% 58.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FD-200D-2642-FE0F {
	background-position: 46.15384615384615% 58.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FC-200D-2642-FE0F {
	background-position: 53.84615384615385% 58.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FB-200D-2642-FE0F {
	background-position: 61.53846153846154% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-200D-2642-FE0F {
	background-position: 61.53846153846154% 8.333333333333334%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FF {
	background-position: 61.53846153846154% 16.666666666666668%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FE {
	background-position: 61.53846153846154% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FD {
	background-position: 61.53846153846154% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FC {
	background-position: 61.53846153846154% 41.666666666666664%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF-1F3FB {
	background-position: 61.53846153846154% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9CF {
	background-position: 61.53846153846154% 58.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FF-200D-2640-FE0F {
	background-position: 0 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FE-200D-2640-FE0F {
	background-position: 7.6923076923076925% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FD-200D-2640-FE0F {
	background-position: 15.384615384615385% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FC-200D-2640-FE0F {
	background-position: 23.076923076923077% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FB-200D-2640-FE0F {
	background-position: 30.76923076923077% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-200D-2640-FE0F {
	background-position: 38.46153846153846% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FF-200D-2642-FE0F {
	background-position: 46.15384615384615% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FE-200D-2642-FE0F {
	background-position: 53.84615384615385% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FD-200D-2642-FE0F {
	background-position: 61.53846153846154% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FC-200D-2642-FE0F {
	background-position: 69.23076923076923% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FB-200D-2642-FE0F {
	background-position: 69.23076923076923% 8.333333333333334%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-200D-2642-FE0F {
	background-position: 69.23076923076923% 16.666666666666668%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FF {
	background-position: 69.23076923076923% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FE {
	background-position: 69.23076923076923% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FD {
	background-position: 69.23076923076923% 41.666666666666664%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FC {
	background-position: 69.23076923076923% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B-1F3FB {
	background-position: 69.23076923076923% 58.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64B {
	background-position: 69.23076923076923% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FF-200D-2640-FE0F {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FE-200D-2640-FE0F {
	background-position: 7.6923076923076925% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FD-200D-2640-FE0F {
	background-position: 15.384615384615385% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FC-200D-2640-FE0F {
	background-position: 23.076923076923077% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FB-200D-2640-FE0F {
	background-position: 30.76923076923077% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-200D-2640-FE0F {
	background-position: 38.46153846153846% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FF-200D-2642-FE0F {
	background-position: 46.15384615384615% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FE-200D-2642-FE0F {
	background-position: 53.84615384615385% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FD-200D-2642-FE0F {
	background-position: 61.53846153846154% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FC-200D-2642-FE0F {
	background-position: 69.23076923076923% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FB-200D-2642-FE0F {
	background-position: 76.92307692307692% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-200D-2642-FE0F {
	background-position: 76.92307692307692% 8.333333333333334%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FF {
	background-position: 76.92307692307692% 16.666666666666668%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FE {
	background-position: 76.92307692307692% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FD {
	background-position: 76.92307692307692% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FC {
	background-position: 76.92307692307692% 41.666666666666664%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481-1F3FB {
	background-position: 76.92307692307692% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F481 {
	background-position: 76.92307692307692% 58.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FF-200D-2640-FE0F {
	background-position: 76.92307692307692% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FE-200D-2640-FE0F {
	background-position: 76.92307692307692% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FD-200D-2640-FE0F {
	background-position: 0 83.33333333333333%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FC-200D-2640-FE0F {
	background-position: 7.6923076923076925% 83.33333333333333%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FB-200D-2640-FE0F {
	background-position: 15.384615384615385% 83.33333333333333%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-200D-2640-FE0F {
	background-position: 23.076923076923077% 83.33333333333333%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FF-200D-2642-FE0F {
	background-position: 30.76923076923077% 83.33333333333333%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FE-200D-2642-FE0F {
	background-position: 38.46153846153846% 83.33333333333333%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FD-200D-2642-FE0F {
	background-position: 46.15384615384615% 83.33333333333333%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FC-200D-2642-FE0F {
	background-position: 53.84615384615385% 83.33333333333333%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FB-200D-2642-FE0F {
	background-position: 61.53846153846154% 83.33333333333333%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-200D-2642-FE0F {
	background-position: 69.23076923076923% 83.33333333333333%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FF {
	background-position: 76.92307692307692% 83.33333333333333%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FE {
	background-position: 84.61538461538461% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FD {
	background-position: 84.61538461538461% 8.333333333333334%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FC {
	background-position: 84.61538461538461% 16.666666666666668%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646-1F3FB {
	background-position: 84.61538461538461% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F646 {
	background-position: 84.61538461538461% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FF-200D-2640-FE0F {
	background-position: 84.61538461538461% 41.666666666666664%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FE-200D-2640-FE0F {
	background-position: 84.61538461538461% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FD-200D-2640-FE0F {
	background-position: 84.61538461538461% 58.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FC-200D-2640-FE0F {
	background-position: 84.61538461538461% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FB-200D-2640-FE0F {
	background-position: 84.61538461538461% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-200D-2640-FE0F {
	background-position: 84.61538461538461% 83.33333333333333%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FF-200D-2642-FE0F {
	background-position: 0 91.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FE-200D-2642-FE0F {
	background-position: 7.6923076923076925% 91.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FD-200D-2642-FE0F {
	background-position: 15.384615384615385% 91.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FC-200D-2642-FE0F {
	background-position: 23.076923076923077% 91.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FB-200D-2642-FE0F {
	background-position: 30.76923076923077% 91.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-200D-2642-FE0F {
	background-position: 38.46153846153846% 91.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FF {
	background-position: 46.15384615384615% 91.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FE {
	background-position: 53.84615384615385% 91.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FD {
	background-position: 61.53846153846154% 91.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FC {
	background-position: 69.23076923076923% 91.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645-1F3FB {
	background-position: 76.92307692307692% 91.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F645 {
	background-position: 84.61538461538461% 91.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FF-200D-2640-FE0F {
	background-position: 92.3076923076923% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FE-200D-2640-FE0F {
	background-position: 92.3076923076923% 8.333333333333334%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FD-200D-2640-FE0F {
	background-position: 92.3076923076923% 16.666666666666668%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FC-200D-2640-FE0F {
	background-position: 92.3076923076923% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FB-200D-2640-FE0F {
	background-position: 92.3076923076923% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-200D-2640-FE0F {
	background-position: 92.3076923076923% 41.666666666666664%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FF-200D-2642-FE0F {
	background-position: 92.3076923076923% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FE-200D-2642-FE0F {
	background-position: 92.3076923076923% 58.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FD-200D-2642-FE0F {
	background-position: 92.3076923076923% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FC-200D-2642-FE0F {
	background-position: 92.3076923076923% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FB-200D-2642-FE0F {
	background-position: 92.3076923076923% 83.33333333333333%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-200D-2642-FE0F {
	background-position: 92.3076923076923% 91.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FF {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FE {
	background-position: 7.6923076923076925% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FD {
	background-position: 15.384615384615385% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FC {
	background-position: 23.076923076923077% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E-1F3FB {
	background-position: 30.76923076923077% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64E {
	background-position: 38.46153846153846% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FF-200D-2640-FE0F {
	background-position: 46.15384615384615% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FE-200D-2640-FE0F {
	background-position: 53.84615384615385% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FD-200D-2640-FE0F {
	background-position: 61.53846153846154% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FC-200D-2640-FE0F {
	background-position: 69.23076923076923% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FB-200D-2640-FE0F {
	background-position: 76.92307692307692% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-200D-2640-FE0F {
	background-position: 84.61538461538461% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FF-200D-2642-FE0F {
	background-position: 92.3076923076923% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FE-200D-2642-FE0F {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FD-200D-2642-FE0F {
	background-position: 100% 8.333333333333334%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FC-200D-2642-FE0F {
	background-position: 100% 16.666666666666668%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FB-200D-2642-FE0F {
	background-position: 100% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-200D-2642-FE0F {
	background-position: 100% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FF {
	background-position: 100% 41.666666666666664%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FE {
	background-position: 100% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FD {
	background-position: 100% 58.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FC {
	background-position: 100% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D-1F3FB {
	background-position: 100% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64D {
	background-position: 100% 83.33333333333333%;
	width: 72px;
	height: 72px;
}

