.openmoji {
	background: url("people-body-12.svg") no-repeat;
}

.openmoji-1F6CC-1F3FF {
	background-position: 20% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F6CC-1F3FE {
	background-position: 60% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6CC-1F3FD {
	background-position: 0 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6CC-1F3FC {
	background-position: 20% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6CC-1F3FB {
	background-position: 40% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F6CC {
	background-position: 40% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C0-1F3FF {
	background-position: 0 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C0-1F3FE {
	background-position: 20% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C0-1F3FD {
	background-position: 40% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C0-1F3FC {
	background-position: 60% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C0-1F3FB {
	background-position: 60% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C0 {
	background-position: 60% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FF-200D-2640-FE0F {
	background-position: 0 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FE-200D-2640-FE0F {
	background-position: 20% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FD-200D-2640-FE0F {
	background-position: 40% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FC-200D-2640-FE0F {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FB-200D-2640-FE0F {
	background-position: 80% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-200D-2640-FE0F {
	background-position: 80% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FF-200D-2642-FE0F {
	background-position: 80% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FE-200D-2642-FE0F {
	background-position: 80% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FD-200D-2642-FE0F {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FC-200D-2642-FE0F {
	background-position: 20% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FB-200D-2642-FE0F {
	background-position: 40% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-200D-2642-FE0F {
	background-position: 60% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FF {
	background-position: 80% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FE {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FD {
	background-position: 100% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FC {
	background-position: 100% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8-1F3FB {
	background-position: 100% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D8 {
	background-position: 100% 100%;
	width: 72px;
	height: 72px;
}

