.openmoji {
	display: inline-block;
background: url("people-body-09.svg") no-repeat;
}

.openmoji-1F9D7-1F3FF-200D-2640-FE0F {
	background-position: 11.11111111111111% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-1F3FE-200D-2640-FE0F {
	background-position: 77.77777777777777% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-1F3FD-200D-2640-FE0F {
	background-position: 0 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-1F3FC-200D-2640-FE0F {
	background-position: 11.11111111111111% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-1F3FB-200D-2640-FE0F {
	background-position: 22.22222222222222% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-200D-2640-FE0F {
	background-position: 22.22222222222222% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-1F3FF-200D-2642-FE0F {
	background-position: 0 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-1F3FE-200D-2642-FE0F {
	background-position: 11.11111111111111% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-1F3FD-200D-2642-FE0F {
	background-position: 22.22222222222222% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-1F3FC-200D-2642-FE0F {
	background-position: 33.333333333333336% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-1F3FB-200D-2642-FE0F {
	background-position: 33.333333333333336% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-200D-2642-FE0F {
	background-position: 33.333333333333336% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-1F3FF {
	background-position: 0 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-1F3FE {
	background-position: 11.11111111111111% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-1F3FD {
	background-position: 22.22222222222222% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-1F3FC {
	background-position: 33.333333333333336% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7-1F3FB {
	background-position: 44.44444444444444% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D7 {
	background-position: 44.44444444444444% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FF-200D-2640-FE0F {
	background-position: 44.44444444444444% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FE-200D-2640-FE0F {
	background-position: 44.44444444444444% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FD-200D-2640-FE0F {
	background-position: 0 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FC-200D-2640-FE0F {
	background-position: 11.11111111111111% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FB-200D-2640-FE0F {
	background-position: 22.22222222222222% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-200D-2640-FE0F {
	background-position: 33.333333333333336% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FF-200D-2642-FE0F {
	background-position: 44.44444444444444% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FE-200D-2642-FE0F {
	background-position: 55.55555555555556% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FD-200D-2642-FE0F {
	background-position: 55.55555555555556% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FC-200D-2642-FE0F {
	background-position: 55.55555555555556% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FB-200D-2642-FE0F {
	background-position: 55.55555555555556% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-200D-2642-FE0F {
	background-position: 55.55555555555556% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FF {
	background-position: 0 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FE {
	background-position: 11.11111111111111% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FD {
	background-position: 22.22222222222222% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FC {
	background-position: 33.333333333333336% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6-1F3FB {
	background-position: 44.44444444444444% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D6 {
	background-position: 55.55555555555556% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F46F-200D-2640-FE0F {
	background-position: 66.66666666666667% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F46F-200D-2642-FE0F {
	background-position: 66.66666666666667% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F46F {
	background-position: 66.66666666666667% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F574-1F3FF {
	background-position: 66.66666666666667% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F574-1F3FE {
	background-position: 66.66666666666667% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F574-1F3FD {
	background-position: 66.66666666666667% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F574-1F3FC {
	background-position: 0 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F574-1F3FB {
	background-position: 11.11111111111111% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F574 {
	background-position: 22.22222222222222% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F57A-1F3FF {
	background-position: 33.333333333333336% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F57A-1F3FE {
	background-position: 44.44444444444444% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F57A-1F3FD {
	background-position: 55.55555555555556% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F57A-1F3FC {
	background-position: 66.66666666666667% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F57A-1F3FB {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F57A {
	background-position: 77.77777777777777% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F483-1F3FF {
	background-position: 77.77777777777777% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F483-1F3FE {
	background-position: 77.77777777777777% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F483-1F3FD {
	background-position: 77.77777777777777% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F483-1F3FC {
	background-position: 77.77777777777777% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F483-1F3FB {
	background-position: 77.77777777777777% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F483 {
	background-position: 0 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FF-200D-2640-FE0F {
	background-position: 11.11111111111111% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FE-200D-2640-FE0F {
	background-position: 22.22222222222222% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FD-200D-2640-FE0F {
	background-position: 33.333333333333336% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FC-200D-2640-FE0F {
	background-position: 44.44444444444444% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FB-200D-2640-FE0F {
	background-position: 55.55555555555556% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-200D-2640-FE0F {
	background-position: 66.66666666666667% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FF-200D-2642-FE0F {
	background-position: 77.77777777777777% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FE-200D-2642-FE0F {
	background-position: 88.88888888888889% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FD-200D-2642-FE0F {
	background-position: 88.88888888888889% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FC-200D-2642-FE0F {
	background-position: 88.88888888888889% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FB-200D-2642-FE0F {
	background-position: 88.88888888888889% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-200D-2642-FE0F {
	background-position: 88.88888888888889% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FF {
	background-position: 88.88888888888889% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FE {
	background-position: 88.88888888888889% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FD {
	background-position: 88.88888888888889% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FC {
	background-position: 0 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3-1F3FB {
	background-position: 11.11111111111111% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3C3 {
	background-position: 22.22222222222222% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FF-200D-1F9BD {
	background-position: 33.333333333333336% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FE-200D-1F9BD {
	background-position: 44.44444444444444% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FD-200D-1F9BD {
	background-position: 55.55555555555556% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FC-200D-1F9BD {
	background-position: 66.66666666666667% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FB-200D-1F9BD {
	background-position: 77.77777777777777% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-200D-1F9BD {
	background-position: 88.88888888888889% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FF-200D-1F9BD {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FE-200D-1F9BD {
	background-position: 100% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FD-200D-1F9BD {
	background-position: 100% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FC-200D-1F9BD {
	background-position: 100% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FB-200D-1F9BD {
	background-position: 100% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-200D-1F9BD {
	background-position: 100% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FF-200D-1F9BD {
	background-position: 100% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FE-200D-1F9BD {
	background-position: 100% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FD-200D-1F9BD {
	background-position: 100% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FC-200D-1F9BD {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FB-200D-1F9BD {
	background-position: 11.11111111111111% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-200D-1F9BD {
	background-position: 22.22222222222222% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FF-200D-1F9BC {
	background-position: 33.333333333333336% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FE-200D-1F9BC {
	background-position: 44.44444444444444% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FD-200D-1F9BC {
	background-position: 55.55555555555556% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FC-200D-1F9BC {
	background-position: 66.66666666666667% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FB-200D-1F9BC {
	background-position: 77.77777777777777% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-200D-1F9BC {
	background-position: 88.88888888888889% 100%;
	width: 72px;
	height: 72px;
}

