.openmoji {
	background: url("people-body-02.svg") no-repeat;
}

.openmoji-1F475-1F3FF {
	background-position: 8.333333333333334% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F475-1F3FE {
	background-position: 50% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F475-1F3FD {
	background-position: 0 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F475-1F3FC {
	background-position: 8.333333333333334% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F475-1F3FB {
	background-position: 16.666666666666668% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F475 {
	background-position: 16.666666666666668% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F474-1F3FF {
	background-position: 0 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F474-1F3FE {
	background-position: 8.333333333333334% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F474-1F3FD {
	background-position: 16.666666666666668% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F474-1F3FC {
	background-position: 25% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F474-1F3FB {
	background-position: 25% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F474 {
	background-position: 25% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D3-1F3FF {
	background-position: 0 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D3-1F3FE {
	background-position: 8.333333333333334% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D3-1F3FD {
	background-position: 16.666666666666668% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D3-1F3FC {
	background-position: 25% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D3-1F3FB {
	background-position: 33.333333333333336% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D3 {
	background-position: 33.333333333333336% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FF-200D-2642-FE0F {
	background-position: 33.333333333333336% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FE-200D-2642-FE0F {
	background-position: 33.333333333333336% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FD-200D-2642-FE0F {
	background-position: 0 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FC-200D-2642-FE0F {
	background-position: 8.333333333333334% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FB-200D-2642-FE0F {
	background-position: 16.666666666666668% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-200D-2642-FE0F {
	background-position: 25% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FF-200D-2640-FE0F {
	background-position: 33.333333333333336% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FE-200D-2640-FE0F {
	background-position: 41.666666666666664% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FD-200D-2640-FE0F {
	background-position: 41.666666666666664% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FC-200D-2640-FE0F {
	background-position: 41.666666666666664% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FB-200D-2640-FE0F {
	background-position: 41.666666666666664% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-200D-2640-FE0F {
	background-position: 41.666666666666664% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FF-200D-1F9B2 {
	background-position: 0 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FE-200D-1F9B2 {
	background-position: 8.333333333333334% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FD-200D-1F9B2 {
	background-position: 16.666666666666668% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FC-200D-1F9B2 {
	background-position: 25% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FB-200D-1F9B2 {
	background-position: 33.333333333333336% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-200D-1F9B2 {
	background-position: 41.666666666666664% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FF-200D-1F9B2 {
	background-position: 50% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FE-200D-1F9B2 {
	background-position: 50% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FD-200D-1F9B2 {
	background-position: 50% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FC-200D-1F9B2 {
	background-position: 50% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FB-200D-1F9B2 {
	background-position: 50% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-200D-1F9B2 {
	background-position: 50% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FF-200D-1F9B3 {
	background-position: 0 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FE-200D-1F9B3 {
	background-position: 8.333333333333334% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FD-200D-1F9B3 {
	background-position: 16.666666666666668% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FC-200D-1F9B3 {
	background-position: 25% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FB-200D-1F9B3 {
	background-position: 33.333333333333336% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-200D-1F9B3 {
	background-position: 41.666666666666664% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FF-200D-1F9B3 {
	background-position: 50% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FE-200D-1F9B3 {
	background-position: 58.333333333333336% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FD-200D-1F9B3 {
	background-position: 58.333333333333336% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FC-200D-1F9B3 {
	background-position: 58.333333333333336% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FB-200D-1F9B3 {
	background-position: 58.333333333333336% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-200D-1F9B3 {
	background-position: 58.333333333333336% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FF-200D-1F9B1 {
	background-position: 58.333333333333336% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FE-200D-1F9B1 {
	background-position: 58.333333333333336% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FD-200D-1F9B1 {
	background-position: 0 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FC-200D-1F9B1 {
	background-position: 8.333333333333334% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FB-200D-1F9B1 {
	background-position: 16.666666666666668% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-200D-1F9B1 {
	background-position: 25% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FF-200D-1F9B1 {
	background-position: 33.333333333333336% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FE-200D-1F9B1 {
	background-position: 41.666666666666664% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FD-200D-1F9B1 {
	background-position: 50% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FC-200D-1F9B1 {
	background-position: 58.333333333333336% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FB-200D-1F9B1 {
	background-position: 66.66666666666667% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-200D-1F9B1 {
	background-position: 66.66666666666667% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FF-200D-1F9B0 {
	background-position: 66.66666666666667% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FE-200D-1F9B0 {
	background-position: 66.66666666666667% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FD-200D-1F9B0 {
	background-position: 66.66666666666667% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FC-200D-1F9B0 {
	background-position: 66.66666666666667% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FB-200D-1F9B0 {
	background-position: 66.66666666666667% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-200D-1F9B0 {
	background-position: 66.66666666666667% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FF-200D-1F9B0 {
	background-position: 0 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FE-200D-1F9B0 {
	background-position: 8.333333333333334% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FD-200D-1F9B0 {
	background-position: 16.666666666666668% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FC-200D-1F9B0 {
	background-position: 25% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FB-200D-1F9B0 {
	background-position: 33.333333333333336% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-200D-1F9B0 {
	background-position: 41.666666666666664% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FF {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FE {
	background-position: 58.333333333333336% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FD {
	background-position: 66.66666666666667% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FC {
	background-position: 75% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F469-1F3FB {
	background-position: 75% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F469 {
	background-position: 75% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FF-200D-1F9B2 {
	background-position: 75% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FE-200D-1F9B2 {
	background-position: 75% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FD-200D-1F9B2 {
	background-position: 75% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FC-200D-1F9B2 {
	background-position: 75% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FB-200D-1F9B2 {
	background-position: 75% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-200D-1F9B2 {
	background-position: 75% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FF-200D-1F9B3 {
	background-position: 0 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FE-200D-1F9B3 {
	background-position: 8.333333333333334% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FD-200D-1F9B3 {
	background-position: 16.666666666666668% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FC-200D-1F9B3 {
	background-position: 25% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FB-200D-1F9B3 {
	background-position: 33.333333333333336% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-200D-1F9B3 {
	background-position: 41.666666666666664% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FF-200D-1F9B1 {
	background-position: 50% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FE-200D-1F9B1 {
	background-position: 58.333333333333336% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FD-200D-1F9B1 {
	background-position: 66.66666666666667% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FC-200D-1F9B1 {
	background-position: 75% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FB-200D-1F9B1 {
	background-position: 83.33333333333333% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-200D-1F9B1 {
	background-position: 83.33333333333333% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FF-200D-1F9B0 {
	background-position: 83.33333333333333% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FE-200D-1F9B0 {
	background-position: 83.33333333333333% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FD-200D-1F9B0 {
	background-position: 83.33333333333333% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FC-200D-1F9B0 {
	background-position: 83.33333333333333% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FB-200D-1F9B0 {
	background-position: 83.33333333333333% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-200D-1F9B0 {
	background-position: 83.33333333333333% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D4-1F3FF {
	background-position: 83.33333333333333% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D4-1F3FE {
	background-position: 83.33333333333333% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D4-1F3FD {
	background-position: 0 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D4-1F3FC {
	background-position: 8.333333333333334% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D4-1F3FB {
	background-position: 16.666666666666668% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D4 {
	background-position: 25% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FF {
	background-position: 33.333333333333336% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FE {
	background-position: 41.666666666666664% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FD {
	background-position: 50% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FC {
	background-position: 58.333333333333336% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468-1F3FB {
	background-position: 66.66666666666667% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F468 {
	background-position: 75% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FF {
	background-position: 83.33333333333333% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FE {
	background-position: 91.66666666666667% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FD {
	background-position: 91.66666666666667% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FC {
	background-position: 91.66666666666667% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471-1F3FB {
	background-position: 91.66666666666667% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F471 {
	background-position: 91.66666666666667% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FF {
	background-position: 91.66666666666667% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FE {
	background-position: 91.66666666666667% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FD {
	background-position: 91.66666666666667% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FC {
	background-position: 91.66666666666667% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1-1F3FB {
	background-position: 91.66666666666667% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D1 {
	background-position: 91.66666666666667% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F467-1F3FF {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F467-1F3FE {
	background-position: 8.333333333333334% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F467-1F3FD {
	background-position: 16.666666666666668% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F467-1F3FC {
	background-position: 25% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F467-1F3FB {
	background-position: 33.333333333333336% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F467 {
	background-position: 41.666666666666664% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F466-1F3FF {
	background-position: 50% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F466-1F3FE {
	background-position: 58.333333333333336% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F466-1F3FD {
	background-position: 66.66666666666667% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F466-1F3FC {
	background-position: 75% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F466-1F3FB {
	background-position: 83.33333333333333% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F466 {
	background-position: 91.66666666666667% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D2-1F3FF {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D2-1F3FE {
	background-position: 100% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D2-1F3FD {
	background-position: 100% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D2-1F3FC {
	background-position: 100% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D2-1F3FB {
	background-position: 100% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D2 {
	background-position: 100% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F476-1F3FF {
	background-position: 100% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F476-1F3FE {
	background-position: 100% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F476-1F3FD {
	background-position: 100% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F476-1F3FC {
	background-position: 100% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F476-1F3FB {
	background-position: 100% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F476 {
	background-position: 100% 100%;
	width: 72px;
	height: 72px;
}

