.openmoji {
	display: inline-block;
background: url("people-body-06.svg") no-repeat;
}

.openmoji-1F931-1F3FF {
	background-position: 12.5% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F931-1F3FE {
	background-position: 37.5% 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F931-1F3FD {
	background-position: 0 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F931-1F3FC {
	background-position: 12.5% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F931-1F3FB {
	background-position: 25% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F931 {
	background-position: 25% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F930-1F3FF {
	background-position: 0 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F930-1F3FE {
	background-position: 12.5% 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F930-1F3FD {
	background-position: 25% 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F930-1F3FC {
	background-position: 37.5% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F930-1F3FB {
	background-position: 37.5% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F930 {
	background-position: 37.5% 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F470-1F3FF {
	background-position: 0 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-1F470-1F3FE {
	background-position: 12.5% 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-1F470-1F3FD {
	background-position: 25% 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-1F470-1F3FC {
	background-position: 37.5% 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-1F470-1F3FB {
	background-position: 50% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F470 {
	background-position: 50% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F935-1F3FF {
	background-position: 50% 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F935-1F3FE {
	background-position: 50% 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-1F935-1F3FD {
	background-position: 0 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F935-1F3FC {
	background-position: 12.5% 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F935-1F3FB {
	background-position: 25% 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F935 {
	background-position: 37.5% 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D5-1F3FF {
	background-position: 50% 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D5-1F3FE {
	background-position: 62.5% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D5-1F3FD {
	background-position: 62.5% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D5-1F3FC {
	background-position: 62.5% 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D5-1F3FB {
	background-position: 62.5% 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D5 {
	background-position: 62.5% 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F472-1F3FF {
	background-position: 0 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F472-1F3FE {
	background-position: 12.5% 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F472-1F3FD {
	background-position: 25% 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F472-1F3FC {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F472-1F3FB {
	background-position: 50% 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F472 {
	background-position: 62.5% 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FF-200D-2640-FE0F {
	background-position: 75% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FE-200D-2640-FE0F {
	background-position: 75% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FD-200D-2640-FE0F {
	background-position: 75% 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FC-200D-2640-FE0F {
	background-position: 75% 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FB-200D-2640-FE0F {
	background-position: 75% 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-200D-2640-FE0F {
	background-position: 75% 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FF-200D-2642-FE0F {
	background-position: 0 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FE-200D-2642-FE0F {
	background-position: 12.5% 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FD-200D-2642-FE0F {
	background-position: 25% 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FC-200D-2642-FE0F {
	background-position: 37.5% 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FB-200D-2642-FE0F {
	background-position: 50% 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-200D-2642-FE0F {
	background-position: 62.5% 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FF {
	background-position: 75% 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FE {
	background-position: 87.5% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FD {
	background-position: 87.5% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FC {
	background-position: 87.5% 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473-1F3FB {
	background-position: 87.5% 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-1F473 {
	background-position: 87.5% 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F478-1F3FF {
	background-position: 87.5% 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F478-1F3FE {
	background-position: 87.5% 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F478-1F3FD {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F478-1F3FC {
	background-position: 12.5% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F478-1F3FB {
	background-position: 25% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F478 {
	background-position: 37.5% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F934-1F3FF {
	background-position: 50% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F934-1F3FE {
	background-position: 62.5% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F934-1F3FD {
	background-position: 75% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F934-1F3FC {
	background-position: 87.5% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F934-1F3FB {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F934 {
	background-position: 100% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

