.openmoji {
	background: url("people-body-1.svg") no-repeat;
}

.openmoji-1F463 {
	background-position: 33.333333333333336% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1FAC2 {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F465 {
	background-position: 0 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F464 {
	background-position: 33.333333333333336% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5E3 {
	background-position: 66.66666666666667% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F46A {
	background-position: 66.66666666666667% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F491 {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F48F {
	background-position: 33.333333333333336% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F46C {
	background-position: 66.66666666666667% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F46B {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F46D {
	background-position: 100% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6CC {
	background-position: 100% 100%;
	width: 72px;
	height: 72px;
}

