.openmoji {
	display: inline-block;
background: url("people-body-00.svg") no-repeat;
}

.openmoji-1F91C-1F3FF {
	background-position: 9.090909090909092% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F91C-1F3FE {
	background-position: 0 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91C-1F3FD {
	background-position: 0 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91C-1F3FC {
	background-position: 9.090909090909092% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91C-1F3FB {
	background-position: 18.181818181818183% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F91C {
	background-position: 18.181818181818183% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91B-1F3FF {
	background-position: 0 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91B-1F3FE {
	background-position: 9.090909090909092% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91B-1F3FD {
	background-position: 18.181818181818183% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91B-1F3FC {
	background-position: 27.272727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F91B-1F3FB {
	background-position: 27.272727272727273% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91B {
	background-position: 27.272727272727273% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44A-1F3FF {
	background-position: 0 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44A-1F3FE {
	background-position: 9.090909090909092% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44A-1F3FD {
	background-position: 18.181818181818183% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44A-1F3FC {
	background-position: 27.272727272727273% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44A-1F3FB {
	background-position: 36.36363636363637% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F44A {
	background-position: 36.36363636363637% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-270A-1F3FF {
	background-position: 36.36363636363637% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-270A-1F3FE {
	background-position: 36.36363636363637% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-270A-1F3FD {
	background-position: 0 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-270A-1F3FC {
	background-position: 9.090909090909092% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-270A-1F3FB {
	background-position: 18.181818181818183% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-270A {
	background-position: 27.272727272727273% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44E-1F3FF {
	background-position: 36.36363636363637% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44E-1F3FE {
	background-position: 45.45454545454545% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F44E-1F3FD {
	background-position: 45.45454545454545% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44E-1F3FC {
	background-position: 45.45454545454545% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44E-1F3FB {
	background-position: 45.45454545454545% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44E {
	background-position: 45.45454545454545% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44D-1F3FF {
	background-position: 0 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44D-1F3FE {
	background-position: 9.090909090909092% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44D-1F3FD {
	background-position: 18.181818181818183% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44D-1F3FC {
	background-position: 27.272727272727273% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44D-1F3FB {
	background-position: 36.36363636363637% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44D {
	background-position: 45.45454545454545% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-261D-1F3FF {
	background-position: 54.54545454545455% 0;
	width: 72px;
	height: 72px;
}

.openmoji-261D-1F3FE {
	background-position: 54.54545454545455% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-261D-1F3FD {
	background-position: 54.54545454545455% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-261D-1F3FC {
	background-position: 54.54545454545455% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-261D-1F3FB {
	background-position: 54.54545454545455% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-261D {
	background-position: 54.54545454545455% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F447-1F3FF {
	background-position: 0 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F447-1F3FE {
	background-position: 9.090909090909092% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F447-1F3FD {
	background-position: 18.181818181818183% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F447-1F3FC {
	background-position: 27.272727272727273% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F447-1F3FB {
	background-position: 36.36363636363637% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F447 {
	background-position: 45.45454545454545% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F595-1F3FF {
	background-position: 54.54545454545455% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F595-1F3FE {
	background-position: 63.63636363636363% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F595-1F3FD {
	background-position: 63.63636363636363% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F595-1F3FC {
	background-position: 63.63636363636363% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F595-1F3FB {
	background-position: 63.63636363636363% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F595 {
	background-position: 63.63636363636363% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F446-1F3FF {
	background-position: 63.63636363636363% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F446-1F3FE {
	background-position: 63.63636363636363% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F446-1F3FD {
	background-position: 0 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F446-1F3FC {
	background-position: 9.090909090909092% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F446-1F3FB {
	background-position: 18.181818181818183% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F446 {
	background-position: 27.272727272727273% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F449-1F3FF {
	background-position: 36.36363636363637% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F449-1F3FE {
	background-position: 45.45454545454545% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F449-1F3FD {
	background-position: 54.54545454545455% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F449-1F3FC {
	background-position: 63.63636363636363% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F449-1F3FB {
	background-position: 72.72727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F449 {
	background-position: 72.72727272727273% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F448-1F3FF {
	background-position: 72.72727272727273% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F448-1F3FE {
	background-position: 72.72727272727273% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F448-1F3FD {
	background-position: 72.72727272727273% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F448-1F3FC {
	background-position: 72.72727272727273% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F448-1F3FB {
	background-position: 72.72727272727273% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F448 {
	background-position: 72.72727272727273% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F919-1F3FF {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F919-1F3FE {
	background-position: 9.090909090909092% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F919-1F3FD {
	background-position: 18.181818181818183% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F919-1F3FC {
	background-position: 27.272727272727273% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F919-1F3FB {
	background-position: 36.36363636363637% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F919 {
	background-position: 45.45454545454545% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F918-1F3FF {
	background-position: 54.54545454545455% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F918-1F3FE {
	background-position: 63.63636363636363% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F918-1F3FD {
	background-position: 72.72727272727273% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F918-1F3FC {
	background-position: 81.81818181818181% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F918-1F3FB {
	background-position: 81.81818181818181% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F918 {
	background-position: 81.81818181818181% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91F-1F3FF {
	background-position: 81.81818181818181% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91F-1F3FE {
	background-position: 81.81818181818181% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91F-1F3FD {
	background-position: 81.81818181818181% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91F-1F3FC {
	background-position: 81.81818181818181% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91F-1F3FB {
	background-position: 81.81818181818181% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91F {
	background-position: 81.81818181818181% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91E-1F3FF {
	background-position: 0 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91E-1F3FE {
	background-position: 9.090909090909092% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91E-1F3FD {
	background-position: 18.181818181818183% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91E-1F3FC {
	background-position: 27.272727272727273% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91E-1F3FB {
	background-position: 36.36363636363637% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91E {
	background-position: 45.45454545454545% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-270C-1F3FF {
	background-position: 54.54545454545455% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-270C-1F3FE {
	background-position: 63.63636363636363% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-270C-1F3FD {
	background-position: 72.72727272727273% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-270C-1F3FC {
	background-position: 81.81818181818181% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-270C-1F3FB {
	background-position: 90.9090909090909% 0;
	width: 72px;
	height: 72px;
}

.openmoji-270C {
	background-position: 90.9090909090909% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F90F-1F3FF {
	background-position: 90.9090909090909% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F90F-1F3FE {
	background-position: 90.9090909090909% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F90F-1F3FD {
	background-position: 90.9090909090909% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F90F-1F3FC {
	background-position: 90.9090909090909% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F90F-1F3FB {
	background-position: 90.9090909090909% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F90F {
	background-position: 90.9090909090909% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44C-1F3FF {
	background-position: 90.9090909090909% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44C-1F3FE {
	background-position: 90.9090909090909% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44C-1F3FD {
	background-position: 0 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44C-1F3FC {
	background-position: 9.090909090909092% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44C-1F3FB {
	background-position: 18.181818181818183% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44C {
	background-position: 27.272727272727273% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F596-1F3FF {
	background-position: 36.36363636363637% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F596-1F3FE {
	background-position: 45.45454545454545% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F596-1F3FD {
	background-position: 54.54545454545455% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F596-1F3FC {
	background-position: 63.63636363636363% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F596-1F3FB {
	background-position: 72.72727272727273% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F596 {
	background-position: 81.81818181818181% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-270B-1F3FF {
	background-position: 90.9090909090909% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-270B-1F3FE {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-270B-1F3FD {
	background-position: 100% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-270B-1F3FC {
	background-position: 100% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-270B-1F3FB {
	background-position: 100% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-270B {
	background-position: 100% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F590-1F3FF {
	background-position: 100% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F590-1F3FE {
	background-position: 100% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F590-1F3FD {
	background-position: 100% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F590-1F3FC {
	background-position: 100% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F590-1F3FB {
	background-position: 100% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F590 {
	background-position: 100% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91A-1F3FF {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91A-1F3FE {
	background-position: 9.090909090909092% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91A-1F3FD {
	background-position: 18.181818181818183% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91A-1F3FC {
	background-position: 27.272727272727273% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91A-1F3FB {
	background-position: 36.36363636363637% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F91A {
	background-position: 45.45454545454545% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44B-1F3FF {
	background-position: 54.54545454545455% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44B-1F3FE {
	background-position: 63.63636363636363% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44B-1F3FD {
	background-position: 72.72727272727273% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44B-1F3FC {
	background-position: 81.81818181818181% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44B-1F3FB {
	background-position: 90.9090909090909% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F44B {
	background-position: 100% 100%;
	width: 72px;
	height: 72px;
}

