.openmoji {
	background: url("smileys-emotion.svg") no-repeat;
}

.openmoji-1F494 {
	background-position: 9.090909090909092% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2763 {
	background-position: 72.72727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F49F {
	background-position: 0 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F495 {
	background-position: 9.090909090909092% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F49E {
	background-position: 18.181818181818183% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F493 {
	background-position: 18.181818181818183% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F497 {
	background-position: 0 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F496 {
	background-position: 9.090909090909092% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F49D {
	background-position: 18.181818181818183% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F498 {
	background-position: 27.272727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F48C {
	background-position: 27.272727272727273% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F48B {
	background-position: 27.272727272727273% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F64A {
	background-position: 0 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F649 {
	background-position: 9.090909090909092% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F648 {
	background-position: 18.181818181818183% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F63E {
	background-position: 27.272727272727273% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F63F {
	background-position: 36.36363636363637% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F640 {
	background-position: 36.36363636363637% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F63D {
	background-position: 36.36363636363637% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F63C {
	background-position: 36.36363636363637% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F63B {
	background-position: 0 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F639 {
	background-position: 9.090909090909092% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F638 {
	background-position: 18.181818181818183% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F63A {
	background-position: 27.272727272727273% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F916 {
	background-position: 36.36363636363637% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F47E {
	background-position: 45.45454545454545% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F47D {
	background-position: 45.45454545454545% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F47B {
	background-position: 45.45454545454545% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F47A {
	background-position: 45.45454545454545% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F479 {
	background-position: 45.45454545454545% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F921 {
	background-position: 0 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4A9 {
	background-position: 9.090909090909092% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-2620 {
	background-position: 18.181818181818183% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F480 {
	background-position: 27.272727272727273% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F47F {
	background-position: 36.36363636363637% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F608 {
	background-position: 45.45454545454545% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F92C {
	background-position: 54.54545454545455% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F620 {
	background-position: 54.54545454545455% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F621 {
	background-position: 54.54545454545455% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F624 {
	background-position: 54.54545454545455% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F971 {
	background-position: 54.54545454545455% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F62B {
	background-position: 54.54545454545455% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F629 {
	background-position: 0 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F613 {
	background-position: 9.090909090909092% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F61E {
	background-position: 18.181818181818183% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F623 {
	background-position: 27.272727272727273% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F616 {
	background-position: 36.36363636363637% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F631 {
	background-position: 45.45454545454545% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F62D {
	background-position: 54.54545454545455% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F622 {
	background-position: 63.63636363636363% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F625 {
	background-position: 63.63636363636363% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F630 {
	background-position: 63.63636363636363% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F628 {
	background-position: 63.63636363636363% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F627 {
	background-position: 63.63636363636363% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F626 {
	background-position: 63.63636363636363% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F97A {
	background-position: 63.63636363636363% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F633 {
	background-position: 0 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F632 {
	background-position: 9.090909090909092% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F62F {
	background-position: 18.181818181818183% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F62E {
	background-position: 27.272727272727273% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-2639 {
	background-position: 36.36363636363637% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F641 {
	background-position: 45.45454545454545% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F61F {
	background-position: 54.54545454545455% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F615 {
	background-position: 63.63636363636363% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9D0 {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F913 {
	background-position: 72.72727272727273% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F60E {
	background-position: 72.72727272727273% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F978 {
	background-position: 72.72727272727273% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F973 {
	background-position: 72.72727272727273% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F920 {
	background-position: 72.72727272727273% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F92F {
	background-position: 72.72727272727273% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F635 {
	background-position: 72.72727272727273% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F974 {
	background-position: 0 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F976 {
	background-position: 9.090909090909092% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F975 {
	background-position: 18.181818181818183% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F927 {
	background-position: 27.272727272727273% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F92E {
	background-position: 36.36363636363637% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F922 {
	background-position: 45.45454545454545% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F915 {
	background-position: 54.54545454545455% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F912 {
	background-position: 63.63636363636363% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F637 {
	background-position: 72.72727272727273% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F634 {
	background-position: 81.81818181818181% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F924 {
	background-position: 81.81818181818181% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F62A {
	background-position: 81.81818181818181% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F614 {
	background-position: 81.81818181818181% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F60C {
	background-position: 81.81818181818181% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F925 {
	background-position: 81.81818181818181% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F62C {
	background-position: 81.81818181818181% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F644 {
	background-position: 81.81818181818181% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F612 {
	background-position: 81.81818181818181% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F60F {
	background-position: 0 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F636 {
	background-position: 9.090909090909092% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F611 {
	background-position: 18.181818181818183% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F610 {
	background-position: 27.272727272727273% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F928 {
	background-position: 36.36363636363637% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F910 {
	background-position: 45.45454545454545% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F914 {
	background-position: 54.54545454545455% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F92B {
	background-position: 63.63636363636363% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F92D {
	background-position: 72.72727272727273% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F917 {
	background-position: 81.81818181818181% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F911 {
	background-position: 90.9090909090909% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F61D {
	background-position: 90.9090909090909% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F92A {
	background-position: 90.9090909090909% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F61C {
	background-position: 90.9090909090909% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F61B {
	background-position: 90.9090909090909% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F60B {
	background-position: 90.9090909090909% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F972 {
	background-position: 90.9090909090909% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F619 {
	background-position: 90.9090909090909% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F61A {
	background-position: 90.9090909090909% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-263A {
	background-position: 90.9090909090909% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F617 {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F618 {
	background-position: 9.090909090909092% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F929 {
	background-position: 18.181818181818183% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F60D {
	background-position: 27.272727272727273% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F970 {
	background-position: 36.36363636363637% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F607 {
	background-position: 45.45454545454545% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F60A {
	background-position: 54.54545454545455% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F609 {
	background-position: 63.63636363636363% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F643 {
	background-position: 72.72727272727273% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F642 {
	background-position: 81.81818181818181% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F602 {
	background-position: 90.9090909090909% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F923 {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F605 {
	background-position: 100% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F606 {
	background-position: 100% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F601 {
	background-position: 100% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F604 {
	background-position: 100% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F603 {
	background-position: 100% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F600 {
	background-position: 100% 60%;
	width: 72px;
	height: 72px;
}

