.openmoji {
	background: url("smileys-emotion-1.svg") no-repeat;
}

.openmoji-1F4A4 {
	background-position: 25% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F4AD {
	background-position: 75% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5EF {
	background-position: 0 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5E8 {
	background-position: 25% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4AC {
	background-position: 50% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F4A3 {
	background-position: 50% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F573 {
	background-position: 0 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4A8 {
	background-position: 25% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4A6 {
	background-position: 50% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4AB {
	background-position: 75% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F4A5 {
	background-position: 75% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4A2 {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F4AF {
	background-position: 0 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F90D {
	background-position: 25% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5A4 {
	background-position: 50% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F90E {
	background-position: 75% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F49C {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F499 {
	background-position: 100% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F49A {
	background-position: 100% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F49B {
	background-position: 100% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9E1 {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-2764 {
	background-position: 25% 100%;
	width: 72px;
	height: 72px;
}

