.openmoji {
	display: inline-block;
background: url("symbols-00.svg") no-repeat;
}

.openmoji-26A7 {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-2642 {
	background-position: 11.11111111111111% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2640 {
	background-position: 0 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4F4 {
	background-position: 11.11111111111111% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4F3 {
	background-position: 22.22222222222222% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F4F6 {
	background-position: 22.22222222222222% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F506 {
	background-position: 0 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F505 {
	background-position: 11.11111111111111% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3A6 {
	background-position: 22.22222222222222% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-23CF {
	background-position: 33.333333333333336% 0;
	width: 72px;
	height: 72px;
}

.openmoji-23FA {
	background-position: 33.333333333333336% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-23F9 {
	background-position: 33.333333333333336% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-23F8 {
	background-position: 0 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-23EC {
	background-position: 11.11111111111111% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F53D {
	background-position: 22.22222222222222% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-23EB {
	background-position: 33.333333333333336% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F53C {
	background-position: 44.44444444444444% 0;
	width: 72px;
	height: 72px;
}

.openmoji-23EE {
	background-position: 44.44444444444444% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-23EA {
	background-position: 44.44444444444444% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-25C0 {
	background-position: 44.44444444444444% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-23EF {
	background-position: 0 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-23ED {
	background-position: 11.11111111111111% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-23E9 {
	background-position: 22.22222222222222% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-25B6 {
	background-position: 33.333333333333336% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F502 {
	background-position: 44.44444444444444% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F501 {
	background-position: 55.55555555555556% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F500 {
	background-position: 55.55555555555556% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-26CE {
	background-position: 55.55555555555556% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-2653 {
	background-position: 55.55555555555556% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-2652 {
	background-position: 55.55555555555556% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-2651 {
	background-position: 0 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-2650 {
	background-position: 11.11111111111111% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-264F {
	background-position: 22.22222222222222% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-264E {
	background-position: 33.333333333333336% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-264D {
	background-position: 44.44444444444444% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-264C {
	background-position: 55.55555555555556% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-264B {
	background-position: 66.66666666666667% 0;
	width: 72px;
	height: 72px;
}

.openmoji-264A {
	background-position: 66.66666666666667% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-2649 {
	background-position: 66.66666666666667% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-2648 {
	background-position: 66.66666666666667% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F52F {
	background-position: 66.66666666666667% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F54E {
	background-position: 66.66666666666667% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-262E {
	background-position: 0 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-262A {
	background-position: 11.11111111111111% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-2626 {
	background-position: 22.22222222222222% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-271D {
	background-position: 33.333333333333336% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-262F {
	background-position: 44.44444444444444% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-2638 {
	background-position: 55.55555555555556% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-2721 {
	background-position: 66.66666666666667% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F549 {
	background-position: 77.77777777777777% 0;
	width: 72px;
	height: 72px;
}

.openmoji-269B {
	background-position: 77.77777777777777% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6D0 {
	background-position: 77.77777777777777% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F51D {
	background-position: 77.77777777777777% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-1F51C {
	background-position: 77.77777777777777% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F51B {
	background-position: 77.77777777777777% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F51A {
	background-position: 77.77777777777777% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F519 {
	background-position: 0 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F504 {
	background-position: 11.11111111111111% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F503 {
	background-position: 22.22222222222222% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-2935 {
	background-position: 33.333333333333336% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-2934 {
	background-position: 44.44444444444444% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-21AA {
	background-position: 55.55555555555556% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-21A9 {
	background-position: 66.66666666666667% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-2194 {
	background-position: 77.77777777777777% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-2195 {
	background-position: 88.88888888888889% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2196 {
	background-position: 88.88888888888889% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-2B05 {
	background-position: 88.88888888888889% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-2199 {
	background-position: 88.88888888888889% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-2B07 {
	background-position: 88.88888888888889% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-2198 {
	background-position: 88.88888888888889% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-27A1 {
	background-position: 88.88888888888889% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-2197 {
	background-position: 88.88888888888889% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-2B06 {
	background-position: 0 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-2623 {
	background-position: 11.11111111111111% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-2622 {
	background-position: 22.22222222222222% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F51E {
	background-position: 33.333333333333336% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4F5 {
	background-position: 44.44444444444444% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6B7 {
	background-position: 55.55555555555556% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6B1 {
	background-position: 66.66666666666667% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6AF {
	background-position: 77.77777777777777% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6AD {
	background-position: 88.88888888888889% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6B3 {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F6AB {
	background-position: 100% 11.11111111111111%;
	width: 72px;
	height: 72px;
}

.openmoji-26D4 {
	background-position: 100% 22.22222222222222%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6B8 {
	background-position: 100% 33.333333333333336%;
	width: 72px;
	height: 72px;
}

.openmoji-26A0 {
	background-position: 100% 44.44444444444444%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C5 {
	background-position: 100% 55.55555555555556%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C4 {
	background-position: 100% 66.66666666666667%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C3 {
	background-position: 100% 77.77777777777777%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C2 {
	background-position: 100% 88.88888888888889%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6BE {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6BC {
	background-position: 11.11111111111111% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6BB {
	background-position: 22.22222222222222% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6BA {
	background-position: 33.333333333333336% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6B9 {
	background-position: 44.44444444444444% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-267F {
	background-position: 55.55555555555556% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6B0 {
	background-position: 66.66666666666667% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6AE {
	background-position: 77.77777777777777% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E7 {
	background-position: 88.88888888888889% 100%;
	width: 72px;
	height: 72px;
}

