.openmoji {
	background: url("symbols.svg") no-repeat;
}

.openmoji-303D {
	background-position: 9.090909090909092% 0;
	width: 72px;
	height: 72px;
}

.openmoji-27BF {
	background-position: 72.72727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-27B0 {
	background-position: 0 10%;
	width: 72px;
	height: 72px;
}

.openmoji-274E {
	background-position: 9.090909090909092% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-274C {
	background-position: 18.181818181818183% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2714 {
	background-position: 18.181818181818183% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-2611 {
	background-position: 0 20%;
	width: 72px;
	height: 72px;
}

.openmoji-2705 {
	background-position: 9.090909090909092% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-2B55 {
	background-position: 18.181818181818183% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F530 {
	background-position: 27.272727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F4DB {
	background-position: 27.272727272727273% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F531 {
	background-position: 27.272727272727273% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-269C {
	background-position: 0 30%;
	width: 72px;
	height: 72px;
}

.openmoji-267B {
	background-position: 9.090909090909092% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-2695 {
	background-position: 18.181818181818183% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4B2 {
	background-position: 27.272727272727273% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4B1 {
	background-position: 36.36363636363637% 0;
	width: 72px;
	height: 72px;
}

.openmoji-3030 {
	background-position: 36.36363636363637% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-2757 {
	background-position: 36.36363636363637% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-2755 {
	background-position: 36.36363636363637% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-2754 {
	background-position: 0 40%;
	width: 72px;
	height: 72px;
}

.openmoji-2753 {
	background-position: 9.090909090909092% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-2049 {
	background-position: 18.181818181818183% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-203C {
	background-position: 27.272727272727273% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-267E {
	background-position: 36.36363636363637% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-2797 {
	background-position: 45.45454545454545% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2796 {
	background-position: 45.45454545454545% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-2795 {
	background-position: 45.45454545454545% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-2716 {
	background-position: 45.45454545454545% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-26A7 {
	background-position: 45.45454545454545% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-2642 {
	background-position: 0 50%;
	width: 72px;
	height: 72px;
}

.openmoji-2640 {
	background-position: 9.090909090909092% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4F4 {
	background-position: 18.181818181818183% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4F3 {
	background-position: 27.272727272727273% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4F6 {
	background-position: 36.36363636363637% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F506 {
	background-position: 45.45454545454545% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F505 {
	background-position: 54.54545454545455% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F3A6 {
	background-position: 54.54545454545455% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-23CF {
	background-position: 54.54545454545455% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-23FA {
	background-position: 54.54545454545455% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-23F9 {
	background-position: 54.54545454545455% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-23F8 {
	background-position: 54.54545454545455% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-23EC {
	background-position: 0 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F53D {
	background-position: 9.090909090909092% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-23EB {
	background-position: 18.181818181818183% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F53C {
	background-position: 27.272727272727273% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-23EE {
	background-position: 36.36363636363637% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-23EA {
	background-position: 45.45454545454545% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-25C0 {
	background-position: 54.54545454545455% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-23EF {
	background-position: 63.63636363636363% 0;
	width: 72px;
	height: 72px;
}

.openmoji-23ED {
	background-position: 63.63636363636363% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-23E9 {
	background-position: 63.63636363636363% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-25B6 {
	background-position: 63.63636363636363% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F502 {
	background-position: 63.63636363636363% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F501 {
	background-position: 63.63636363636363% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F500 {
	background-position: 63.63636363636363% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-26CE {
	background-position: 0 70%;
	width: 72px;
	height: 72px;
}

.openmoji-2653 {
	background-position: 9.090909090909092% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-2652 {
	background-position: 18.181818181818183% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-2651 {
	background-position: 27.272727272727273% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-2650 {
	background-position: 36.36363636363637% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-264F {
	background-position: 45.45454545454545% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-264E {
	background-position: 54.54545454545455% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-264D {
	background-position: 63.63636363636363% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-264C {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-264B {
	background-position: 72.72727272727273% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-264A {
	background-position: 72.72727272727273% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-2649 {
	background-position: 72.72727272727273% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-2648 {
	background-position: 72.72727272727273% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F52F {
	background-position: 72.72727272727273% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F54E {
	background-position: 72.72727272727273% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-262E {
	background-position: 72.72727272727273% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-262A {
	background-position: 0 80%;
	width: 72px;
	height: 72px;
}

.openmoji-2626 {
	background-position: 9.090909090909092% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-271D {
	background-position: 18.181818181818183% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-262F {
	background-position: 27.272727272727273% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-2638 {
	background-position: 36.36363636363637% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-2721 {
	background-position: 45.45454545454545% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F549 {
	background-position: 54.54545454545455% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-269B {
	background-position: 63.63636363636363% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6D0 {
	background-position: 72.72727272727273% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F51D {
	background-position: 81.81818181818181% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F51C {
	background-position: 81.81818181818181% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F51B {
	background-position: 81.81818181818181% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F51A {
	background-position: 81.81818181818181% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F519 {
	background-position: 81.81818181818181% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F504 {
	background-position: 81.81818181818181% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F503 {
	background-position: 81.81818181818181% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-2935 {
	background-position: 81.81818181818181% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-2934 {
	background-position: 81.81818181818181% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-21AA {
	background-position: 0 90%;
	width: 72px;
	height: 72px;
}

.openmoji-21A9 {
	background-position: 9.090909090909092% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-2194 {
	background-position: 18.181818181818183% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-2195 {
	background-position: 27.272727272727273% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-2196 {
	background-position: 36.36363636363637% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-2B05 {
	background-position: 45.45454545454545% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-2199 {
	background-position: 54.54545454545455% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-2B07 {
	background-position: 63.63636363636363% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-2198 {
	background-position: 72.72727272727273% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-27A1 {
	background-position: 81.81818181818181% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-2197 {
	background-position: 90.9090909090909% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2B06 {
	background-position: 90.9090909090909% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-2623 {
	background-position: 90.9090909090909% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-2622 {
	background-position: 90.9090909090909% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F51E {
	background-position: 90.9090909090909% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4F5 {
	background-position: 90.9090909090909% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6B7 {
	background-position: 90.9090909090909% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6B1 {
	background-position: 90.9090909090909% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6AF {
	background-position: 90.9090909090909% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6AD {
	background-position: 90.9090909090909% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6B3 {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6AB {
	background-position: 9.090909090909092% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-26D4 {
	background-position: 18.181818181818183% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6B8 {
	background-position: 27.272727272727273% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-26A0 {
	background-position: 36.36363636363637% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C5 {
	background-position: 45.45454545454545% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C4 {
	background-position: 54.54545454545455% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C3 {
	background-position: 63.63636363636363% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6C2 {
	background-position: 72.72727272727273% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6BE {
	background-position: 81.81818181818181% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6BC {
	background-position: 90.9090909090909% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6BB {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F6BA {
	background-position: 100% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6B9 {
	background-position: 100% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-267F {
	background-position: 100% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6B0 {
	background-position: 100% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6AE {
	background-position: 100% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E7 {
	background-position: 100% 60%;
	width: 72px;
	height: 72px;
}

