.openmoji {
	background: url("symbols-1.svg") no-repeat;
}

.openmoji-1F532 {
	background-position: 12.5% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F533 {
	background-position: 75% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F518 {
	background-position: 0 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4A0 {
	background-position: 12.5% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F53B {
	background-position: 25% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F53A {
	background-position: 25% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F539 {
	background-position: 0 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F538 {
	background-position: 12.5% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F537 {
	background-position: 25% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F536 {
	background-position: 37.5% 0;
	width: 72px;
	height: 72px;
}

.openmoji-25AB {
	background-position: 37.5% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-25AA {
	background-position: 37.5% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-25FD {
	background-position: 0 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-25FE {
	background-position: 12.5% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-25FB {
	background-position: 25% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-25FC {
	background-position: 37.5% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-2B1C {
	background-position: 50% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2B1B {
	background-position: 50% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F7EB {
	background-position: 50% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F7EA {
	background-position: 50% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F7E6 {
	background-position: 0 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F7E9 {
	background-position: 12.5% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F7E8 {
	background-position: 25% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F7E7 {
	background-position: 37.5% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F7E5 {
	background-position: 50% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-26AA {
	background-position: 62.5% 0;
	width: 72px;
	height: 72px;
}

.openmoji-26AB {
	background-position: 62.5% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F7E4 {
	background-position: 62.5% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F7E3 {
	background-position: 62.5% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F535 {
	background-position: 62.5% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F7E2 {
	background-position: 0 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F7E1 {
	background-position: 12.5% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F7E0 {
	background-position: 25% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F534 {
	background-position: 37.5% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F235 {
	background-position: 50% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F23A {
	background-position: 62.5% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-3299 {
	background-position: 75% 0;
	width: 72px;
	height: 72px;
}

.openmoji-3297 {
	background-position: 75% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F233 {
	background-position: 75% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F234 {
	background-position: 75% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F238 {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F251 {
	background-position: 75% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F232 {
	background-position: 0 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F21A {
	background-position: 12.5% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F239 {
	background-position: 25% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F250 {
	background-position: 37.5% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F22F {
	background-position: 50% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F236 {
	background-position: 62.5% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F237 {
	background-position: 75% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F202 {
	background-position: 87.5% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F201 {
	background-position: 87.5% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F19A {
	background-position: 87.5% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F199 {
	background-position: 87.5% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F198 {
	background-position: 87.5% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F17F {
	background-position: 87.5% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F197 {
	background-position: 87.5% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F17E {
	background-position: 0 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F196 {
	background-position: 12.5% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F195 {
	background-position: 25% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-24C2 {
	background-position: 37.5% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F194 {
	background-position: 50% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-2139 {
	background-position: 62.5% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F193 {
	background-position: 75% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F192 {
	background-position: 87.5% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F191 {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F171 {
	background-position: 100% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F18E {
	background-position: 100% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F170 {
	background-position: 100% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F524 {
	background-position: 100% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F523 {
	background-position: 100% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F522 {
	background-position: 100% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F521 {
	background-position: 100% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F520 {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F51F {
	background-position: 12.5% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-2122 {
	background-position: 25% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-00AE {
	background-position: 37.5% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-00A9 {
	background-position: 50% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-2747 {
	background-position: 62.5% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-2734 {
	background-position: 75% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-2733 {
	background-position: 87.5% 100%;
	width: 72px;
	height: 72px;
}

