.openmoji {
	background: url("travel-places.svg") no-repeat;
}

.openmoji-1F6A0 {
	background-position: 9.090909090909092% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F69F {
	background-position: 72.72727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F681 {
	background-position: 0 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4BA {
	background-position: 9.090909090909092% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1FA82 {
	background-position: 18.181818181818183% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F6EC {
	background-position: 18.181818181818183% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6EB {
	background-position: 0 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6E9 {
	background-position: 9.090909090909092% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-2708 {
	background-position: 18.181818181818183% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A2 {
	background-position: 27.272727272727273% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F6E5 {
	background-position: 27.272727272727273% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-26F4 {
	background-position: 27.272727272727273% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F3 {
	background-position: 0 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A4 {
	background-position: 9.090909090909092% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F6 {
	background-position: 18.181818181818183% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-26F5 {
	background-position: 27.272727272727273% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-2693 {
	background-position: 36.36363636363637% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A7 {
	background-position: 36.36363636363637% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6D1 {
	background-position: 36.36363636363637% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A6 {
	background-position: 36.36363636363637% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A5 {
	background-position: 0 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A8 {
	background-position: 9.090909090909092% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-26FD {
	background-position: 18.181818181818183% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6E2 {
	background-position: 27.272727272727273% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6E4 {
	background-position: 36.36363636363637% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6E3 {
	background-position: 45.45454545454545% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F68F {
	background-position: 45.45454545454545% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6FC {
	background-position: 45.45454545454545% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F9 {
	background-position: 45.45454545454545% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F4 {
	background-position: 45.45454545454545% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6B2 {
	background-position: 0 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6FA {
	background-position: 9.090909090909092% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9BC {
	background-position: 18.181818181818183% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9BD {
	background-position: 27.272727272727273% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F5 {
	background-position: 36.36363636363637% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3CD {
	background-position: 45.45454545454545% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3CE {
	background-position: 54.54545454545455% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F69C {
	background-position: 54.54545454545455% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F69B {
	background-position: 54.54545454545455% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F69A {
	background-position: 54.54545454545455% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6FB {
	background-position: 54.54545454545455% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F699 {
	background-position: 54.54545454545455% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F698 {
	background-position: 0 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F697 {
	background-position: 9.090909090909092% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F696 {
	background-position: 18.181818181818183% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F695 {
	background-position: 27.272727272727273% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F694 {
	background-position: 36.36363636363637% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F693 {
	background-position: 45.45454545454545% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F692 {
	background-position: 54.54545454545455% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F691 {
	background-position: 63.63636363636363% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F690 {
	background-position: 63.63636363636363% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F68E {
	background-position: 63.63636363636363% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F68D {
	background-position: 63.63636363636363% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F68C {
	background-position: 63.63636363636363% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F68B {
	background-position: 63.63636363636363% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F69E {
	background-position: 63.63636363636363% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F69D {
	background-position: 0 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F68A {
	background-position: 9.090909090909092% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F689 {
	background-position: 18.181818181818183% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F688 {
	background-position: 27.272727272727273% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F687 {
	background-position: 36.36363636363637% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F686 {
	background-position: 45.45454545454545% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F685 {
	background-position: 54.54545454545455% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F684 {
	background-position: 63.63636363636363% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F683 {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F682 {
	background-position: 72.72727272727273% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3AA {
	background-position: 72.72727272727273% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F488 {
	background-position: 72.72727272727273% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3A2 {
	background-position: 72.72727272727273% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3A1 {
	background-position: 72.72727272727273% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3A0 {
	background-position: 72.72727272727273% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-2668 {
	background-position: 72.72727272727273% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F309 {
	background-position: 0 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F307 {
	background-position: 9.090909090909092% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F306 {
	background-position: 18.181818181818183% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F305 {
	background-position: 27.272727272727273% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F304 {
	background-position: 36.36363636363637% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D9 {
	background-position: 45.45454545454545% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F303 {
	background-position: 54.54545454545455% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F301 {
	background-position: 63.63636363636363% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-26FA {
	background-position: 72.72727272727273% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-26F2 {
	background-position: 81.81818181818181% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F54B {
	background-position: 81.81818181818181% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-26E9 {
	background-position: 81.81818181818181% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F54D {
	background-position: 81.81818181818181% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6D5 {
	background-position: 81.81818181818181% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F54C {
	background-position: 81.81818181818181% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-26EA {
	background-position: 81.81818181818181% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5FD {
	background-position: 81.81818181818181% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5FC {
	background-position: 81.81818181818181% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F492 {
	background-position: 0 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3F0 {
	background-position: 9.090909090909092% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3EF {
	background-position: 18.181818181818183% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3ED {
	background-position: 27.272727272727273% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3EC {
	background-position: 36.36363636363637% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3EB {
	background-position: 45.45454545454545% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3EA {
	background-position: 54.54545454545455% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E9 {
	background-position: 63.63636363636363% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E8 {
	background-position: 72.72727272727273% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E6 {
	background-position: 81.81818181818181% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E5 {
	background-position: 90.9090909090909% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E4 {
	background-position: 90.9090909090909% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E3 {
	background-position: 90.9090909090909% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E2 {
	background-position: 90.9090909090909% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E1 {
	background-position: 90.9090909090909% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E0 {
	background-position: 90.9090909090909% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3DA {
	background-position: 90.9090909090909% 60%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D8 {
	background-position: 90.9090909090909% 70%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9F1 {
	background-position: 90.9090909090909% 80%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D7 {
	background-position: 90.9090909090909% 90%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3DB {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3DF {
	background-position: 9.090909090909092% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3DE {
	background-position: 18.181818181818183% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3DD {
	background-position: 27.272727272727273% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3DC {
	background-position: 36.36363636363637% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D6 {
	background-position: 45.45454545454545% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D5 {
	background-position: 54.54545454545455% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5FB {
	background-position: 63.63636363636363% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F30B {
	background-position: 72.72727272727273% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-26F0 {
	background-position: 81.81818181818181% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D4 {
	background-position: 90.9090909090909% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9ED {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F5FE {
	background-position: 100% 10%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5FA {
	background-position: 100% 20%;
	width: 72px;
	height: 72px;
}

.openmoji-1F310 {
	background-position: 100% 30%;
	width: 72px;
	height: 72px;
}

.openmoji-1F30F {
	background-position: 100% 40%;
	width: 72px;
	height: 72px;
}

.openmoji-1F30E {
	background-position: 100% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F30D {
	background-position: 100% 60%;
	width: 72px;
	height: 72px;
}

