.openmoji {
	display: inline-block;
background: url("travel-places-01.svg") no-repeat;
}

.openmoji-1F30A {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F4A7 {
	background-position: 8.333333333333334% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F525 {
	background-position: 0 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-2604 {
	background-position: 8.333333333333334% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-26C4 {
	background-position: 16.666666666666668% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2603 {
	background-position: 16.666666666666668% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-2744 {
	background-position: 0 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-26A1 {
	background-position: 8.333333333333334% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-26F1 {
	background-position: 16.666666666666668% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-2614 {
	background-position: 25% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2602 {
	background-position: 25% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F302 {
	background-position: 25% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F308 {
	background-position: 0 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F300 {
	background-position: 8.333333333333334% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F32C {
	background-position: 16.666666666666668% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F32B {
	background-position: 25% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F32A {
	background-position: 33.333333333333336% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F329 {
	background-position: 33.333333333333336% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F328 {
	background-position: 33.333333333333336% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F327 {
	background-position: 33.333333333333336% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F326 {
	background-position: 0 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F325 {
	background-position: 8.333333333333334% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F324 {
	background-position: 16.666666666666668% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-26C8 {
	background-position: 25% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-26C5 {
	background-position: 33.333333333333336% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-2601 {
	background-position: 41.666666666666664% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F30C {
	background-position: 41.666666666666664% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F320 {
	background-position: 41.666666666666664% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F31F {
	background-position: 41.666666666666664% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-2B50 {
	background-position: 41.666666666666664% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1FA90 {
	background-position: 0 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F31E {
	background-position: 8.333333333333334% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F31D {
	background-position: 16.666666666666668% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-2600 {
	background-position: 25% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F321 {
	background-position: 33.333333333333336% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F31C {
	background-position: 41.666666666666664% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F31B {
	background-position: 50% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F31A {
	background-position: 50% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F319 {
	background-position: 50% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F318 {
	background-position: 50% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F317 {
	background-position: 50% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F316 {
	background-position: 50% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F315 {
	background-position: 0 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F314 {
	background-position: 8.333333333333334% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F313 {
	background-position: 16.666666666666668% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F312 {
	background-position: 25% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F311 {
	background-position: 33.333333333333336% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F566 {
	background-position: 41.666666666666664% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F55A {
	background-position: 50% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F565 {
	background-position: 58.333333333333336% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F559 {
	background-position: 58.333333333333336% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F564 {
	background-position: 58.333333333333336% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F558 {
	background-position: 58.333333333333336% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F563 {
	background-position: 58.333333333333336% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F557 {
	background-position: 58.333333333333336% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F562 {
	background-position: 58.333333333333336% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F556 {
	background-position: 0 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F561 {
	background-position: 8.333333333333334% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F555 {
	background-position: 16.666666666666668% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F560 {
	background-position: 25% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F554 {
	background-position: 33.333333333333336% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F55F {
	background-position: 41.666666666666664% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F553 {
	background-position: 50% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F55E {
	background-position: 58.333333333333336% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F552 {
	background-position: 66.66666666666667% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F55D {
	background-position: 66.66666666666667% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F551 {
	background-position: 66.66666666666667% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F55C {
	background-position: 66.66666666666667% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F550 {
	background-position: 66.66666666666667% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F567 {
	background-position: 66.66666666666667% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F55B {
	background-position: 66.66666666666667% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F570 {
	background-position: 66.66666666666667% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-23F2 {
	background-position: 0 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-23F1 {
	background-position: 8.333333333333334% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-23F0 {
	background-position: 16.666666666666668% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-231A {
	background-position: 25% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-23F3 {
	background-position: 33.333333333333336% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-231B {
	background-position: 41.666666666666664% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9F3 {
	background-position: 50% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6CE {
	background-position: 58.333333333333336% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F8 {
	background-position: 66.66666666666667% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F680 {
	background-position: 75% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F0 {
	background-position: 75% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A1 {
	background-position: 75% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A0 {
	background-position: 75% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F69F {
	background-position: 75% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F681 {
	background-position: 75% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F4BA {
	background-position: 75% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1FA82 {
	background-position: 75% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6EC {
	background-position: 75% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6EB {
	background-position: 0 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6E9 {
	background-position: 8.333333333333334% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-2708 {
	background-position: 16.666666666666668% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A2 {
	background-position: 25% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6E5 {
	background-position: 33.333333333333336% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-26F4 {
	background-position: 41.666666666666664% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F3 {
	background-position: 50% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A4 {
	background-position: 58.333333333333336% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F6 {
	background-position: 66.66666666666667% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-26F5 {
	background-position: 75% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-2693 {
	background-position: 83.33333333333333% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A7 {
	background-position: 83.33333333333333% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6D1 {
	background-position: 83.33333333333333% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A6 {
	background-position: 83.33333333333333% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A5 {
	background-position: 83.33333333333333% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A8 {
	background-position: 83.33333333333333% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-26FD {
	background-position: 83.33333333333333% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6E2 {
	background-position: 83.33333333333333% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6E4 {
	background-position: 83.33333333333333% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6E3 {
	background-position: 83.33333333333333% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F68F {
	background-position: 0 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6FC {
	background-position: 8.333333333333334% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F9 {
	background-position: 16.666666666666668% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F4 {
	background-position: 25% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6B2 {
	background-position: 33.333333333333336% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6FA {
	background-position: 41.666666666666664% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9BC {
	background-position: 50% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9BD {
	background-position: 58.333333333333336% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F5 {
	background-position: 66.66666666666667% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3CD {
	background-position: 75% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3CE {
	background-position: 83.33333333333333% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F69C {
	background-position: 91.66666666666667% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F69B {
	background-position: 91.66666666666667% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F69A {
	background-position: 91.66666666666667% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6FB {
	background-position: 91.66666666666667% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F699 {
	background-position: 91.66666666666667% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F698 {
	background-position: 91.66666666666667% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

.openmoji-1F697 {
	background-position: 91.66666666666667% 54.54545454545455%;
	width: 72px;
	height: 72px;
}

.openmoji-1F696 {
	background-position: 91.66666666666667% 63.63636363636363%;
	width: 72px;
	height: 72px;
}

.openmoji-1F695 {
	background-position: 91.66666666666667% 72.72727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F694 {
	background-position: 91.66666666666667% 81.81818181818181%;
	width: 72px;
	height: 72px;
}

.openmoji-1F693 {
	background-position: 91.66666666666667% 90.9090909090909%;
	width: 72px;
	height: 72px;
}

.openmoji-1F692 {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F691 {
	background-position: 8.333333333333334% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F690 {
	background-position: 16.666666666666668% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F68E {
	background-position: 25% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F68D {
	background-position: 33.333333333333336% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F68C {
	background-position: 41.666666666666664% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F68B {
	background-position: 50% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F69E {
	background-position: 58.333333333333336% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F69D {
	background-position: 66.66666666666667% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F68A {
	background-position: 75% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F689 {
	background-position: 83.33333333333333% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F688 {
	background-position: 91.66666666666667% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F687 {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F686 {
	background-position: 100% 9.090909090909092%;
	width: 72px;
	height: 72px;
}

.openmoji-1F685 {
	background-position: 100% 18.181818181818183%;
	width: 72px;
	height: 72px;
}

.openmoji-1F684 {
	background-position: 100% 27.272727272727273%;
	width: 72px;
	height: 72px;
}

.openmoji-1F683 {
	background-position: 100% 36.36363636363637%;
	width: 72px;
	height: 72px;
}

.openmoji-1F682 {
	background-position: 100% 45.45454545454545%;
	width: 72px;
	height: 72px;
}

