.openmoji {
	background: url("travel-places-1.svg") no-repeat;
}

.openmoji-1F30A {
	background-position: 11.11111111111111% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F4A7 {
	background-position: 0 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F525 {
	background-position: 0 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-2604 {
	background-position: 11.11111111111111% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-26C4 {
	background-position: 22.22222222222222% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2603 {
	background-position: 22.22222222222222% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-2744 {
	background-position: 0 25%;
	width: 72px;
	height: 72px;
}

.openmoji-26A1 {
	background-position: 11.11111111111111% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-26F1 {
	background-position: 22.22222222222222% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-2614 {
	background-position: 33.333333333333336% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2602 {
	background-position: 33.333333333333336% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F302 {
	background-position: 33.333333333333336% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F308 {
	background-position: 0 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F300 {
	background-position: 11.11111111111111% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F32C {
	background-position: 22.22222222222222% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F32B {
	background-position: 33.333333333333336% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F32A {
	background-position: 44.44444444444444% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F329 {
	background-position: 44.44444444444444% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F328 {
	background-position: 44.44444444444444% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F327 {
	background-position: 44.44444444444444% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F326 {
	background-position: 0 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F325 {
	background-position: 11.11111111111111% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F324 {
	background-position: 22.22222222222222% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-26C8 {
	background-position: 33.333333333333336% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-26C5 {
	background-position: 44.44444444444444% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-2601 {
	background-position: 55.55555555555556% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F30C {
	background-position: 55.55555555555556% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F320 {
	background-position: 55.55555555555556% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F31F {
	background-position: 55.55555555555556% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-2B50 {
	background-position: 55.55555555555556% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1FA90 {
	background-position: 0 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F31E {
	background-position: 11.11111111111111% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F31D {
	background-position: 22.22222222222222% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-2600 {
	background-position: 33.333333333333336% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F321 {
	background-position: 44.44444444444444% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F31C {
	background-position: 55.55555555555556% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F31B {
	background-position: 66.66666666666667% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F31A {
	background-position: 66.66666666666667% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F319 {
	background-position: 66.66666666666667% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F318 {
	background-position: 66.66666666666667% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F317 {
	background-position: 66.66666666666667% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F316 {
	background-position: 66.66666666666667% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F315 {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F314 {
	background-position: 11.11111111111111% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F313 {
	background-position: 22.22222222222222% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F312 {
	background-position: 33.333333333333336% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F311 {
	background-position: 44.44444444444444% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F566 {
	background-position: 55.55555555555556% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F55A {
	background-position: 66.66666666666667% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F565 {
	background-position: 77.77777777777777% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F559 {
	background-position: 77.77777777777777% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F564 {
	background-position: 77.77777777777777% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F558 {
	background-position: 77.77777777777777% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F563 {
	background-position: 77.77777777777777% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F557 {
	background-position: 77.77777777777777% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F562 {
	background-position: 77.77777777777777% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F556 {
	background-position: 0 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F561 {
	background-position: 11.11111111111111% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F555 {
	background-position: 22.22222222222222% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F560 {
	background-position: 33.333333333333336% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F554 {
	background-position: 44.44444444444444% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F55F {
	background-position: 55.55555555555556% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F553 {
	background-position: 66.66666666666667% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F55E {
	background-position: 77.77777777777777% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F552 {
	background-position: 88.88888888888889% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F55D {
	background-position: 88.88888888888889% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F551 {
	background-position: 88.88888888888889% 25%;
	width: 72px;
	height: 72px;
}

.openmoji-1F55C {
	background-position: 88.88888888888889% 37.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F550 {
	background-position: 88.88888888888889% 50%;
	width: 72px;
	height: 72px;
}

.openmoji-1F567 {
	background-position: 88.88888888888889% 62.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F55B {
	background-position: 88.88888888888889% 75%;
	width: 72px;
	height: 72px;
}

.openmoji-1F570 {
	background-position: 88.88888888888889% 87.5%;
	width: 72px;
	height: 72px;
}

.openmoji-23F2 {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-23F1 {
	background-position: 11.11111111111111% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-23F0 {
	background-position: 22.22222222222222% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-231A {
	background-position: 33.333333333333336% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-23F3 {
	background-position: 44.44444444444444% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-231B {
	background-position: 55.55555555555556% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9F3 {
	background-position: 66.66666666666667% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6CE {
	background-position: 77.77777777777777% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F8 {
	background-position: 88.88888888888889% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F680 {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F6F0 {
	background-position: 100% 12.5%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6A1 {
	background-position: 100% 25%;
	width: 72px;
	height: 72px;
}

