.openmoji {
	display: inline-block;
background: url("travel-places-00.svg") no-repeat;
}

.openmoji-1F3AA {
	background-position: 0 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F488 {
	background-position: 14.285714285714286% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F3A2 {
	background-position: 0 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3A1 {
	background-position: 14.285714285714286% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3A0 {
	background-position: 28.571428571428573% 0;
	width: 72px;
	height: 72px;
}

.openmoji-2668 {
	background-position: 28.571428571428573% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F309 {
	background-position: 0 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F307 {
	background-position: 14.285714285714286% 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F306 {
	background-position: 28.571428571428573% 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F305 {
	background-position: 42.857142857142854% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F304 {
	background-position: 42.857142857142854% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D9 {
	background-position: 42.857142857142854% 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F303 {
	background-position: 0 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-1F301 {
	background-position: 14.285714285714286% 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-26FA {
	background-position: 28.571428571428573% 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-26F2 {
	background-position: 42.857142857142854% 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-1F54B {
	background-position: 57.142857142857146% 0;
	width: 72px;
	height: 72px;
}

.openmoji-26E9 {
	background-position: 57.142857142857146% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F54D {
	background-position: 57.142857142857146% 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F6D5 {
	background-position: 57.142857142857146% 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-1F54C {
	background-position: 0 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-26EA {
	background-position: 14.285714285714286% 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5FD {
	background-position: 28.571428571428573% 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5FC {
	background-position: 42.857142857142854% 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F492 {
	background-position: 57.142857142857146% 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3F0 {
	background-position: 71.42857142857143% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F3EF {
	background-position: 71.42857142857143% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3ED {
	background-position: 71.42857142857143% 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3EC {
	background-position: 71.42857142857143% 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3EB {
	background-position: 71.42857142857143% 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3EA {
	background-position: 0 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E9 {
	background-position: 14.285714285714286% 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E8 {
	background-position: 28.571428571428573% 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E6 {
	background-position: 42.857142857142854% 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E5 {
	background-position: 57.142857142857146% 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E4 {
	background-position: 71.42857142857143% 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E3 {
	background-position: 85.71428571428571% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E2 {
	background-position: 85.71428571428571% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E1 {
	background-position: 85.71428571428571% 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3E0 {
	background-position: 85.71428571428571% 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3DA {
	background-position: 85.71428571428571% 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D8 {
	background-position: 85.71428571428571% 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9F1 {
	background-position: 0 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D7 {
	background-position: 14.285714285714286% 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3DB {
	background-position: 28.571428571428573% 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3DF {
	background-position: 42.857142857142854% 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3DE {
	background-position: 57.142857142857146% 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3DD {
	background-position: 71.42857142857143% 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3DC {
	background-position: 85.71428571428571% 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D6 {
	background-position: 100% 0;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D5 {
	background-position: 100% 14.285714285714286%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5FB {
	background-position: 100% 28.571428571428573%;
	width: 72px;
	height: 72px;
}

.openmoji-1F30B {
	background-position: 100% 42.857142857142854%;
	width: 72px;
	height: 72px;
}

.openmoji-26F0 {
	background-position: 100% 57.142857142857146%;
	width: 72px;
	height: 72px;
}

.openmoji-1F3D4 {
	background-position: 100% 71.42857142857143%;
	width: 72px;
	height: 72px;
}

.openmoji-1F9ED {
	background-position: 100% 85.71428571428571%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5FE {
	background-position: 0 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F5FA {
	background-position: 14.285714285714286% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F310 {
	background-position: 28.571428571428573% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F30F {
	background-position: 42.857142857142854% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F30E {
	background-position: 57.142857142857146% 100%;
	width: 72px;
	height: 72px;
}

.openmoji-1F30D {
	background-position: 71.42857142857143% 100%;
	width: 72px;
	height: 72px;
}

