.openmoji {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 72px;
  background-image: url('objects.png');
  background-repeat: no-repeat;
}

.openmoji-1F453 {
  background-position: -0px -0px;
}
.openmoji-1F576 {
  background-position: -72px -0px;
}
.openmoji-1F97D {
  background-position: -144px -0px;
}
.openmoji-1F97C {
  background-position: -216px -0px;
}
.openmoji-1F9BA {
  background-position: -288px -0px;
}
.openmoji-1F454 {
  background-position: -360px -0px;
}
.openmoji-1F455 {
  background-position: -432px -0px;
}
.openmoji-1F456 {
  background-position: -504px -0px;
}
.openmoji-1F9E3 {
  background-position: -576px -0px;
}
.openmoji-1F9E4 {
  background-position: -648px -0px;
}
.openmoji-1F9E5 {
  background-position: -0px -72px;
}
.openmoji-1F9E6 {
  background-position: -72px -72px;
}
.openmoji-1F457 {
  background-position: -144px -72px;
}
.openmoji-1F458 {
  background-position: -216px -72px;
}
.openmoji-1F97B {
  background-position: -288px -72px;
}
.openmoji-1FA71 {
  background-position: -360px -72px;
}
.openmoji-1FA72 {
  background-position: -432px -72px;
}
.openmoji-1FA73 {
  background-position: -504px -72px;
}
.openmoji-1F459 {
  background-position: -576px -72px;
}
.openmoji-1F45A {
  background-position: -648px -72px;
}
.openmoji-1F45B {
  background-position: -0px -144px;
}
.openmoji-1F45C {
  background-position: -72px -144px;
}
.openmoji-1F45D {
  background-position: -144px -144px;
}
.openmoji-1F6CD {
  background-position: -216px -144px;
}
.openmoji-1F392 {
  background-position: -288px -144px;
}
.openmoji-1FA74 {
  background-position: -360px -144px;
}
.openmoji-1F45E {
  background-position: -432px -144px;
}
.openmoji-1F45F {
  background-position: -504px -144px;
}
.openmoji-1F97E {
  background-position: -576px -144px;
}
.openmoji-1F97F {
  background-position: -648px -144px;
}
.openmoji-1F460 {
  background-position: -0px -216px;
}
.openmoji-1F461 {
  background-position: -72px -216px;
}
.openmoji-1FA70 {
  background-position: -144px -216px;
}
.openmoji-1F462 {
  background-position: -216px -216px;
}
.openmoji-1F451 {
  background-position: -288px -216px;
}
.openmoji-1F452 {
  background-position: -360px -216px;
}
.openmoji-1F3A9 {
  background-position: -432px -216px;
}
.openmoji-1F393 {
  background-position: -504px -216px;
}
.openmoji-1F9E2 {
  background-position: -576px -216px;
}
.openmoji-26D1 {
  background-position: -648px -216px;
}
.openmoji-1F4FF {
  background-position: -0px -288px;
}
.openmoji-1F484 {
  background-position: -72px -288px;
}
.openmoji-1F48D {
  background-position: -144px -288px;
}
.openmoji-1F48E {
  background-position: -216px -288px;
}
.openmoji-1F507 {
  background-position: -288px -288px;
}
.openmoji-1F508 {
  background-position: -360px -288px;
}
.openmoji-1F509 {
  background-position: -432px -288px;
}
.openmoji-1F50A {
  background-position: -504px -288px;
}
.openmoji-1F4E2 {
  background-position: -576px -288px;
}
.openmoji-1F4E3 {
  background-position: -648px -288px;
}
.openmoji-1F4EF {
  background-position: -0px -360px;
}
.openmoji-1F514 {
  background-position: -72px -360px;
}
.openmoji-1F515 {
  background-position: -144px -360px;
}
.openmoji-1F3BC {
  background-position: -216px -360px;
}
.openmoji-1F3B5 {
  background-position: -288px -360px;
}
.openmoji-1F3B6 {
  background-position: -360px -360px;
}
.openmoji-1F399 {
  background-position: -432px -360px;
}
.openmoji-1F39A {
  background-position: -504px -360px;
}
.openmoji-1F39B {
  background-position: -576px -360px;
}
.openmoji-1F3A4 {
  background-position: -648px -360px;
}
.openmoji-1F3A7 {
  background-position: -0px -432px;
}
.openmoji-1F4FB {
  background-position: -72px -432px;
}
.openmoji-1F3B7 {
  background-position: -144px -432px;
}
.openmoji-1F3B8 {
  background-position: -216px -432px;
}
.openmoji-1F3B9 {
  background-position: -288px -432px;
}
.openmoji-1F3BA {
  background-position: -360px -432px;
}
.openmoji-1F3BB {
  background-position: -432px -432px;
}
.openmoji-1FA95 {
  background-position: -504px -432px;
}
.openmoji-1F941 {
  background-position: -576px -432px;
}
.openmoji-1FA98 {
  background-position: -648px -432px;
}
.openmoji-1F4F1 {
  background-position: -0px -504px;
}
.openmoji-1F4F2 {
  background-position: -72px -504px;
}
.openmoji-260E {
  background-position: -144px -504px;
}
.openmoji-1F4DE {
  background-position: -216px -504px;
}
.openmoji-1F4DF {
  background-position: -288px -504px;
}
.openmoji-1F4E0 {
  background-position: -360px -504px;
}
.openmoji-1F50B {
  background-position: -432px -504px;
}
.openmoji-1F50C {
  background-position: -504px -504px;
}
.openmoji-1F4BB {
  background-position: -576px -504px;
}
.openmoji-1F5A5 {
  background-position: -648px -504px;
}
.openmoji-1F5A8 {
  background-position: -0px -576px;
}
.openmoji-2328 {
  background-position: -72px -576px;
}
.openmoji-1F5B1 {
  background-position: -144px -576px;
}
.openmoji-1F5B2 {
  background-position: -216px -576px;
}
.openmoji-1F4BD {
  background-position: -288px -576px;
}
.openmoji-1F4BE {
  background-position: -360px -576px;
}
.openmoji-1F4BF {
  background-position: -432px -576px;
}
.openmoji-1F4C0 {
  background-position: -504px -576px;
}
.openmoji-1F9EE {
  background-position: -576px -576px;
}
.openmoji-1F3A5 {
  background-position: -648px -576px;
}
.openmoji-1F39E {
  background-position: -0px -648px;
}
.openmoji-1F4FD {
  background-position: -72px -648px;
}
.openmoji-1F3AC {
  background-position: -144px -648px;
}
.openmoji-1F4FA {
  background-position: -216px -648px;
}
.openmoji-1F4F7 {
  background-position: -288px -648px;
}
.openmoji-1F4F8 {
  background-position: -360px -648px;
}
.openmoji-1F4F9 {
  background-position: -432px -648px;
}
.openmoji-1F4FC {
  background-position: -504px -648px;
}
.openmoji-1F50D {
  background-position: -576px -648px;
}
.openmoji-1F50E {
  background-position: -648px -648px;
}
.openmoji-1F56F {
  background-position: -0px -720px;
}
.openmoji-1F4A1 {
  background-position: -72px -720px;
}
.openmoji-1F526 {
  background-position: -144px -720px;
}
.openmoji-1F3EE {
  background-position: -216px -720px;
}
.openmoji-1FA94 {
  background-position: -288px -720px;
}
.openmoji-1F4D4 {
  background-position: -360px -720px;
}
.openmoji-1F4D5 {
  background-position: -432px -720px;
}
.openmoji-1F4D6 {
  background-position: -504px -720px;
}
.openmoji-1F4D7 {
  background-position: -576px -720px;
}
.openmoji-1F4D8 {
  background-position: -648px -720px;
}
.openmoji-1F4D9 {
  background-position: -0px -792px;
}
.openmoji-1F4DA {
  background-position: -72px -792px;
}
.openmoji-1F4D3 {
  background-position: -144px -792px;
}
.openmoji-1F4D2 {
  background-position: -216px -792px;
}
.openmoji-1F4C3 {
  background-position: -288px -792px;
}
.openmoji-1F4DC {
  background-position: -360px -792px;
}
.openmoji-1F4C4 {
  background-position: -432px -792px;
}
.openmoji-1F4F0 {
  background-position: -504px -792px;
}
.openmoji-1F5DE {
  background-position: -576px -792px;
}
.openmoji-1F4D1 {
  background-position: -648px -792px;
}
.openmoji-1F516 {
  background-position: -0px -864px;
}
.openmoji-1F3F7 {
  background-position: -72px -864px;
}
.openmoji-1F4B0 {
  background-position: -144px -864px;
}
.openmoji-1F4B4 {
  background-position: -216px -864px;
}
.openmoji-1F4B5 {
  background-position: -288px -864px;
}
.openmoji-1F4B6 {
  background-position: -360px -864px;
}
.openmoji-1F4B7 {
  background-position: -432px -864px;
}
.openmoji-1F4B8 {
  background-position: -504px -864px;
}
.openmoji-1F4B3 {
  background-position: -576px -864px;
}
.openmoji-1F9FE {
  background-position: -648px -864px;
}
.openmoji-1F4B9 {
  background-position: -0px -936px;
}
.openmoji-2709 {
  background-position: -72px -936px;
}
.openmoji-1F4E7 {
  background-position: -144px -936px;
}
.openmoji-1F4E8 {
  background-position: -216px -936px;
}
.openmoji-1F4E9 {
  background-position: -288px -936px;
}
.openmoji-1F4E4 {
  background-position: -360px -936px;
}
.openmoji-1F4E5 {
  background-position: -432px -936px;
}
.openmoji-1F4E6 {
  background-position: -504px -936px;
}
.openmoji-1F4EB {
  background-position: -576px -936px;
}
.openmoji-1F4EA {
  background-position: -648px -936px;
}
.openmoji-1F4EC {
  background-position: -0px -1008px;
}
.openmoji-1F4ED {
  background-position: -72px -1008px;
}
.openmoji-1F4EE {
  background-position: -144px -1008px;
}
.openmoji-1F5F3 {
  background-position: -216px -1008px;
}
.openmoji-270F {
  background-position: -288px -1008px;
}
.openmoji-2712 {
  background-position: -360px -1008px;
}
.openmoji-1F58B {
  background-position: -432px -1008px;
}
.openmoji-1F58A {
  background-position: -504px -1008px;
}
.openmoji-1F58C {
  background-position: -576px -1008px;
}
.openmoji-1F58D {
  background-position: -648px -1008px;
}
.openmoji-1F4DD {
  background-position: -0px -1080px;
}
.openmoji-1F4BC {
  background-position: -72px -1080px;
}
.openmoji-1F4C1 {
  background-position: -144px -1080px;
}
.openmoji-1F4C2 {
  background-position: -216px -1080px;
}
.openmoji-1F5C2 {
  background-position: -288px -1080px;
}
.openmoji-1F4C5 {
  background-position: -360px -1080px;
}
.openmoji-1F4C6 {
  background-position: -432px -1080px;
}
.openmoji-1F5D2 {
  background-position: -504px -1080px;
}
.openmoji-1F5D3 {
  background-position: -576px -1080px;
}
.openmoji-1F4C7 {
  background-position: -648px -1080px;
}
